workflows/[Compra Aprovada] Produto IA.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "pesquisa email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa email": {
      "main": [
        [
          {
            "node": "email existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email existe?": {
      "main": [
        [
          {
            "node": "atualiza status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa telefone": {
      "main": [
        [
          {
            "node": "telefone existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone existe?": {
      "main": [
        [
          {
            "node": "atualiza status1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-17T19:43:03.222Z",
  "id": "1iOxnrcppdaGWCag",
  "isArchived": false,
  "meta": null,
  "name": "[Compra Aprovada] Produto IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aprovada-ia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        -80
      ],
      "id": "c8781e2e-a83c-4090-a785-297cdc26efb0",
      "name": "Webhook",
      "webhookId": "3efc9428-4ffa-4c14-889d-6d0953aa05cd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cca66a8a-33b0-4107-8423-c1b835621ccc",
              "name": "Nome",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"buyer\"][\"name\"] }}",
              "type": "string"
            },
            {
              "id": "ac0c2313-215d-47b6-b215-eff17671d92b",
              "name": "Telefone",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"buyer\"][\"checkout_phone\"] }}",
              "type": "string"
            },
            {
              "id": "39a6e323-b3c1-4061-9ef2-6481fd5ec4ca",
              "name": "Email",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"buyer\"][\"email\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -80
      ],
      "id": "62733aff-cac9-4eb7-a450-6c5cb32e84d2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "acesso_ia_suporte",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Email\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        256,
        -80
      ],
      "id": "29fa2a61-a7c6-42ce-8d45-9fb77936b817",
      "name": "pesquisa email",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0cafca6-d690-4bc5-b170-fc3bf05c4396",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -80
      ],
      "id": "9e64e5c8-339e-4d01-a3ed-c0b57d80b376",
      "name": "email existe?"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "acesso_ia_suporte",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Telefone\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        16
      ],
      "id": "f039a765-31d4-4281-a55a-917254bdbc6c",
      "name": "pesquisa telefone",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0cafca6-d690-4bc5-b170-fc3bf05c4396",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        16
      ],
      "id": "6f962cb7-2d87-4dde-9d27-871f3f3ed889",
      "name": "telefone existe?"
    },
    {
      "parameters": {
        "tableId": "acesso_ia_suporte",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Nome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Telefone\"] }}"
            },
            {
              "fieldId": "data_inicio",
              "fieldValue": "={{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "status_compra",
              "fieldValue": "ativo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1296,
        80
      ],
      "id": "96ee8ae0-3528-4a77-b11a-6e437bd8fce6",
      "name": "pesquisa telefone1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "acesso_ia_suporte",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"telefone existe?\"].json[\"telefone\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_compra",
              "fieldValue": "ativo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1296,
        -112
      ],
      "id": "1807ce2a-ae20-4c74-8bfd-788aa1ef8e11",
      "name": "atualiza status1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "acesso_ia_suporte",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"email existe?\"].json[\"email\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_compra",
              "fieldValue": "ativo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        -160
      ],
      "id": "6c01a42c-ad0e-4fdd-9b76-793d94e7a22b",
      "name": "atualiza status",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.sorveteiroraiz.com",
            "user-agent": "Jodd HTTP",
            "content-length": "2489",
            "content-type": "application/json",
            "x-forwarded-for": "18.206.59.94",
            "x-forwarded-host": "webhook.sorveteiroraiz.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "77efa1e6cf5f",
            "x-hotmart-hottok": "Srl2QUHnnelVLh9p8MDePHUcKz3hqk1526245",
            "x-real-ip": "18.206.59.94",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "support_email": "support@hotmart.com.br",
                "has_co_production": false,
                "name": "Produto test postback2",
                "warranty_date": "2017-12-27T00:00:00Z",
                "is_physical_product": false,
                "id": 0,
                "ucode": "fb056612-bcc6-4217-9e6d-2a5d1110ac2f",
                "product_format_id": 1,
                "content": {
                  "has_physical_products": true,
                  "products": [
                    {
                      "name": "How to Make Clear Ice",
                      "is_physical_product": false,
                      "id": 4774438,
                      "ucode": "559fef42-3406-4d82-b775-d09bd33936b1"
                    },
                    {
                      "name": "Organizador de Poeira",
                      "is_physical_product": true,
                      "id": 4999597,
                      "ucode": "099e7644-b7d1-43d6-82a9-ec6be0118a4b"
                    }
                  ]
                }
              },
              "shipping": {
                "carrier": {
                  "service": "SEDEX",
                  "name": "CORREIOS"
                },
                "cost": {
                  "currency_value": "BRL",
                  "value": 25.5
                },
                "estimated_delivery_days": 7,
                "fulfillment": {
                  "service": "MANUAL"
                }
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 149.5
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 1350.5
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "sckPaymentLink": "sckPaymentLinkTest",
                "order_bump": {
                  "parent_purchase_transaction": "HP02316330308193",
                  "is_order_bump": true
                },
                "variants": {
                  "attributes": [
                    {
                      "name": "Tamanho",
                      "value": "Médio"
                    },
                    {
                      "name": "Cor",
                      "value": "Azul"
                    }
                  ],
                  "sku": "HTM_SANDBOX-01"
                },
                "approved_date": 1511783346000,
                "offer": {
                  "code": "test",
                  "coupon_code": "SHHUHA"
                },
                "is_funnel": false,
                "event_tickets": {
                  "amount": 1776455166279
                },
                "order_date": 1511783344000,
                "price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "payment": {
                  "installments_number": 12,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "business_model": "I",
                "transaction": "HP16015479281022",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "Q58388177J",
                  "name": "Affiliate name"
                }
              ],
              "producer": {
                "legal_nature": "Pessoa Física",
                "document": "12345678965",
                "name": "Producer Test Name"
              },
              "subscription": {
                "subscriber": {
                  "code": "I9OT62C3"
                },
                "plan": {
                  "name": "plano de teste",
                  "id": 123
                },
                "status": "ACTIVE"
              },
              "buyer": {
                "checkout_phone_code": "999999999",
                "address": {
                  "zipcode": "38400123",
                  "country": "Brasil",
                  "number": "10",
                  "address": "Avenida Francisco Galassi",
                  "city": "Uberlândia",
                  "state": "Minas Gerais",
                  "neighborhood": "Tubalina",
                  "complement": "Perto do shopping",
                  "country_iso": "BR"
                },
                "document": "69526128664",
                "name": "Teste Comprador",
                "last_name": "Comprador",
                "checkout_phone": "99999999900",
                "first_name": "Teste",
                "email": "testeComprador271101postman15@example.com",
                "document_type": "CPF"
              }
            },
            "id": "f9bdc82d-564c-4f1a-a9ac-2def461ab379",
            "creation_date": 1776455166287,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://webhook.sorveteiroraiz.com/webhook/aprovada-ia",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-04-17T19:43:03.222Z",
      "updatedAt": "2026-04-17T19:43:03.222Z",
      "role": "workflow:owner",
      "workflowId": "1iOxnrcppdaGWCag",
      "projectId": "MnGFQuvoDMTHLtMd"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-17T19:54:49.441Z",
  "versionId": "60d7b290-6175-4b94-b69d-52c6f0113f56"
}