workflows/[Compra Aprovada] Produto IA.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "pesquisa email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa email": {
      "main": [
        [
          {
            "node": "email existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email existe?": {
      "main": [
        [
          {
            "node": "atualiza status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa telefone": {
      "main": [
        [
          {
            "node": "telefone existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone existe?": {
      "main": [
        [
          {
            "node": "atualiza status1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria usuario": {
      "main": [
        [],
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-17T19:43:03.222Z",
  "id": "1iOxnrcppdaGWCag",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Compra Aprovada] Produto IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aprovada-ia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -80
      ],
      "id": "c8781e2e-a83c-4090-a785-297cdc26efb0",
      "name": "Webhook",
      "webhookId": "3efc9428-4ffa-4c14-889d-6d0953aa05cd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cca66a8a-33b0-4107-8423-c1b835621ccc",
              "name": "Nome",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "ac0c2313-215d-47b6-b215-eff17671d92b",
              "name": "Telefone",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"telefone\"] }}",
              "type": "string"
            },
            {
              "id": "39a6e323-b3c1-4061-9ef2-6481fd5ec4ca",
              "name": "Email",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"email\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -80
      ],
      "id": "62733aff-cac9-4eb7-a450-6c5cb32e84d2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "acesso_ia_suporte",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Email\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        256,
        -80
      ],
      "id": "29fa2a61-a7c6-42ce-8d45-9fb77936b817",
      "name": "pesquisa email",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0cafca6-d690-4bc5-b170-fc3bf05c4396",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -80
      ],
      "id": "9e64e5c8-339e-4d01-a3ed-c0b57d80b376",
      "name": "email existe?"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "acesso_ia_suporte",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Telefone\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        16
      ],
      "id": "f039a765-31d4-4281-a55a-917254bdbc6c",
      "name": "pesquisa telefone",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0cafca6-d690-4bc5-b170-fc3bf05c4396",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        16
      ],
      "id": "6f962cb7-2d87-4dde-9d27-871f3f3ed889",
      "name": "telefone existe?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "acesso_ia_suporte",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"telefone existe?\"].json[\"telefone\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_compra",
              "fieldValue": "ativo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1296,
        -112
      ],
      "id": "1807ce2a-ae20-4c74-8bfd-788aa1ef8e11",
      "name": "atualiza status1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "acesso_ia_suporte",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"email existe?\"].json[\"email\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_compra",
              "fieldValue": "ativo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        -208
      ],
      "id": "6c01a42c-ad0e-4fdd-9b76-793d94e7a22b",
      "name": "atualiza status",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "tableId": "acesso_ia_suporte",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Nome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Telefone\"] }}"
            },
            {
              "fieldId": "data_inicio",
              "fieldValue": "={{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "status_compra",
              "fieldValue": "ativo"
            },
            {
              "fieldId": "data_fim",
              "fieldValue": "={{ $now.plus({years: 1}).toFormat('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1296,
        80
      ],
      "id": "96ee8ae0-3528-4a77-b11a-6e437bd8fce6",
      "name": "cria usuario",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const buyer = $input.first().json.body.data.buyer;\nconst phoneCode = buyer.checkout_phone_code || '';\nconst rawPhone = buyer.checkout_phone || '';\n\nfunction normalizePhone(phone, ddd) {\n  let cleaned = String(phone).replace(/\\D/g, '');\n  \n  // Remove o 55 do começo se vier (pra tratar só o miolo)\n  if (cleaned.startsWith('55') && (cleaned.length === 12 || cleaned.length === 13)) {\n    cleaned = cleaned.substring(2);\n  }\n  \n  // Garante que o DDD está no começo\n  if (ddd && !cleaned.startsWith(ddd)) {\n    cleaned = ddd + cleaned;\n  }\n  \n  // Extrai o DDD pra decidir se remove o 9\n  const dddNum = parseInt(cleaned.substring(0, 2), 10);\n  \n  // Regra Meta/WhatsApp:\n  // - DDD >= 30 → remove o 9 (formato JID antigo)\n  // - DDD < 30  → mantém o 9 (SP/RJ/ES — JID já migrado pela Meta)\n  const removeO9 = dddNum >= 30;\n  \n  if (removeO9 && cleaned.length === 11 && cleaned.charAt(2) === '9') {\n    cleaned = cleaned.substring(0, 2) + cleaned.substring(3);\n  }\n  \n  return '55' + cleaned;\n}\n\nreturn [\n  {\n    json: {\n      nome: buyer.first_name,\n      email: buyer.email,\n      telefone: normalizePhone(rawPhone, phoneCode)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -80
      ],
      "id": "ac307f26-1181-476c-9bdf-5dc9d00034c5",
      "name": "Code"
    },
    {
      "parameters": {
        "tableId": "acesso_ia_suporte",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "=Lainê Francisco"
            },
            {
              "fieldId": "email",
              "fieldValue": "=ftutyacai@gmail.com"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "=556993838203"
            },
            {
              "fieldId": "data_inicio",
              "fieldValue": "={{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "status_compra",
              "fieldValue": "ativo"
            },
            {
              "fieldId": "data_fim",
              "fieldValue": "={{ $now.plus({years: 1}).toFormat('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        -384
      ],
      "id": "33761739-b929-4997-9021-49d3ee31df87",
      "name": "cria usuario1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.sorveteiroraiz.com",
            "user-agent": "Jodd HTTP",
            "content-length": "2003",
            "content-type": "application/json",
            "x-forwarded-for": "3.238.53.217",
            "x-forwarded-host": "webhook.sorveteiroraiz.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "77efa1e6cf5f",
            "x-hotmart-hottok": "Srl2QUHnnelVLh9p8MDePHUcKz3hqk1526245",
            "x-real-ip": "3.238.53.217",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "support_email": "suporte@sorveteiroraiz.com",
                "has_co_production": false,
                "name": "Time Sorveteiro Raiz - 24 horas",
                "warranty_date": "2026-05-21T00:00:00Z",
                "is_physical_product": false,
                "id": 7020328,
                "ucode": "f3f78329-2861-42d2-91ad-4d7a0bca959e",
                "product_format_id": 8
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 2.77
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 17.13
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 19.9
                },
                "recurrence_number": 1,
                "subscription_anticipation_purchase": false,
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "order_bump": {
                  "is_order_bump": false
                },
                "approved_date": 1778738559000,
                "offer": {
                  "code": "b5ajljkf",
                  "description": "Valor especial para alunos ativos"
                },
                "is_funnel": false,
                "order_date": 1778721419000,
                "date_next_charge": 1781438400000,
                "price": {
                  "currency_value": "BRL",
                  "value": 19.9
                },
                "payment": {
                  "billet_url": "https://hotm.co/bHP3575666254",
                  "billet_barcode": "34191097274324542054289356830003314460000001990",
                  "installments_number": 1,
                  "type": "BILLET"
                },
                "full_price": {
                  "currency_value": "BRL",
                  "value": 19.9
                },
                "business_model": "I",
                "invoice_by": "SELLER",
                "transaction": "HP3575666254",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "",
                  "name": ""
                }
              ],
              "producer": {
                "legal_nature": "Pessoa Jurídica",
                "document": "59187725000183",
                "name": "INSTITUTO SORVETEIRO RAIZ LTDA"
              },
              "subscription": {
                "subscriber": {
                  "code": "7HGXVTVQ"
                },
                "plan": {
                  "name": "Valor especial para alunos",
                  "id": 1249706
                },
                "status": "ACTIVE"
              },
              "buyer": {
                "checkout_phone_code": "16",
                "address": {
                  "zipcode": "14020300",
                  "country": "Brasil",
                  "number": "771",
                  "address": "Rua Cavalheiro Torquato Rizzi",
                  "city": "Ribeirão Preto",
                  "state": "SP",
                  "neighborhood": "Jardim São Luiz",
                  "country_iso": "BR"
                },
                "document": "59418702800",
                "name": "joel Antonio Sian",
                "last_name": "Sian",
                "checkout_phone": "16982435520",
                "first_name": "Joel",
                "email": "joel.sian50@gmail.com",
                "document_type": "CPF"
              }
            },
            "id": "5a381cc0-972c-4a84-8fc9-53eebbcb64ac",
            "creation_date": 1778738573912,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://webhook.sorveteiroraiz.com/webhook/aprovada-ia",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-04-17T19:43:03.222Z",
      "updatedAt": "2026-04-17T19:43:03.222Z",
      "role": "workflow:owner",
      "workflowId": "1iOxnrcppdaGWCag",
      "projectId": "MnGFQuvoDMTHLtMd"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-29T20:18:18.833Z",
  "versionId": "d5c7421d-90ed-4ce9-b5da-1a4bce6d0b5f"
}