workflows/[IA] VENDAS.json
{
  "active": true,
  "connections": {
    "OutputParser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser  Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        []
      ]
    },
    "Parser  Chain1": {
      "main": [
        [
          {
            "node": "Segmentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no.op2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1,2s": {
      "main": [
        [
          {
            "node": "no.op2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segmentos": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "ai_languageModel": [
        [
          {
            "node": "Parser  Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "pausar atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateUser": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getClient": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "camposIniciais": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "messages": {
      "main": [
        [
          {
            "node": "IA VENDAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "getContexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getContexto": {
      "main": [
        [
          {
            "node": "Oferta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GeraUUID": {
      "main": [
        [
          {
            "node": "CreateUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        []
      ]
    },
    "Espere": {
      "main": [
        [
          {
            "node": "Memória Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memória Inicial": {
      "main": [
        [
          {
            "node": "Espere",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memória Final": {
      "main": [
        [
          {
            "node": "Concatena Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatena Mensagens": {
      "main": [
        [
          {
            "node": "Compara Memórias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compara Memórias": {
      "main": [
        [
          {
            "node": "Limpar Memória",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Memória": {
      "main": [
        [
          {
            "node": "UserMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UserMessage": {
      "main": [
        [
          {
            "node": "messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "IA VENDAS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Modelo IA": {
      "ai_languageModel": [
        [
          {
            "node": "IA VENDAS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "getClient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ativar para teste": {
      "main": [
        []
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "searchobjecoes",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "searchobjecoes": {
      "ai_tool": [
        [
          {
            "node": "IA VENDAS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Oferta": {
      "main": [
        [
          {
            "node": "Prompt_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt_": {
      "main": [
        [
          {
            "node": "getClient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GeraUUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Add na Memória",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add na Memória": {
      "main": [
        [
          {
            "node": "Memória Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pausar atendimento": {
      "main": [
        [],
        [
          {
            "node": "camposIniciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "viroucliente": {
      "ai_tool": [
        [
          {
            "node": "IA VENDAS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "searchobjecoes",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "IA VENDAS": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-12T15:36:02.172Z",
  "id": "tvXbCp5gi5RVGkqP",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[IA] VENDAS",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Whatsapp message to be splitted and formated: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural e Humanizada, afinal estamos conversando com um humano.\n\n### Jamais separe uma mensagem vazia.\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do WhatsApp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- _itálico_ (extremamente raro)\n            - `link` (usar sempre em todos os links)\n\nTudo o que for link, deve ser exibido limpo e direto, **sem texto descritivo ou âncoras**, usando somente o domínio puro como EXEMPLO: `https://link.com.br/exemplo`\n\n❗ Nunca use markdown no estilo `[texto](link)` ou `Texto (link)`, apenas o link puro.\n\nSe detectar um link com o padrão como por exemplo `https://lp.sorveteiroraiz.com/curso-profissao-sorveteiro-pg-ia-vendas`, corrija automaticamente para `lp.sorveteiroraiz.com/curso-profissao-sorveteiro-pg-ia-vendas`, pois o domínio com www não funciona."
            }
          ]
        }
      },
      "id": "18ea9d66-669c-469b-aed4-bc98a4e08d80",
      "name": "Parser  Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        4464,
        1104
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "danivendas01",
        "options": {}
      },
      "id": "6e5b84ff-032c-479a-88e8-8f7b549144ef",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2272,
        1312
      ],
      "webhookId": "01b980a0-8dbe-4b4d-8857-2321c4c5875b"
    },
    {
      "parameters": {
        "content": "## PASSO 5 - ORGANIZA E ENVIA AS MENSAGENS PARA O CLIENTE",
        "height": 674,
        "width": 2068,
        "color": 6
      },
      "id": "b3ec306a-ab8b-4577-97fc-43ca927d4863",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4336,
        848
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "id": "8f917b62-9789-4a4b-962e-32fc8b770c3d",
      "name": "OutputParser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4640,
        1328
      ]
    },
    {
      "parameters": {},
      "id": "d27e3860-df77-416f-868a-17b1a06210cc",
      "name": "Replace Me1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5232,
        1184
      ]
    },
    {
      "parameters": {},
      "id": "2e212fb6-65f3-4d5f-8bfd-7b85a997fd29",
      "name": "no.op2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6192,
        1152
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "47f2bc38-805f-4806-965d-950d321190bc",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5024,
        1104
      ]
    },
    {
      "parameters": {
        "amount": 1.2
      },
      "id": "f456b832-6ec3-4235-ac81-02884b04eef0",
      "name": "1,2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5968,
        1168
      ],
      "webhookId": "e5987401-8b77-4a84-8693-25fd8898cd94"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "033d30c2-42e5-41f7-a28b-98245279a37f",
      "name": "Segmentos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4800,
        1104
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "75418645-7739-4422-97de-c75721d3f651",
      "name": "OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4400,
        1312
      ],
      "credentials": {
        "openAiApi": {
          "id": "QzQb6Q9G3hGozb9v",
          "name": "OpenAi - Dani 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## PASSO 4 - AGENTE DE IA COM INTELIGÊNCIA E TOOLS",
        "height": 414,
        "width": 1039,
        "color": 6
      },
      "id": "4007415d-59fc-4794-b48f-51732cd2b8cd",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3184,
        848
      ]
    },
    {
      "parameters": {
        "content": "## PASSO 2 - CRIA USUÁRIO NO BANCO DE DADOS SUPABASE",
        "height": 830,
        "width": 1099,
        "color": 6
      },
      "id": "271cec11-ca79-4508-92ef-86522ea3f11a",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        880
      ]
    },
    {
      "parameters": {
        "content": "## PASSO 1 - CREDENCIAIS, DADOS, E PROMPT AGENTE",
        "height": 634,
        "width": 1879,
        "color": 6
      },
      "id": "39e724fb-173a-441c-8d23-b34e519cd762",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2384,
        944
      ]
    },
    {
      "parameters": {
        "tableId": "atendimento_wpp_vendas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('camposIniciais').item.json.meta.nomeCliente }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"Code\"].json[\"telefoneCliente\"] }}"
            },
            {
              "fieldId": "idmensagem",
              "fieldValue": "={{ $('camposIniciais').item.json.content.idMensagem }}"
            },
            {
              "fieldId": "sessionid",
              "fieldValue": "={{ $json.data }}"
            }
          ]
        }
      },
      "id": "0ec4cca4-732e-4230-a758-4f1a6ab43aaf",
      "name": "CreateUser",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        1472
      ],
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "atendimento_wpp_vendas",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Webhook').item.json.body.contact.phoneNumber }}"
            }
          ]
        }
      },
      "id": "171d04b8-5bcf-482f-90a7-52baeebfaaec",
      "name": "getClient",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -288,
        1312
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9ecf2fc-da2c-4f44-897a-5dc0a2f2f379",
              "name": "meta.telefoneCliente",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"contact\"][\"phoneNumber\"] }}",
              "type": "string"
            },
            {
              "id": "dab7ca54-c3d2-4a36-a9ca-a0ebbd375ef5",
              "name": "meta.nomeCliente",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"contact\"][\"name\"] }}",
              "type": "string"
            },
            {
              "id": "81612acf-1b66-4c8e-82e4-ce8c77b31334",
              "name": "content.mensagem",
              "value": "={{ \n  $json.body?.content || \n\n  $json.body?.data?.message?.extendedTextMessage?.text || \n  $json.body?.data?.message?.imageMessage?.caption || \n  $json.body?.data?.message?.conversation || \n  $json?.message?.text || \n  $json?.message?.caption || \n  null \n}}",
              "type": "string"
            },
            {
              "id": "cc7dcfe1-8ad7-4fe8-93ec-8f643c7d08c7",
              "name": "content.tipoMensagem",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"contact\"][\"lastMessageData\"][\"messageType\"] }}",
              "type": "string"
            },
            {
              "id": "2dfc64f4-b222-4ea7-b095-fdd96d9fcb95",
              "name": "content.idMensagem",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"contact\"][\"id\"] }}",
              "type": "string"
            },
            {
              "id": "255b9c45-7769-4d09-9c50-61dcdfb7c09d",
              "name": "app.debouncerTime",
              "value": "20",
              "type": "string"
            },
            {
              "id": "fc7c5c8f-b505-4a43-ae07-51eea58d6f80",
              "name": "linkPreview",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "e30bbf8c-d5da-4410-b875-8dfe4b301798",
              "name": "Digitando",
              "value": 6400,
              "type": "number"
            },
            {
              "id": "c4f557bd-72f1-4507-8d9d-c2a590eea2b8",
              "name": "content.quoted",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"contact\"][\"lastMessageData\"][\"message\"] }}\n{{ $json.body.data.message.imageMessage.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "38b04b7e-a5eb-451d-998e-890c2401ac01",
      "name": "camposIniciais",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        1312
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7158aa0-84e0-44b1-8629-bf23fb4c0766",
              "name": "=messages",
              "value": "={{ $item(\"0\").$node[\"UserMessage\"].json[\"userMessage\"] }}",
              "type": "string"
            },
            {
              "id": "0c4c3b74-297a-4cf2-b2b8-0feefad328ec",
              "name": "sessionId",
              "value": "={{ $item(\"0\").$node[\"getClient\"].json[\"sessionid\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ccba2637-b07b-491b-935e-515ca59d152d",
      "name": "messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        1264
      ]
    },
    {
      "parameters": {
        "content": "## PASSO 3 - DEFINE O TIPO DE MENSAGEM E ORGANIZA PARA O AGENTE",
        "height": 954,
        "width": 2019,
        "color": 6
      },
      "id": "8889f25a-3118-45fc-ae60-2762c542cd9d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        848
      ]
    },
    {
      "parameters": {
        "content": "### - Recebe dados da Evolution API [Webhook]\n\n### - Tratamento e Organização dos dados [camposIniciais]\n\n### - Combinar dados recebidos [unificaDados]",
        "width": 660,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1968,
        1072
      ],
      "typeVersion": 1,
      "id": "f9819301-787d-46f0-ab5f-01c86e8f01ab",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "\n\n## SISTEMA RAG REANKER",
        "height": 484,
        "width": 1040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3184,
        1328
      ],
      "typeVersion": 1,
      "id": "467cd9b2-6c97-404b-a013-e544c2ed273d",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "### - Verifica se já existe um cliente cadastrado\n\n### - Se sim, prossegue o fluxo\n\n### - Se não, cria um cliente e um id do chat e prossegue o fluxo",
        "width": 660,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        944
      ],
      "typeVersion": 1,
      "id": "7252fa2d-3e53-4ede-9a29-e32706c4f19c",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "jsCode": "// Extrai os números dos campos telefoneCliente e telefoneEmpresa removendo \"@s.whatsapp.net\"\nreturn items.map(item => {\n  const clienteRaw = item.json.meta?.telefoneCliente || '';\n  const empresaRaw = item.json.meta?.telefoneEmpresa || '';\n\n  const telefoneCliente = clienteRaw.split('@')[0];\n  const telefoneEmpresa = empresaRaw.split('@')[0];\n\n  return {\n    json: {\n      telefoneCliente,\n      telefoneEmpresa\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        1312
      ],
      "id": "8fa0119d-deaa-4b0a-9b6a-dfd29221ae95",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "disparo_mensagem_ia_vendas",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $node[\"Webhook\"].json[\"body\"][\"contact\"][\"phoneNumber\"] }}"
            }
          ]
        }
      },
      "id": "c7fb6967-00c1-4cf7-a79b-cbf8e8ca8b2e",
      "name": "getContexto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1136,
        1312
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "disparo_mensagem_ia_vendas",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Code\"].json[\"telefoneCliente\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4896,
        928
      ],
      "id": "b0686e0e-d5eb-4be1-a7db-3ef6c754dc25",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "action": "generate"
      },
      "id": "4c69730f-47db-4b8d-9caa-699eab193d3f",
      "name": "GeraUUID",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        80,
        1472
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $item(\"0\").$node[\"camposIniciais\"].json[\"meta\"][\"telefoneCliente\"] }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5424,
        928
      ],
      "id": "312d7659-99f4-4369-a5e9-150ddd00a06c",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "WKYrbj8mpqYSkF5s",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        1264
      ],
      "id": "e146413d-3825-4203-8718-bc1914055641",
      "name": "Espere",
      "webhookId": "5efbac78-7c17-44b9-92cc-c3078c79f8d8"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Memória Inicial",
        "key": "={{ $item(\"0\").$node[\"camposIniciais\"].json[\"meta\"][\"telefoneCliente\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1328,
        1264
      ],
      "id": "91808841-98fa-4236-b89f-53aba0a8ef71",
      "name": "Memória Inicial",
      "credentials": {
        "redis": {
          "id": "WKYrbj8mpqYSkF5s",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Memória Final",
        "key": "={{ $item(\"0\").$node[\"camposIniciais\"].json[\"meta\"][\"telefoneCliente\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1712,
        1264
      ],
      "id": "c2bba851-1014-4bc4-8773-01c222305d79",
      "name": "Memória Final",
      "credentials": {
        "redis": {
          "id": "WKYrbj8mpqYSkF5s",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acesse os arrays das variáveis\nconst memoriaInicialArray = $('Memória Inicial').all()[0].json['Memória Inicial'];\nconst memoriaFinalArray = $json['Memória Final'];\n\n// Verifique se as variáveis são arrays e junte os elementos em strings\nconst memoriaInicial = Array.isArray(memoriaInicialArray) ? memoriaInicialArray.join(' ') : '';\nconst memoriaFinal = Array.isArray(memoriaFinalArray) ? memoriaFinalArray.join(' ') : '';\n\n// Retorne as variáveis resultantes\nreturn {\n  memoriaInicial,\n  memoriaFinal\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        1264
      ],
      "id": "e4c948b7-757d-4e97-aa05-7d7501cea54c",
      "name": "Concatena Mensagens"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbe500bb-8a66-4f0c-93df-9631e3bdabfc",
              "leftValue": "={{ $('Concatena Mensagens').all()[0].json.memoriaInicial }}",
              "rightValue": "={{ $('Concatena Mensagens').all()[0].json.memoriaFinal }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2112,
        1264
      ],
      "id": "0b7cb768-fa49-42d6-ae83-d3010f115084",
      "name": "Compara Memórias"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $item(\"0\").$node[\"camposIniciais\"].json[\"meta\"][\"telefoneCliente\"] }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2304,
        1264
      ],
      "id": "caa35529-6466-40a1-bc54-6cba0cfcf3c1",
      "name": "Limpar Memória",
      "credentials": {
        "redis": {
          "id": "WKYrbj8mpqYSkF5s",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18e16067-bcdb-4bda-9c22-e1869c550af6",
              "name": "userMessage",
              "value": "={{ $('Compara Memórias').all()[0].json.memoriaFinal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        1264
      ],
      "id": "0b27a0ad-7ddd-435a-80e1-ff388bd72e02",
      "name": "UserMessage"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('messages').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "72e297f2-ab00-4809-991d-7d25cf5870b6",
      "name": "Memoria",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        3680,
        960
      ],
      "credentials": {
        "redis": {
          "id": "WKYrbj8mpqYSkF5s",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0b7d95d6-dcb7-4d54-b805-972a7bd14d73",
      "name": "Modelo IA",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3472,
        960
      ],
      "credentials": {
        "openAiApi": {
          "id": "QzQb6Q9G3hGozb9v",
          "name": "OpenAi - Dani 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        432,
        1472
      ],
      "id": "0485f16e-2687-4a43-927b-a9bc3d184d00",
      "name": "Wait1",
      "webhookId": "ba2fcbee-aad3-4634-a1d3-ff161bc5abfd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/Pp4VlExr6e0qVmtod5fh",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nome\": \"{{ $('camposIniciais').item.json.meta.nomeCliente }}\",\n  \"telefone\": \"{{ $('camposIniciais').item.json.meta.telefoneCliente }}\",\n  \"type\": \"{{ $('camposIniciais').item.json.content.tipoMensagem }}\",\n  \"text\": {\n    \"body\": \"{{ $json.body }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4656,
        928
      ],
      "id": "c0c0d842-0049-4687-8a0e-9534a3654a46",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Pega os dados dos nós anteriores\nconst camposIniciais = items[0].json;\nconst respostaIA = $input.item.json.output || $input.item.json.text || \"\";\n\n// Função para limpar e escapar texto\nfunction limparTexto(texto) {\n  if (!texto) return \"\";\n  \n  return String(texto)\n    .replace(/\\\\/g, '\\\\\\\\')     // Escapa barras invertidas primeiro\n    .replace(/\"/g, '\\\\\"')       // Escapa aspas duplas\n    .replace(/\\n/g, '\\\\n')      // Escapa quebras de linha\n    .replace(/\\r/g, '\\\\r')      // Escapa retorno de carro\n    .replace(/\\t/g, '\\\\t');     // Escapa tabulações\n}\n\n// Monta o objeto com os dados limpos\nconst mensagem = {\n  nome: limparTexto(camposIniciais.meta?.nomeCliente || \"Higor Leite\"),\n  telefone: String(camposIniciais.meta?.telefoneCliente || \"5511994151865\"),\n  type: \"message\",\n  text: \"\",\n  body: limparTexto(respostaIA)\n};\n\n// Retorna o JSON limpo e seguro\nreturn [{\n  json: mensagem\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4416,
        928
      ],
      "id": "ec58a1e1-21a7-4382-abb6-47df388f8290",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=34844971-d92c-45a4-8cdd-6a93ab878050"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2368,
        784
      ],
      "id": "041e14cd-0296-4a7e-b33b-ac41d8718ecb",
      "name": "Limpar Memória1",
      "credentials": {
        "redis": {
          "id": "WKYrbj8mpqYSkF5s",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "990aa030-a2c7-40c0-8ed6-fefa0c21af0b",
              "leftValue": "={{ $json.body.contact.phoneNumber }}",
              "rightValue": "5511984151865",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "db83f378-1064-492e-b06c-54ffc34b07fd",
              "leftValue": "={{ $json.body.contact.phoneNumber }}",
              "rightValue": "5512981143224",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2160,
        784
      ],
      "id": "1613c380-a651-4085-b9e4-241c21fc052b",
      "name": "Ativar para teste"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3280,
        1648
      ],
      "id": "0eccbaaf-7e02-41d2-92f1-3a8c4d6815a2",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "QzQb6Q9G3hGozb9v",
          "name": "OpenAi - Dani 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Essa tool tem a função de buscar as informações necessarias dentro do banco de dados para uma excelente resposta dentro do contexto perguntado\n\nÉ de extrema importancia que o texto que você ira usar como busca seja 100% o mesmo texto saido do input do \"IA VENDAS\" ",
        "tableName": {
          "__rl": true,
          "value": "ps_objecoes",
          "mode": "list",
          "cachedResultName": "ps_objecoes"
        },
        "topK": 15,
        "useReranker": true,
        "options": {
          "queryName": "match_ps_objecoes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3280,
        1488
      ],
      "id": "7d422b4a-ee6a-4f76-99f2-d3f159cd760d",
      "name": "searchobjecoes",
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa4d5d29-e6f1-4bce-b5ff-4575b553a077",
              "name": "systemMessageAgente",
              "value": "=<IAConfig>\n\n  <Segurança>\n    <Regra> Você se chama Dani, você é da equipe de Suporte do Sorveteiro Raiz,e é uma especialista em vendas, e em quebra de objeções, sendo totalmente Humanizada e Natural. O objetivo é converter qualquer tipo de pessoa em cliente, criando uma conexão genuína e humana.\nA comunicação deve ser amigável, empática e personalizada, mostrando interesse real pela pessoa, entendendo suas necessidades, desejos e objeções antes de oferecer o produto. Crie relacionamento, como se estivesse conversando com um amigo, usando linguagem natural, próxima e calorosa.No final, a pessoa deve sentir que falou com alguém de confiança, que realmente o entendeu e o ajudou a tomar a melhor decisão de compra</Regra>\n\n<RegrasAbsolutasDeTools>\n\n  <RegraSuprema prioridade=\"MÁXIMA\">\n    ANTES de formular QUALQUER resposta que envolva:\n    - Informações sobre o curso\n    - Quebra de objeções\n    - Argumentos de venda\n    - Benefícios do produto\n    - Diferenciais\n    - Casos de sucesso\n    - Resposta a dúvidas sobre conteúdo\n    \n    Você DEVE OBRIGATORIAMENTE:\n    1. Acionar a tool \"searchobjecoes\" e enviar para a query a mesma mensagem de entrada que o lead enviou, sem abreviar e nem mudar nenhuma palavra\n    2. Aguardar o retorno\n    3. USAR APENAS as informações retornadas\n    4. NUNCA criar respostas sem consultar a tool\n    5. Reforçando NUNCA criar respostas sem consultar a tool \"searchobjecoes\" isso e PRIORIDADE MÁXIMA\n  </RegraSuprema>\n\n   <ExcecoesUnicas>\n    Você PODE responder diretamente APENAS para:\n    - Cumprimentos simples: \"Oi\", \"Olá\", \"Bom dia\"\n    - Confirmações: \"Ok\", \"Entendi\", \"Sim\"\n    - Despedidas: \"Tchau\", \"Até logo\"\n    - Agradecimentos: \"Obrigado\", \"Valeu\"\n    \n    TUDO O RESTO = ACIONAR TOOL PRIMEIRO\n  </ExcecoesUnicas>\n\n    <ProcessoObrigatorio>\n    Para CADA mensagem do lead, siga esta ordem:\n    \n    PASSO 1: Classificar a mensagem\n    - É cumprimento/despedida? → Responda direto\n    - É QUALQUER outra coisa? → Vá para PASSO 2\n    \n    PASSO 2: Identificar a intenção\n    - Dúvida sobre o curso?\n    - Objeção?\n    - Pergunta sobre preço/conteúdo?\n    - Interesse em comprar?\n    → ACIONE a tool com query específica\n    \n    PASSO 3: Formular resposta APENAS com base no retorno da tool\n    \n    PASSO 4: Adicionar CTA curioso (ver seção CTAs)\n  </ProcessoObrigatorio>\n\n  <ExemplosDeQueries>\n    Lead diz: \"Não tenho tempo agora\"\n    → Query: \"objeção falta de tempo\"\n    \n    Lead diz: \"O que vou aprender?\"\n    → Query: \"conteúdo do curso ementa\"\n    \n    Lead diz: \"Está caro\"\n    → Query: \"objeção preço alto investimento\"\n    \n    Lead diz: \"Vou pensar\"\n    → Query: \"objeção vou pensar procrastinação\"\n    \n    Lead diz: \"Como funciona?\"\n    → Query: \"funcionamento do curso metodologia\"\n  </ExemplosDeQueries>\n\n  <RegraDeOuro>\n    Se você está em DÚVIDA se deve acionar a tool \"searchobjecoes\":\n    → ACIONE A TOOL\n    \n    É melhor buscar informação desnecessária do que inventar resposta.\n  </RegraDeOuro>\n\n</RegrasAbsolutasDeTools>\n\n   <Regra>Preste muita atenção na Data e hora atual: {{ new Date($now).toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" }) }}</Regra>\n    \n   <Regra>Sempre se Apresente se {{ $node[\"getContexto\"].json[\"mensagem\"] }} estiver Vazia</Regra>\n\n    <Regra>Sempre envie Mensagens curtas, no maximo 600 caracteres</Regra>\n\n    <Regra>Para duvidas sobre aulas do curso, sobre conteudo do curso, oque tem dentro do curso.Acione a tool \"searchobjecoes\" E envie o conteudo do curso, inclusive a Ementa</Regra>\n\n    <Regra> NUNCA inventar receitas, dar dicas sobre receitas, assumir ou chutar valores</Regra>\n\n    <Regra> TODAS as informações relacionadas a nome do produto, descrição, diferenciais e detalhes devem ser obtidas EXCLUSIVAMENTE através da tool \"searchobjecoes\".</Regra>\n\n    <Regra> As informações de preço, formas de pagamento e link de compra devem ser obtidas EXCLUSIVAMENTE pelos seguintes caminhos:</Regra>\n\n    <Regra>• Preço: {{ $node[\"Oferta\"].json[\"Preço\"] }}</Regra>\n\n    <Regra>• Formas de Pagamento: {{ $node[\"Oferta\"].json[\"Forma de Pagamento\"] }}</Regra>\n\n    <Regra>• Link Cartão/PIX/Boleto a vista:{{ $item(\"0\").$node[\"Oferta\"].json[\"Pix, Cartão de Crédito e Boleto avista\"] }}</Regra>\n\n    <Regra>Link Boleto Parcelado:{{ $item(\"0\").$node[\"Oferta\"].json[\"Boleto Parcelado\"] }}</Regra>\n\n    <Regra> Nunca envie links sem o cliente pedir — *com exceção da situação abaixo*:</Regra>\n\n    <Regra> ✅ SE o lead demonstrar QUALQUER interesse em comprar, você TEM AUTORIZAÇÃO TOTAL para enviar IMEDIATAMENTE o link de pagamento:{{ $item(\"0\").$node[\"Oferta\"].json[\"Pix, Cartão de Crédito e Boleto avista\"] }}</Regra>\n\n    <Regra> Nunca se apresente se a mensagem de contexto ({{ $node[\"getContexto\"].json[\"mensagem\"] }}) estiver preenchida.</Regra>\n\n    <Regra> NUNCA use CTAs fracos como: \"Quer saber mais?\", \"Fico à disposição\", \"Tem alguma dúvida?\". Use sempre chamadas diretas para ação.</Regra>\n\n    <Regra> Não trate o lead como comprador pronto. Vá conduzindo com perguntas estratégicas.</Regra>\n\n    <Regra> Nunca deixe o lead escapar sem tentar contornar a objeção. NÃO aceite \"vou pensar\" como resposta final.</Regra>\n\n    <Regra> Se não tiver contexto, tudo bem se apresentar. Mas se tiver contexto, pule a apresentação SEMPRE.</Regra>\n\n    <Regra>Preste bastante atenção na Data e hora atual: {{ new Date($now).toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" }) }}</Regra>\n\n    <Regra> Nunca inventar receitas de sorvete e nunca falar que da para fazer os sorvetes na batedeira, o Profissão sorveteiro e para profissionais, o curso não e para fazer receitas em casa</Regra>\n    <Regra> Para informações sobre o curso sempre acione a funcao tool \"searchobjecoes\" </Regra>\n\n    <Regra>✅ se o lead disser: já paguei o boleto, já sou aluno, já me inscrevi, já paguei  \ndeve responder: que maravilha, seja muito bem vindo a família sorveteiro raiz. assim que a sua inscrição entrar no nosso sistema, a ana, do nosso time de suporte ao aluno vai entrar em contato com você pelo whatsapp, fique de olho! é um prazer ter você conosco!  \n\n➡️ em seguida, acionar a action tool \"viroucliente\"</regra>\n\n  </Segurança>\n\n  <ObjetivoFinal>Converter qualquer tipo de lead em VENDA. Usando linguagem Humanizada</ObjetivoFinal>\n\n  <Persona>\n    <Nome>Dani</Nome>\n    <Estilo>Mulher conservadora de 40 anos, educada</Estilo>\n    <Tom>direta, vendedora especializada, estratégica, empática, provocativa</Tom>\n    <Evitar>fala robótica, emojis exagerados, palavras difíceis, formalidades, CTAs fracos</Evitar>\n    <Foco>venda, urgência, solução real, despertar necessidade</Foco>\n  </Persona>\n\n  <Produto>\n    <ConsultaViaTool> Informações de nome, descrição, diferenciais e detalhes do produto devem ser buscadas sempre via \"searchobjecoes\".</ConsultaViaTool>\n    <ConsultaViaNode> Preço: {{ $node[\"Oferta\"].json[\"Preço\"] }} | Formas de Pagamento: {{ $node[\"Oferta\"].json[\"Forma de Pagamento\"] }} | Link de Compra:{{ $item(\"0\").$node[\"Oferta\"].json[\"Pix, Cartão de Crédito e Boleto avista\"] }}</ConsultaViaNode>\n  </Produto>\n\n  <Pagamento>\n    <ConsultaViaNode> Formas de pagamento e preço sempre pelos caminhos indicados no node \"Oferta\".</ConsultaViaNode>\n\n <Se test=\"lead.menciona('Até quando posso pagar o Boleto?')\">\n      <Acao tool=\"searchobjecoes\" finalidade=\"consultar duvidas sobre pagamento\" />\n    </Se>\n  </Pagamento>\n\n  <Condicionais>\n    <Se test=\"lead.menciona('preço', 'valor', 'custo', 'investimento')\">\n      <Se test=\"contexto.contem('já enviei informações do curso')\">\n        <Acao texto=\"O valor do curso é {{ $node['Oferta'].json['Preço'] }}. Pode pagar via {{ $node['Oferta'].json['Forma de Pagamento'] }}. Se quiser garantir sua vaga agora, é só acessar:{{ $item(\"0\").$node[\"Oferta\"].json[\"Pix, Cartão de Crédito e Boleto avista\"] }}\" />\n      </Se>\n      <Se test=\"!contexto.contem('já enviei informações do curso')\">\n        <Acao texto=\"Te explico sim! Mas antes, posso te mostrar o que esse curso entrega? É isso que justifica o investimento.\" />\n        <Acao tool=\"searchobjecoes\" finalidade=\"consultar informações detalhadas do produto\" />\n        <Acao texto=\"O valor do curso é {{ $node['Oferta'].json['Preço'] }}. Pode pagar via {{ $node['Oferta'].json['Forma de Pagamento'] }}. Se quiser garantir sua vaga agora, é só acessar:{{ $item(\"0\").$node[\"Oferta\"].json[\"Pix, Cartão de Crédito e Boleto avista\"] }}\" />\n      </Se>\n    </Se>\n\n    <Se test=\"lead.menciona('tempo', 'correria', 'agenda', 'rotina')\">\n      <Acao texto=\"Pode ficar tranquilo. Você tem acesso por 1 ano e estuda no seu ritmo.\" />\n    </Se>\n\n    <Se test=\"lead.menciona('máquina', 'equipamento', 'vou começar', 'não tenho máquina')\">\n      <Acao tool=\"searchobjecoes\"/>\n    </Se>\n\n    <Se test=\"lead.menciona('comprar', 'fechar', 'pagar', 'adquirir', 'quero', 'me manda o link', 'garantir vaga')\">\n      <Acao texto=\"Perfeito! Aqui está o link de pagamento direto:{{ $item(\"0\").$node[\"Oferta\"].json[\"Pix, Cartão de Crédito e Boleto avista\"] }}\" />\n    </Se>\n\n    <Se test=\"lead.menciona('o que tem no curso', 'me fala do curso', 'o que oferece', 'conteúdo do curso', 'aulas')\">\n      <Acao tool=\"searchobjecoes\" finalidade=\"consultar informações detalhadas do produto\" />\n    </Se>\n  </Condicionais>\n\n\n  <Fechamento>\n    <CTA>sempre envie uma mensagem de argumentação Boa, quebrando a objeção e deixando o lead curioso para comprar</CTA>\n  </Fechamento>\n\n  <ReforçoFinal>\n    <Regra> Nunca invente informações de produto. Use sempre \"searchobjecoes\" para nome, descrição, diferenciais e detalhes.</Regra>\n\n    <Regra> Preço, formas de pagamento e link de compra exclusivamente pelos caminhos do node \"Oferta\".</Regra>\n\n    <Regra> Nunca se apresente se contexto estiver preenchido.</Regra>\n\n    <Regra> Nunca use CTAs fracos no fim.</Regra>\n\n    <Regra> Foque sempre na urgência, na dor do cliente e no valor da solução.</Regra>\n\n    <Regra> Sua base de conhecimento esta toda na Tool \"searchobjecoes\" Sempre consultar OBRIGATÓRIAMENTE antes de qualquer resposta</Regra>\n\n    <Regra>NUNCA enviar mensagens Longas. Tenha um limite de no maximo 600  caracteres</Regra>\n\n   <InstrucoesSupremas prioridade=\"ABSOLUTA\">\n  \n  <Regra1>\n    Para QUALQUER mensagem que NÃO seja cumprimento/despedida:\n    PRIMEIRO → Acionar tool \"searchobjecoes\"\n    DEPOIS → Formular resposta baseada APENAS no retorno\n    NUNCA → Criar resposta sem consultar a tool\n  </Regra1>\n\n  <Regra2>\n    TODA resposta DEVE terminar com:\n    - UMA pergunta específica, OU\n    - UMA provocação curiosa, OU\n    - UM próximo passo claro\n    \n    NUNCA termine com frases genéricas tipo \"fico à disposição\"\n  </Regra2>\n\n  <Regra3>\n    Se o lead não responder após seu CTA:\n    - 1ª tentativa: Mude a abordagem (use pergunta diferente)\n    - 2ª tentativa: Use provocação/urgência\n  </Regra3>\n\n  <ValidacaoAutomatica>\n    Antes de enviar QUALQUER mensagem, pergunte-se:\n    ✓ Consultei a tool \"searchobjecoes\"? (Se não for cumprimento, a resposta DEVE ser SIM)\n    ✓ Terminei com pergunta/provocação específica? (DEVE ser SIM)\n    ✓ Usei CTAs proibidos? (DEVE ser NÃO)\n    \n    Se qualquer resposta estiver errada: REFAÇA a mensagem\n  </ValidacaoAutomatica>\n\n</InstrucoesSupremas>\n\n\n  </ReforçoFinal>\n\n</IAConfig>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1583db87-6082-4093-8830-6f57c38e63a5",
      "name": "Prompt_",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        1312
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ad262f3-a7f6-4a86-a840-1dff931a959a",
              "name": "Preço",
              "value": "O valor normal é R$ 3.097,00, mas liberamos um grande desconto para você de R$ 1.100,00\n\nPor apenas: 12 x de R$ 206,54 Ou R$ 1.997,00 à vista no cartão, boleto a vista ou pix\n\nNo boleto parcelado em até 12X DE R$ 227,22",
              "type": "string"
            },
            {
              "id": "1178fd11-4d1d-4ff2-9ae2-431edfc5a409",
              "name": "Forma de Pagamento",
              "value": "Pix, Cartão de Crédito, Boleto avista ou Boleto Parcelado em até 12x",
              "type": "string"
            },
            {
              "id": "41b8d959-6639-463e-9c15-0a374a87cd2f",
              "name": "Pix, Cartão de Crédito e Boleto avista",
              "value": "=https://pay.hotmart.com/F84276539R?off=u9gxnorh&checkoutMode=10",
              "type": "string"
            },
            {
              "id": "a2a2923d-e012-4c0b-8cd7-980fe9427a8a",
              "name": "Boleto Parcelado",
              "value": "=https://pay.tmbeducacao.com.br/EduSorveteir/I9B116679DQ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        1312
      ],
      "id": "3bb03aa1-9676-4f24-ae74-17f12bffe6c0",
      "name": "Oferta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e77cc7c-48f4-4cbe-94e7-6d211db67002",
              "leftValue": "={{ $('getClient').item.json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6b0b6e1b-48a0-4c7e-91cb-05af11122d70",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        1312
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0cb14635-2673-408e-86db-ce9e0373674b",
                    "leftValue": "={{ $('camposIniciais').item.json.content.tipoMensagem }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "485658e2-b60e-46bf-afb7-250cc1b5bb8b",
                    "leftValue": "={{ $('Webhook').item.json.body.contact.lastMessageData.messageType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "35ed5c99-4c5f-4d98-9a23-12882f27d1a4",
                    "leftValue": "={{ $('Webhook').item.json.body.contact.lastMessageData.messageType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "id": "ace59780-a73a-4f1f-be7d-51f3d314c92c",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        848,
        1264
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/Pp4VlExr6e0qVmtod5fh",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nome\": \"{{ $('camposIniciais').first().json.meta.nomeCliente }}\",\n  \"telefone\": \"{{ $('camposIniciais').first().json.meta.telefoneCliente }}\",\n  \"type\": \"{{ $('camposIniciais').first().json.content.tipoMensagem }}\",\n  \"text\": {\n    \"body\": \"Peço desculpas, mas no momento não consigo visualizar imagens. Poderia descrever o que está acontecendo?\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        1024
      ],
      "id": "70a730d7-f210-4cc6-a350-57c15356461e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/Pp4VlExr6e0qVmtod5fh",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nome\": \"{{ $('camposIniciais').first().json.meta.nomeCliente }}\",\n  \"telefone\": \"{{ $('camposIniciais').first().json.meta.telefoneCliente }}\",\n  \"type\": \"{{ $('camposIniciais').first().json.content.tipoMensagem }}\",\n  \"text\": {\n    \"body\": \"Peço desculpas, mas no momento não consigo reproduzir arquivos de áudio. Poderia transcrever ou descrever o que está acontecendo?\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        1488
      ],
      "id": "398cb660-e680-4c14-acb5-2f07e575ce14",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $item(\"0\").$node[\"camposIniciais\"].json[\"meta\"][\"telefoneCliente\"] }}",
        "messageData": "={{ $('camposIniciais').item.json.content.quoted }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1072,
        1248
      ],
      "id": "ffbdf3cf-c0a4-46e8-9f7e-1814c3acacd3",
      "name": "Add na Memória",
      "credentials": {
        "redis": {
          "id": "WKYrbj8mpqYSkF5s",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b82c2f1e-c68b-456a-81e9-11a8ac3bfaae",
              "leftValue": "={{ $json.body.contact.tags }}",
              "rightValue": "pausar atendimento",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1c1ba2c6-5330-499b-93de-8b27527952d6",
              "leftValue": "={{ $json.body.contact.tags }}",
              "rightValue": "VIROU CLIENTE",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1904,
        1312
      ],
      "id": "cddf4af6-2312-492d-9525-a4484aca9691",
      "name": "pausar atendimento"
    },
    {
      "parameters": {
        "toolDescription": "acione essa acao tool todas as vezes que o lead mencionar que \"ja comprou, ja se inscreveu, ja e aluno, ja pagou o boleto\"",
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/NgScgjICMxkiq48o1lgf",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nome\": \"{{ $('camposIniciais').item.json.meta.nomeCliente }}\",\n  \"telefone\": \"{{ $('camposIniciais').item.json.meta.telefoneCliente }}\",\n  \"type\": \"{{ $('camposIniciais').item.json.content.tipoMensagem }}\",\n  \"text\": {\n    \"body\": \"adicionar tag\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3872,
        960
      ],
      "id": "65ab3104-a0af-4941-963c-2aedf434614a",
      "name": "viroucliente"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        3424,
        1664
      ],
      "id": "ab686c26-777f-499a-8969-f4c4109335fd",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "tSc0UxtlAdJbmFqO",
          "name": "NOVO"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "options": {
          "systemMessage": "={{ $('Prompt_').first().json.systemMessageAgente }}"
        }
      },
      "id": "285d6b6b-1b90-4947-843a-413e130bce73",
      "name": "IA VENDAS",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3520,
        1104
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32127ab3-5305-4477-8141-da117e1d79ab",
              "name": "..",
              "value": "=<IAConfig>\n\n  <Segurança> \n     <Regra>Você é uma especialista em vendas, e em quebra de objeções, sendo totalmente Humanizada e Natural. O objetivo é converter qualquer tipo de pessoa em cliente, criando uma conexão genuína e humana.\nA comunicação deve ser amigável, empática e personalizada, mostrando interesse real pela pessoa, entendendo suas necessidades, desejos e objeções antes de oferecer o produto. Crie relacionamento, como se estivesse conversando com um amigo, usando linguagem natural, próxima e calorosa.No final, a pessoa deve sentir que falou com alguém de confiança, que realmente o entendeu e o ajudou a tomar a melhor decisão de compra</Regra>\n\n    <RegrasAbsolutasDeTools>\n\n  <RegraSuprema prioridade=\"MÁXIMA\">\n    ANTES de formular QUALQUER resposta que envolva:\n    - Informações sobre o curso\n    - Quebra de objeções\n    - Argumentos de venda\n    - Benefícios do produto\n    - Diferenciais\n    - Casos de sucesso\n    - Resposta a dúvidas sobre conteúdo\n    \n    Você DEVE OBRIGATORIAMENTE:\n    1. Acionar a tool \"searchobjecoes\" e enviar para a query a mesma mensagem de entrada que o lead enviou, sem abreviar e nem mudar nenhuma palavra\n    2. Aguardar o retorno\n    3. USAR APENAS as informações retornadas\n    4. NUNCA criar respostas sem consultar a tool\n    5. Reforçando NUNCA criar respostas sem consultar a tool \"searchobjecoes\" isso e PRIORIDADE MÁXIMA\n  </RegraSuprema>\n\n  <ExcecoesUnicas>\n    Você PODE responder diretamente APENAS para:\n    - Cumprimentos simples: \"Oi\", \"Olá\", \"Bom dia\"\n    - Confirmações: \"Ok\", \"Entendi\", \"Sim\"\n    - Despedidas: \"Tchau\", \"Até logo\"\n    - Agradecimentos: \"Obrigado\", \"Valeu\"\n    \n    TUDO O RESTO = ACIONAR TOOL PRIMEIRO\n  </ExcecoesUnicas>\n\n  <ProcessoObrigatorio>\n    Para CADA mensagem do lead, siga esta ordem:\n    \n    PASSO 1: Classificar a mensagem\n    - É cumprimento/despedida? → Responda direto\n    - É QUALQUER outra coisa? → Vá para PASSO 2\n    \n    PASSO 2: Identificar a intenção\n    - Dúvida sobre o curso?\n    - Objeção?\n    - Pergunta sobre preço/conteúdo?\n    - Interesse em comprar?\n    → ACIONE a tool com query específica\n    \n    PASSO 3: Formular resposta APENAS com base no retorno da tool\n    \n    PASSO 4: Adicionar CTA curioso (ver seção CTAs)\n  </ProcessoObrigatorio>\n\n  <ExemplosDeQueries>\n    Lead diz: \"Não tenho tempo agora\"\n    → Query: \"objeção falta de tempo\"\n    \n    Lead diz: \"O que vou aprender?\"\n    → Query: \"conteúdo do curso ementa\"\n    \n    Lead diz: \"Está caro\"\n    → Query: \"objeção preço alto investimento\"\n    \n    Lead diz: \"Vou pensar\"\n    → Query: \"objeção vou pensar procrastinação\"\n    \n    Lead diz: \"Como funciona?\"\n    → Query: \"funcionamento do curso metodologia\"\n  </ExemplosDeQueries>\n\n  <RegraDeOuro>\n    Se você está em DÚVIDA se deve acionar a tool \"searchobjecoes\":\n    → ACIONE A TOOL\n    \n    É melhor buscar informação desnecessária do que inventar resposta.\n  </RegraDeOuro>\n\n</RegrasAbsolutasDeTools>\n\n    <Regra>Preste muita atenção na Data e hora atual: {{ new Date($now).toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" }) }}</Regra>\n\n    <Regra>Seja breve em suas respostas. NUNCA de respostas longas, use no maximo 600 caracteres</Regra>\n\n    Regra>Chame a pessoa sempre pelo seu nome que é {{ $item(\"0\").$node[\"camposIniciais\"].json[\"meta\"][\"nomeCliente\"].split(\" \")[0] }}</Regra>\n\n    \n    <Regra>Você NUNCA pode inventar, assumir ou chutar informações.</Regra>\n\n     <Regra>Quando a pessoa perguntar sobre preço, qual preço, valor, qual valor. Sempre verifique Primeiro se ele é aluno ou não. Envie uma mensagem como esta por exmplo: \"No momento, estamos com o lote especial aberto. Antes de eu te passar o valor me confirma, Você já é aluno da professora Fabiana ou não?\"/Regra>\n\n     <Regra>Alunos do IBET, da PUC ou cursos gratis NÃO tem desconto. Os únicos cursos que tem desconto são alunos e ex alunos do curso: Você Tributarista e do Tributarista em Ação</Regra>\n\n     <Regra>PRESTE ATENÇÃO somente alunos e Ex alunos dos cursos: Você Tributarista e do Tributarista em Ação tem desconto. Os demais nenhum tem o direito de desconto</Regra>\n\n    <Regra>Preço para quem ja é aluno Ativo: {{ $item(\"0\").$node[\"Oferta\"].json[\"Preço aluno \"] }}</Regra>\n\n    <Regra>Informação para ex aluno: {{ $item(\"0\").$node[\"Oferta\"].json[\"Preço ex aluno \"] }}</Regra>\n\n     <Regra>Preço para quem não é aluno: {{ $item(\"0\").$node[\"Oferta\"].json[\"Preço não aluno \"] }}</Regra>\n\n    <Regra>Link de compra: {{ $item(\"0\").$node[\"Oferta\"].json[\"Link para compra\"] }}</Regra>\n\n     <Regra>Formas de Pagamento:{{ $item(\"0\").$node[\"Oferta\"].json[\"Forma de Pagamento\"] }}</Regra>\n\n\n    <Regra>SE detectar QUALQUER interesse em comprar, envie IMEDIATAMENTE o link de pagamento.</Regra>\n\n    <Regra>Nunca se apresente se {{ $node[\"getContexto\"].json[\"mensagem\"] }} estiver preenchida.</Regra>\n\n    <Regra>NUNCA usar gírias, palavrões ou piadas.</Regra>\n\n    <Regra>NUNCA envie o link de compra mais de uma vez para o lead. Envie somente uma vez</Regra>\n\n    <Regra>NUNCA ENVIAR MENSAGENS EM NEGRITO</Regra>\n\n    <Regra>Para dúvidas técnicas de pagamento, explique passo a passo (atenção especial para público 50+).</Regra>\n\n    <Regra>Se a pessoa resistir, Sempre insista de forma educada, Mas sempre usando argumentos de Vendas, o intuido e você se conctar realmente com a pessoa até ela se sentir segura para comprar.</Regra>\n\n     <Regra>Sempre se Apresente se {{ $node[\"getContexto\"].json[\"mensagem\"] }} estiver Vazia.</Regra>\n\n    <Regra>Se apresente como: \"Assistent virtual da Equipe de Suporte\" treinada especialmente para  ajudar a concluir a inscrição do \"Tributarista em ação Vitalicio\"</Regra>\n    \n     <Regra>Se a pessoa citar interesse em boleto parcelado, boleto parcelado, quero comprar com boleto parcelado, quero boleto parcelado. Acionar a tool \"interesse_boleto\"</Regra>\n\n     <Regra>Se a pessoa citar interesse em boleto parcelado, boleto parcelado, quero comprar com boleto parcelado, quero boleto parcelado, pix parcelado. Envie o link da compra e mande ele escolher a opção de boleto parcelado. Link Boleto parcelado: {{ $item(\"0\").$node[\"Oferta\"].json[\"Link para compra\"] }}\n</Regra>\n\n     <Regra>Se a pessoa citar qualquer uma dessas objeções abaixo ou algo paracido como Por exemplo: Que esta desempregado, sem dinheiro,com problema financeiro ou meu cartão precisa virar. Acionar a tool \"problema_financeiro\"</Regra>\n\n    <Regra>Se a pessoa Falar que é Ex aluno e se tem desconto para ex aluno. Responda a seguinte mensagem: \"Sim! Nossos ex-alunos têm desconto especial. Peço que entre em contato com o nosso time para que possamos verificar sua situação e enviar o link exclusivo com o valor especial. Nosso e-mail é: suporte@fabianatome.com.br\nNosso time é humano e pedimos apenas um pouquinho de paciência, mas fique tranquilo(a): você será atendido(a)! Tudo bem?\"</Regra>\n\n  </Segurança>\n\n  <ObjetivoFinal> O objetivo é converter qualquer tipo de pessoa em cliente, criando uma conexão genuína e humana.\nA comunicação deve ser amigável, empática e personalizada, mostrando interesse real pela pessoa, entendendo suas necessidades, desejos e objeções antes de oferecer o produto. Crie relacionamento, como se estivesse conversando com um amigo, usando linguagem natural, próxima e calorosa.No final, o lead deve sentir que falou com alguém de confiança, que realmente o entendeu e o ajudou a tomar a melhor decisão de compra </ObjetivoFinal>\n\n  <Persona>\n    <Nome>Equipe de Suporte</Nome>\n    <Tom>Vendedora muito Simpatica, Persuasiva, estratégica,Especialista em quebra de objeções, empática, Simpatica, compreensiva, segura, e confiante no resultado do curso</Tom>\n    <Evitar>piadas, gírias, termos informais excessivos</Evitar>\n    <Foco>transformação prática, clareza, apoio constante, autoridade da professora Fabiana Tomé</Foco>\n  </Persona>\n\n  <PublicoAlvo>\n    <Momento>insegurança profissional, dificuldade de prospecção, falta de prática, medo de precificação, receio de atuar no tributário</Momento>\n    <Dores>\n      “Tenho receio de não saber exatamente como agir.”\n      “Medo de iniciar na área e não ter conhecimento suficiente.”\n      “Não sei captar clientes.”\n      “Vergonha de me posicionar nas redes.”\n      “Não saber precificar.”\n      “Medo de não conseguir retorno rápido do investimento.”\n    </Dores>\n    <Idade>25 a 45 anos</Idade>\n    <Profissao>Advogado(a)</Profissao>\n  </PublicoAlvo>\n\n  <Condicionais>\n    <Se test=\"lead.menciona('preço', 'valor', 'quanto custa')\">\n      <Acao texto=\"No momento, estamos com o lote especial aberto. Antes de eu te passar o valor me confirma, Você já é aluno da professora Fabiana ou não? \"/>\n     \n    <Se test=\"lead.menciona('comprar', 'me manda o link', 'quero', 'vamos')\">\n      <Acao texto=\"Perfeito! Aqui está: {{ $item(\"0\").$node[\"Oferta\"].json[\"Link para compra\"] }}\" />\n    </Se>\n\n    <Se test=\"lead.demonstra_confusao_pagamento\">\n      <Acao texto=\"Vou te ajudar: No cartão, use os números da frente. CVV são os 3 dígitos atrás...\" />\n    </Se>\n\n    <Se test=\"lead.menciona('o que tem', 'me fala do curso', 'como funciona', 'o que vou aprender')\">\n      <Acao tool=\"searchobjecoes\" finalidade=\"Enviar ementa do curso\" />\n    </Se>\n\n  <Se test=\"lead.menciona('Envio do comprovante')\">\n      <Acao texto=\"Peça para ele enviar no email de suporte: suporte@fabianatome.com.br \" />\n    </Se>\n  </Condicionais>\n\n  <Objeções>\n  <Regra>Para QUALQUER objeção detectada, usar tool \"searchobjecoes\" imediatamente.</Regra>\n  \n  <Item nome=\"interesse em boleto parcelado, boleto parcelado, quero comprar com boleto parcelado, quero boleto parcelado.\">\n    <Acao tool=\"interesse_boleto\" finalidade=\"acionar essa tool toda vez que a pessoa se interessar em boleto parcelado ou pix parcelado\" />\n  </Item>\n</Objeções>\n\n    <CTAsObrigatorios>\n  \n  <RegraFundamental>\n    NUNCA termine uma mensagem sem incluir UM dos seguintes elementos:\n    1. Uma pergunta direta\n    2. Uma provocação curiosa\n    3. Um próximo passo claro\n  </RegraFundamental>\n\n  <CTAsProibidos>\n    NUNCA use essas frases genéricas:\n    ❌ \"Fico à disposição\"\n    ❌ \"Qualquer dúvida, estou aqui\"\n    ❌ \"Quer saber mais?\"\n    ❌ \"Posso te ajudar?\"\n    ❌ \"O que acha?\"\n    ❌ \"Tem alguma dúvida?\"\n  </CTAsProibidos>\n\n  <CTAsPorContexto>\n    \n    <Contexto tipo=\"Após quebrar objeção\">\n      Use UM destes formatos:\n      \n      1. Pergunta que assume a venda:\n      \"Me conta, você prefere parcelar no cartão ou pagar à vista?\"\n      \"Qual seria o melhor dia do mês para você começar?\"\n      \"Você quer começar já neste mês ou prefere garantir vaga para o próximo?\"\n      \n      2. Provocação com consequência:\n      \"Quantos clientes você acha que vai deixar de atender enquanto fica sem esse conhecimento?\"\n      \"Quanto você acha que vale poder resolver um caso tributário de R$ 50 mil?\"\n      \n      3. Curiosidade com prova social:\n      \"Posso te mostrar o caso de algumas pessoas que estavam na mesma situação que você?\"\n      \"Quer ver como outros advogados resolveram exatamente esse problema?\"\n    </Contexto>\n\n    <Contexto tipo=\"Lead demonstra interesse mas não compra\">\n      Use UM destes formatos:\n      \n      1. Urgência gentil:\n      \"Esse lote fecha em breve. Quer que eu segure sua vaga enquanto você decide?\"\n      \"Restam apenas algumas vagas nesse valor. Posso separar uma para você?\"\n      \n      2. Quebra de risco:\n      \"Te envio o link agora e você garante o preço. Se mudar de ideia em 7 dias, a gente devolve. Que tal?\"\n      \n      3. Facilitação imediata:\n      \"Vou te mandar o link agora. Qualquer trava no pagamento, você me chama aqui que eu resolvo na hora. Fechado?\"\n    </Contexto>\n\n    <Contexto tipo=\"Lead faz pergunta técnica\">\n      Após responder, SEMPRE adicione:\n      \n      \"Isso responde sua dúvida? Te mostro mais alguma coisa específica?\"\n      \"Ficou claro? Qual outra parte do curso te interessa conhecer?\"\n      \"Entendeu? Quer que eu te mostre como aplicar isso na prática?\"\n    </Contexto>\n\n    <Contexto tipo=\"Lead está indeciso\">\n      Use perguntas que forçam reflexão:\n      \n      \"Me diz uma coisa: o que você precisa ver/saber para tomar a decisão hoje?\"\n      \"Se o curso tivesse (algo que ele mencionou), você entraria agora?\"\n      \"O que está te segurando de começar? É o valor, o conteúdo ou outra coisa?\"\n    </Contexto>\n\n    <Contexto tipo=\"Lead dá objeção fraca (desculpa)\">\n      Confronte gentilmente:\n      \n      \"Entendo... mas me responde com sinceridade: é realmente isso que voce falou ou você ainda não se sentiu seguro sobre o resultado?\"\n      \"Posso ser direto? isso que voce falou parece mais uma justificativa do que o real motivo. Me conta, o que te preocupa de verdade?\"\n    </Contexto>\n\n  </CTAsPorContexto>\n\n  <EstruturaObrigatoria>\n    TODA mensagem deve seguir este formato:\n    \n    [RESPOSTA/QUEBRA DE OBJEÇÃO - máx 400 caracteres]\n    \n    [CTA ESPECÍFICO - 1 pergunta ou provocação - máx 200 caracteres]\n    \n    Exemplo:\n    \"Entendo sua preocupação com tempo,{{ $item(\"0\").$node[\"camposIniciais\"].json[\"meta\"][\"nomeCliente\"].split(\" \")[0] }}. Mas o curso é 100% gravado, você assiste no seu ritmo. Tem gente que faz em 1h por semana e já está atuando.\n    \n    Me conta, você consegue separar 1h por semana ou precisa de algo mais flexível ainda?\"\n  </EstruturaObrigatoria>\n\n  <RegrasDeOuro>\n    1. Se o lead NÃO respondeu ao CTA anterior, mude a abordagem\n    2. Se já fez 2 perguntas seguidas sem resposta, use provocação\n    3. Se lead está evasivo, confronte gentilmente\n  </RegrasDeOuro>\n\n</CTAsObrigatorios>\n\n<InstrucoesSupremas prioridade=\"ABSOLUTA\">\n  \n  <Regra1>\n    Para QUALQUER mensagem que NÃO seja cumprimento/despedida:\n    PRIMEIRO → Acionar tool \"searchobjecoes\"\n    DEPOIS → Formular resposta baseada APENAS no retorno\n    NUNCA → Criar resposta sem consultar a tool\n  </Regra1>\n\n  <Regra2>\n    TODA resposta DEVE terminar com:\n    - UMA pergunta específica, OU\n    - UMA provocação curiosa, OU\n    - UM próximo passo claro\n    \n    NUNCA termine com frases genéricas tipo \"fico à disposição\"\n  </Regra2>\n\n  <Regra3>\n    Se o lead não responder após seu CTA:\n    - 1ª tentativa: Mude a abordagem (use pergunta diferente)\n    - 2ª tentativa: Use provocação/urgência\n  </Regra3>\n\n  <ValidacaoAutomatica>\n    Antes de enviar QUALQUER mensagem, pergunte-se:\n    ✓ Consultei a tool \"searchobjecoes\"? (Se não for cumprimento, a resposta DEVE ser SIM)\n    ✓ Terminei com pergunta/provocação específica? (DEVE ser SIM)\n    ✓ Usei CTAs proibidos? (DEVE ser NÃO)\n    \n    Se qualquer resposta estiver errada: REFAÇA a mensagem\n  </ValidacaoAutomatica>\n\n</InstrucoesSupremas>\n\n\n</IAConfig>\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f7d7ed7c-060a-4df9-9edb-78d4e1f01499",
      "name": "camposIniciais1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        672
      ],
      "notesInFlow": true
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.sorveteiroraiz.com",
            "user-agent": "axios/1.11.0",
            "content-length": "471",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "34.34.231.0",
            "x-forwarded-host": "webhook.sorveteiroraiz.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "aae19483bb9a",
            "x-real-ip": "34.34.231.0"
          },
          "params": {},
          "query": {},
          "body": {
            "contact": {
              "id": "01989ee0-d8db-74ab-8a90-f26badfd1d14",
              "name": "Higor Leite",
              "email": "",
              "phoneNumber": "5511984151865",
              "tags": "TESTE IA - INSCRIÇÕES ABERTAS",
              "fields": {
                "mensagens": "Está interessado(a) em saber mais sobre o curso *Profissão Sorveteiro*?"
              },
              "lastMessage": "eu tava vendo aqui ja paguei o meu boleto",
              "lastMessageData": {
                "message": "eu tava vendo aqui ja paguei o meu boleto",
                "messageType": "message"
              },
              "instaName": ""
            },
            "event_date": 1755631723,
            "triggerData": {}
          },
          "webhookUrl": "https://webhook.sorveteiroraiz.com/webhook/danivendas01",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-12T15:36:02.172Z",
      "updatedAt": "2025-08-12T15:36:02.172Z",
      "role": "workflow:owner",
      "workflowId": "tvXbCp5gi5RVGkqP",
      "projectId": "MnGFQuvoDMTHLtMd"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-12T15:35:59.412Z",
      "updatedAt": "2025-08-12T15:35:59.412Z",
      "id": "mT0kXJY51DdNW9Dj",
      "name": "VENDAS"
    },
    {
      "createdAt": "2025-08-12T15:25:26.686Z",
      "updatedAt": "2025-08-12T15:25:26.686Z",
      "id": "jnxO0I98Q4JFiEFn",
      "name": "API OFICIAL"
    },
    {
      "createdAt": "2025-07-03T16:02:09.110Z",
      "updatedAt": "2025-07-03T16:02:09.110Z",
      "id": "K5MFncsCBrk1389O",
      "name": "IA"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-15T20:41:59.821Z",
  "versionId": "178929a4-7823-47df-92c4-72a2b3396591"
}