workflows/[PREV0625] [GOOGLE CALENDAR].json
{
  "active": true,
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convite 2": {
      "main": [
        [
          {
            "node": "convite 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convite 1": {
      "main": [
        [
          {
            "node": "convite 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "convite 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-23T16:49:49.217Z",
  "id": "2oinX32EQcnTLrKr",
  "meta": null,
  "name": "[PREV0625] [GOOGLE CALENDAR]",
  "nodes": [
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "6828b5a2-a562-4f25-aa07-bec70471d9b2",
      "name": "Wait",
      "webhookId": "15461565-94c5-4d93-827c-3e94c42ba843"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "contato@eprevensino.com",
          "mode": "list",
          "cachedResultName": "contato@eprevensino.com"
        },
        "eventId": "={{ $item(\"3\").$node[\"Google Calendar\"].json[\"id\"] }}",
        "updateFields": {
          "attendeesUi": {
            "values": {
              "attendees": [
                "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"email\"] }}"
              ]
            }
          },
          "guestsCanInviteOthers": false,
          "guestsCanSeeOtherGuests": false
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        1020,
        0
      ],
      "id": "1f43ecd0-0020-4a5f-8a5a-b6182e64c17d",
      "name": "convite 3",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SbqOEod0ACo2xUbn",
          "name": "contato@eprevensino.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "contato@eprevensino.com",
          "mode": "list",
          "cachedResultName": "contato@eprevensino.com"
        },
        "eventId": "={{ $item(\"1\").$node[\"Google Calendar\"].json[\"id\"] }}",
        "updateFields": {
          "attendeesUi": {
            "values": {
              "attendees": [
                "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"email\"] }}"
              ]
            }
          },
          "guestsCanInviteOthers": false,
          "guestsCanSeeOtherGuests": false
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        820,
        0
      ],
      "id": "2876ba4a-e67b-4000-b7f9-296f91e657a5",
      "name": "convite 2",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SbqOEod0ACo2xUbn",
          "name": "contato@eprevensino.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "contato@eprevensino.com",
          "mode": "list",
          "cachedResultName": "contato@eprevensino.com"
        },
        "eventId": "={{ $item(\"2\").$node[\"Google Calendar\"].json[\"id\"] }}",
        "updateFields": {
          "attendeesUi": {
            "values": {
              "attendees": [
                "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"email\"] }}"
              ]
            }
          },
          "guestsCanInviteOthers": false,
          "guestsCanSeeOtherGuests": false
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        620,
        0
      ],
      "id": "71c63a87-ecde-4df8-bf7d-60dfe3d4a236",
      "name": "convite 1",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SbqOEod0ACo2xUbn",
          "name": "contato@eprevensino.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "contato@eprevensino.com",
          "mode": "list",
          "cachedResultName": "contato@eprevensino.com"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        420,
        0
      ],
      "id": "a0d4f15f-f193-49ff-bfc7-7ffb0c5fdc17",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SbqOEod0ACo2xUbn",
          "name": "contato@eprevensino.com"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "106a17a6-50c7-4303-91de-42f19b939248",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "ef0b0948-6022-48ba-970d-4931cf6a243b",
      "name": "Webhook",
      "webhookId": "106a17a6-50c7-4303-91de-42f19b939248"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-26T14:25:12.343Z",
  "versionId": "76787a37-4e84-496d-a756-b78648cadc30"
}