workflows/Agente de RAG + Reranker.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Agente RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente RAG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente RAG",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "searchCafeina",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "searchCafeina",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        []
      ]
    },
    "searchCafeina": {
      "ai_tool": [
        [
          {
            "node": "Agente RAG",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-11T05:09:44.358Z",
  "id": "oJPb7BEDZz16etjR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente de RAG + Reranker",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1000,
        1100
      ],
      "id": "6fe98728-7b28-4a5c-b122-902e703db6c1",
      "name": "When chat message received",
      "webhookId": "de210796-2512-4c20-97eb-87b7f05298cb"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1220,
        1100
      ],
      "id": "6979b275-1da1-4479-914e-071f03a9bda7",
      "name": "Agente RAG"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1100,
        1320
      ],
      "id": "fd5bf3a7-c90e-4d80-8f8b-b0b98097af21",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QzQb6Q9G3hGozb9v",
          "name": "OpenAi - Dani 2"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1420,
        1460
      ],
      "id": "7ff95fcd-97dd-43b2-a137-f4c18fe968a7",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "QzQb6Q9G3hGozb9v",
          "name": "OpenAi - Dani 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1260,
        1320
      ],
      "id": "955ebea8-39c2-4d12-87ce-87f11a4be187",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        820
      ],
      "id": "cf505f65-dfc5-406b-a8dd-4681b7f11e1f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        20,
        1300
      ],
      "id": "c8bbc46b-7b86-4d64-b53e-7e35a28ee0dc",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "QzQb6Q9G3hGozb9v",
          "name": "OpenAi - Dani 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Get a document').item.json.content }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        220,
        1320
      ],
      "id": "3b34730c-811c-4923-b798-873ce8c62e3d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use essa tool para consultar informações sobre o curso \"Profissão Sorveteiro\"",
        "tableName": {
          "__rl": true,
          "value": "ps_curso",
          "mode": "list",
          "cachedResultName": "ps_curso"
        },
        "topK": 15,
        "useReranker": true,
        "options": {
          "queryName": "match_ps_produto"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1420,
        1320
      ],
      "id": "5ecbcf25-2b77-4f75-bf79-ad9cb055c195",
      "name": "searchCafeina",
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "ps_curso",
          "mode": "list",
          "cachedResultName": "ps_curso"
        },
        "options": {
          "queryName": "match_ps_curso"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        100,
        1140
      ],
      "id": "f10505d4-49db-400d-8f31-fbea2eb1cfdf",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        680,
        1080
      ],
      "id": "c62a7e09-a116-4eac-a9ea-510e9a079683",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1580,
        1460
      ],
      "id": "fbb231cd-7524-444a-a1eb-46efc6d90ca2",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "A7tX1jXD2d5wRh1M",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AGENTE RAG",
        "height": 660,
        "width": 1080,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        980
      ],
      "typeVersion": 1,
      "id": "446f15fa-5ec2-464f-98bf-420359076c13",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## VETORIZADOR",
        "height": 620,
        "width": 1700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        1020
      ],
      "typeVersion": 1,
      "id": "1ae908f0-228b-446b-b106-ae1b8a08ea26",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "chunkSize": 26000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        320,
        1460
      ],
      "id": "6223c16e-12af-4ead-be5c-f6609a23f60a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -180,
        1120
      ],
      "id": "85f8046c-5fa1-4189-b8a3-20f41a77dc71",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        460,
        1140
      ],
      "id": "f95b5152-442a-446e-be02-bceb567780cf",
      "name": "Wait",
      "webhookId": "eb2139c1-1fc3-4aa3-8b0a-d7462a11c68d",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Módulo 6",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -600,
        1120
      ],
      "id": "0dbe3070-ba46-409e-a588-6c4b505798c8",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fj0pGWTsgTW5yLNC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -380,
        1120
      ],
      "id": "a56beddc-dff7-46b4-97d2-51dede98d2b0",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7TJ0i7jDnGNCXmQR",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-11T05:08:17.035Z",
      "updatedAt": "2025-07-11T05:08:17.035Z",
      "id": "MjlWgQ1bNOy1eHbS",
      "name": "Anderson Adelino"
    },
    {
      "createdAt": "2025-07-11T05:08:17.050Z",
      "updatedAt": "2025-07-11T05:08:17.050Z",
      "id": "at11ZIwIDccBfgnS",
      "name": "Youtube"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-29T18:07:18.726Z",
  "versionId": "df3cf4ff-c2ea-4113-ac7f-75d1e7178b1f"
}