workflows/My workflow.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase5": {
      "main": [
        [
          {
            "node": "10 min",
            "type": "main",
            "index": 0
          },
          {
            "node": "60 min",
            "type": "main",
            "index": 0
          },
          {
            "node": "24 h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase9": {
      "main": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase7": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase6": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "60 min": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 min": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory2": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-11T05:53:50.547Z",
  "id": "mJqeMfEiGWMKlAXB",
  "isArchived": false,
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -900,
        620
      ],
      "id": "f6f48c1d-a4bf-45d2-97a3-49f133f89449",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversas_teste",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -640,
        620
      ],
      "id": "e2bdbcc7-fc9e-4b0b-8b6f-61336daeb1cd",
      "name": "Supabase5"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "conversas_teste",
        "filters": {
          "conditions": [
            {
              "keyName": "number",
              "condition": "eq",
              "keyValue": "={{ $('Supabase5').item.json.number }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "etapa",
              "fieldValue": "3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        840
      ],
      "id": "ebbfd660-8729-406f-a034-74c534c618a5",
      "name": "Supabase9"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "conversas_teste",
        "filters": {
          "conditions": [
            {
              "keyName": "number",
              "condition": "eq",
              "keyValue": "={{ $('Supabase5').item.json.number }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "etapa",
              "fieldValue": "2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        620
      ],
      "id": "8a245d4e-4a64-49db-8f51-260611a99e8e",
      "name": "Supabase7"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "conversas_teste",
        "filters": {
          "conditions": [
            {
              "keyName": "number",
              "condition": "eq",
              "keyValue": "={{ $('Supabase5').item.json.number }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "etapa",
              "fieldValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        420
      ],
      "id": "21cbf48a-57e1-4755-a5bf-f700b08e4c0d",
      "name": "Supabase6",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        360,
        420
      ],
      "id": "5777226e-4956-4583-98a8-841816ee406a",
      "name": "Evolution API",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ae4aac33-588f-4ba7-bb04-94bb52efb6d7",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $('Supabase5').item.json.ultimaMensagem.toDateTime().plus(60, 'minutes') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "c45bc5e4-aee7-4ecb-839d-b2c69df2d6f1",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $('Supabase5').item.json.ultimaMensagem.toDateTime().plus(70, 'minutes') }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "4f1ff5ca-dc52-455d-862c-7fa3822511fe",
              "leftValue": "={{ $('Supabase5').item.json.etapa }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -240,
        620
      ],
      "id": "f265773c-9123-4113-a8f3-f8d8fc1ffd74",
      "name": "60 min"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ae4aac33-588f-4ba7-bb04-94bb52efb6d7",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $('Supabase5').item.json.ultimaMensagem.toDateTime().plus(1440, 'minutes') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "c45bc5e4-aee7-4ecb-839d-b2c69df2d6f1",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $('Supabase5').item.json.ultimaMensagem.toDateTime().plus(1450, 'minutes') }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "1b79bebb-c38c-4603-bbf9-3d33a34bd98e",
              "leftValue": "={{ $('Supabase5').item.json.etapa }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -240,
        840
      ],
      "id": "ab015ac1-b34d-4792-89c5-8bb9f49ddf64",
      "name": "24 h"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Reformule essa mensagem de followup tornando a mensagem personalizada.\n\n{{ $('Supabase5').item.json.nome }}, podemos continuar?\n\nENVIE APENAS A MENSAGEM PRONTA.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -20,
        420
      ],
      "id": "2c36eea6-2afc-4e28-ba4a-b12ced1c4313",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Crie uma mensagem curta de followup usando o nome do usuário e tocando em uma dor, tornando a mensagem personalizada.\n\nNome: {{ $('Supabase5').item.json.nome }}\n\nDesejo: {{ $('Supabase5').item.json.desejo }}\n\nENVIE APENAS A MENSAGEM PRONTA."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -20,
        620
      ],
      "id": "a7c5e93c-1985-43c5-a752-bef9ab6d75f4",
      "name": "OpenAI1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        360,
        840
      ],
      "id": "5bd2330a-2500-49f2-a971-00a36facd30a",
      "name": "Evolution API3",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        360,
        620
      ],
      "id": "e6f86955-e582-4a37-81f8-a278b89c29e4",
      "name": "Evolution API1",
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $('OpenAI').item.json.message.content }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        800,
        420
      ],
      "id": "895a9f3f-0c05-4017-a012-c600aede78fd",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $('OpenAI1').item.json.message.content }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        800,
        620
      ],
      "id": "3126d0ef-020d-4ad0-8d99-e68217fbac7f",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $('OpenAI3').item.json.message.content }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        800,
        840
      ],
      "id": "693d1f2f-ea94-46cb-be7d-23554f1f11ff",
      "name": "Chat Memory Manager3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ae4aac33-588f-4ba7-bb04-94bb52efb6d7",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $('Supabase5').item.json.ultimaMensagem.toDateTime().plus(10, 'minutes') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "c45bc5e4-aee7-4ecb-839d-b2c69df2d6f1",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $('Supabase5').item.json.ultimaMensagem.toDateTime().plus(20, 'minutes') }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "0f89d5e1-ce43-420e-971f-2bc03450cb92",
              "leftValue": "={{ $('Supabase5').item.json.etapa }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -240,
        420
      ],
      "id": "542ebeca-11a3-42da-8008-609dd52da414",
      "name": "10 min"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Supabase5').item.json.number }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1200,
        420
      ],
      "id": "1e9df3c4-5833-4b96-a535-d26c3b32b863",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Supabase5').item.json.number }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1200,
        620
      ],
      "id": "06747747-b313-4971-8dac-8d211ca2fcf5",
      "name": "Window Buffer Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Supabase5').item.json.number }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1200,
        840
      ],
      "id": "7bb98d11-5727-490f-a349-09b44d968600",
      "name": "Window Buffer Memory2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-11T05:08:17.035Z",
      "updatedAt": "2025-07-11T05:08:17.035Z",
      "id": "MjlWgQ1bNOy1eHbS",
      "name": "Anderson Adelino"
    },
    {
      "createdAt": "2025-07-11T05:08:17.050Z",
      "updatedAt": "2025-07-11T05:08:17.050Z",
      "id": "at11ZIwIDccBfgnS",
      "name": "Youtube"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-11T06:11:59.824Z",
  "versionId": "cb3d1785-4a71-40ec-a48f-08fcdf91234d"
}