workflows/My workflow 6.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Somente email": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "CreateUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateUser": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateUser1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "CreateUser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-29T17:57:04.862Z",
  "id": "mxAQIyDArdkCjXfA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4da099ba-3f18-460f-ae3d-1e7544c0e8c0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13ZbneDz5d5Bsw-OTDY-XOAwyiS9UEZdd_sioZtRzm9U",
          "mode": "list",
          "cachedResultName": "ALUNOS COM ACESSO A IA MARÇO_26 S1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13ZbneDz5d5Bsw-OTDY-XOAwyiS9UEZdd_sioZtRzm9U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1719547295,
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13ZbneDz5d5Bsw-OTDY-XOAwyiS9UEZdd_sioZtRzm9U/edit#gid=1719547295"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "d927d001-9b1d-41e7-98df-e880161d4d84",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rE0Y7KmzpfU43ny6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "001877d2-a1ec-49df-9728-5d76fccf15ba",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Get row(s) in sheet\"].json[\"NOME \"] }}",
              "type": "string"
            },
            {
              "id": "f2da43e1-ff4c-40e8-9a5b-29e3a42d6e60",
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Get row(s) in sheet\"].json[\"EMAIL \"] }}",
              "type": "string"
            },
            {
              "id": "c00282a7-f79f-4268-a11e-1c1003254f0c",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Get row(s) in sheet\"].json[\"TELEFONE \"] }}",
              "type": "string"
            },
            {
              "id": "c29c2388-c646-4473-b7e9-a4de9a828f65",
              "name": "data_expiracao",
              "value": "={{ $item(\"0\").$node[\"Get row(s) in sheet\"].json[\"DATA DE COMPRA \"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -208
      ],
      "id": "88635cdd-88e1-4c6d-9f29-96bec674c515",
      "name": "Somente email"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "e15d0e46-fe88-4ddf-aa9d-fc9151c128f5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1376,
        160
      ],
      "id": "338d3c94-6e9a-4fca-a1a4-ccaed7b0d7fc",
      "name": "Wait",
      "webhookId": "36a25bca-74ca-46af-8818-c8835d1dc48b"
    },
    {
      "parameters": {
        "tableId": "acesso_ia_suporte",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Loop Over Items').item.json.NOME }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Loop Over Items').item.json.TELEFONE }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Loop Over Items').item.json.EMAIL }}"
            },
            {
              "fieldId": "data_fim",
              "fieldValue": "={{ $('Loop Over Items').item.json[\"Data-compra\"] ? $('Loop Over Items').item.json[\"Data-compra\"].split('/').reverse().join('-') : null }}"
            }
          ]
        }
      },
      "id": "88b4b5e3-2d0d-42fe-8588-cacb4a9f685c",
      "name": "CreateUser",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        192
      ],
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "acesso_ia_suporte",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        }
      },
      "id": "41c75d28-5da3-4385-add8-be7da5be40f5",
      "name": "CreateUser1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "573278c8-68aa-4c70-8abe-ab4b995186b1",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        16
      ],
      "id": "15be8d33-de38-488b-b655-0cd8931c9bc3",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const row = item.json;\n  \n  const dataRaw = row['Data-compra'];\n  \n  let dataFormatada = null;\n  if (dataRaw) {\n    const parts = dataRaw.split('/');\n    dataFormatada = `${parts[2]}-${parts[0].padStart(2,'0')}-${parts[1].padStart(2,'0')}`;\n  }\n\n  return {\n    json: {\n      nome: row['NOME']?.trim(),\n      email: row['EMAIL']?.trim(),\n      telefone: String(row['TELEFONE']),\n      data_compra: dataFormatada\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -256
      ],
      "id": "a302cff0-8ace-44f8-894d-dcb9703e3ac4",
      "name": "Code"
    },
    {
      "parameters": {
        "tableId": "acesso_ia_suporte",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Loop Over Items').item.json.NOME }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Loop Over Items').item.json.TELEFONE }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Loop Over Items').item.json.EMAIL }}"
            },
            {
              "fieldId": "data_fim",
              "fieldValue": "={{ $('Loop Over Items').item.json[\"Data-compra\"] ? $('Loop Over Items').item.json[\"Data-compra\"].split('/').reverse().join('-') : null }}"
            }
          ]
        }
      },
      "id": "46ef3d12-5210-4ec2-898a-a9e08d62e96d",
      "name": "CreateUser2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        -224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-29T17:57:04.862Z",
      "updatedAt": "2026-01-29T17:57:04.862Z",
      "role": "workflow:owner",
      "workflowId": "mxAQIyDArdkCjXfA",
      "projectId": "MnGFQuvoDMTHLtMd"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-08T18:09:08.823Z",
  "versionId": "a02dab2c-3924-47dd-8042-9ba2396f4b0e"
}