workflows/teste.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-08T14:20:10.399Z",
  "id": "pF4hRaaLEHyyuWLS",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "teste",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        240
      ],
      "id": "f6bcec53-3198-46e3-bd33-8ffaa57a708a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        500
      ],
      "id": "581bae21-8ac8-41a0-9345-10ce7271c579",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "QzQb6Q9G3hGozb9v",
          "name": "OpenAi - Dani 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Google Docs').item.json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        660,
        440
      ],
      "id": "6705cf2a-7dcc-430c-9866-f24d7f8f6e4f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 26000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        680,
        620
      ],
      "id": "e4b6e191-bf97-47bf-afe5-2969d8932f20",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "=1TrpLHVyreIykBgJNGkJxSKgQSOKfAxp6PuWxrOtDSxA"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        280,
        240
      ],
      "id": "55139df1-6371-403a-beee-784bb0d56b7a",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7TJ0i7jDnGNCXmQR",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "whatToSearch": "all",
          "fileTypes": [
            "application/vnd.google-apps.document"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -300,
        240
      ],
      "id": "cdc655b3-06d7-4ecd-a73b-fb1ea7c88241",
      "name": "Google Drive",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fj0pGWTsgTW5yLNC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -120,
        240
      ],
      "id": "d8d9d4e9-be79-41cf-a430-e89b10cb9de7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        240
      ],
      "id": "05c87029-3a6e-4ad4-9386-83abded2fc0c",
      "name": "Wait",
      "webhookId": "33172270-baaa-4ba1-af2c-24c99a68eeb8"
    },
    {
      "parameters": {
        "tableId": "conversoes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email",
              "fieldValue": "testesuporte@authlike.com"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "5511984151865"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -300,
        -140
      ],
      "id": "05a64400-7319-45d7-9dbd-b330b2369f78",
      "name": "Supabase",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "profissao_sorveteiro",
          "mode": "list",
          "cachedResultName": "profissao_sorveteiro"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        520,
        240
      ],
      "id": "77ef49d4-b783-49e2-9a96-85037cbedb02",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "QiHN5zEBNyZ0P663",
          "name": "Supabase - Sorveteiro Raiz"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-08T14:20:10.399Z",
      "updatedAt": "2025-07-08T14:20:10.399Z",
      "role": "workflow:owner",
      "workflowId": "pF4hRaaLEHyyuWLS",
      "projectId": "MnGFQuvoDMTHLtMd"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-12T03:11:17.820Z",
  "versionId": "639e064a-0d2b-4ea3-b5b4-103be34d8ce4"
}