workflows/🟠 [CADASTRO] [tutorial].json
{
  "active": true,
  "connections": {
    "dados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user3": {
      "main": [
        [
          {
            "node": "encontrou_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user1": {
      "main": [
        [
          {
            "node": "email_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_users2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_cadastros9": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_users2": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag_captacao1": {
      "main": [
        [
          {
            "node": "pesquisa_user3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "atualiza_contato_no_ac1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_contato_no_ac1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead_na_tabela_cadastros": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro1": {
      "main": [
        [
          {
            "node": "encontrou cadastro no lançamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email do webhook é o mesmo email já captado?": {
      "main": [
        [
          {
            "node": "encontrou cadastro no lançamento?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "evento_igual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_user": {
      "main": [
        [
          {
            "node": "existe_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_no_ac1": {
      "main": [
        [
          {
            "node": "tag_captacao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_no_ac1": {
      "main": [
        [
          {
            "node": "tag_captacao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_cadastro": {
      "main": [
        [
          {
            "node": "existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe?": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_cadastros9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro2": {
      "main": [
        [
          {
            "node": "email do webhook é o mesmo email já captado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou cadastro no lançamento?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_cadastros9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_cadastros7": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual1": {
      "main": [
        [
          {
            "node": "existe_cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento_igual": {
      "main": [
        [
          {
            "node": "atualiza_lead_na_tabela_cadastros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_cadastro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "insere_lead_na_tabela_cadastros7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-05T17:14:27.867Z",
  "id": "XzfNeJuEJK3QrU6d",
  "meta": null,
  "name": "🟠 [CADASTRO] [tutorial]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c9ef3882-718c-4054-81ec-bce4ad47b6c0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        -640
      ],
      "id": "dd87bf92-0efd-443d-baee-8c4544bf806f",
      "name": "Webhook",
      "webhookId": "c9ef3882-718c-4054-81ec-bce4ad47b6c0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79edcf9f-8602-409f-8d04-ced41c06d16f",
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"email\"] }}",
              "type": "string"
            },
            {
              "id": "4750507c-f44a-45d5-b5ce-2a681d5a5581",
              "name": "utm_source",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_source\"] }}",
              "type": "string"
            },
            {
              "id": "a68b8a08-b2d1-4352-affb-0a6f4045cf4a",
              "name": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_campaign\"] }}",
              "type": "string"
            },
            {
              "id": "71c74ec7-51b3-422e-a2d5-ae7bbf3bd1b0",
              "name": "utm_term",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_term\"] }}",
              "type": "string"
            },
            {
              "id": "57aa10ae-6631-4352-8925-35138b1c9b7a",
              "name": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_medium\"] }}",
              "type": "string"
            },
            {
              "id": "4e84ee54-3122-48e4-92d9-1f9db59e0b94",
              "name": "utm_content",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_content\"] }}",
              "type": "string"
            },
            {
              "id": "66f8191a-dd73-4773-b3f7-a63076f8686b",
              "name": "form_id",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"form_id\"] }}",
              "type": "string"
            },
            {
              "id": "bb839055-124b-4671-99e9-d13293daa8c7",
              "name": "page",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"form_name\"] }}",
              "type": "string"
            },
            {
              "id": "b5b5da8a-46c5-44bd-acb3-3f246b420a53",
              "name": "Evento",
              "value": "Captação | PEC0325 Teste",
              "type": "string"
            },
            {
              "id": "271ee5fa-6031-4a09-b53d-b1da2acf56a9",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"primeiro_nome\"] }}",
              "type": "string"
            },
            {
              "id": "a973ea01-7ccc-4b7b-aa43-4237223690c7",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "7b8ac769-0ee5-410d-849d-34385009029b",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"telefone\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "18226fe4-e9cd-4807-a36a-329be9781d98",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -20,
        -640
      ]
    },
    {
      "parameters": {
        "queue": "[CADASTRO] [PEC0325]",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "fd80d413-9cb3-47b3-99fd-3388274972bf",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        180,
        -640
      ],
      "credentials": {
        "rabbitmq": {
          "id": "DG2PMHOSIQ0AOSwK",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body;\n\n// Função para formatar o nome\nfunction formatarNome(nome) {\n    const partes = nome.trim().split(\" \");\n    const primeiro_nome = partes.shift();\n    const sobrenome = partes.length > 0 ? partes.join(\" \") : \"\";\n    return { primeiro_nome, sobrenome };\n}\n\n// Função para formatar o telefone mantendo o DDD correto e adicionando +55 se necessário\nfunction formatarTelefone(telefone) {\n    let numero = telefone.replace(/\\D/g, \"\"); // Remove tudo que não for número\n    if (numero.length < 10) return null; // Retorna null se o número for inválido\n\n    // Verifica se o número já começa com \"55\"\n    if (!numero.startsWith(\"55\")) {\n        numero = \"55\" + numero;\n    }\n\n    return numero;\n}\n\n// Função para formatar data e hora\nfunction formatarDataHora(data, horario) {\n    return `${data} ${horario}:00`; // Adiciona segundos para padronização\n}\n\n// Processando os dados dinamicamente\nconst { primeiro_nome, sobrenome } = formatarNome(data[\"Nome\"] || \"\");\nconst telefoneFormatado = formatarTelefone(data[\"Telefone\"] || \"\");\nconst emailFormatado = (data[\"E-mail\"] || \"\").toLowerCase();\nconst dataHoraFormatada = formatarDataHora(data[\"Data\"] || \"\", data[\"Horário\"] || \"\");\n\n// Retornando o JSON formatado\nreturn {\n    primeiro_nome,\n    sobrenome,\n    telefone: telefoneFormatado,\n    email: emailFormatado,\n    data_hora: dataHoraFormatada,\n    url_pagina: data[\"URL da página\"] || \"\",\n};"
      },
      "id": "d58d9dc5-e2b9-4867-9a03-5d16b12733f1",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        -640
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] === $node[\"chega_da_fila\"].json[\"content\"][\"email\"] ? $node[\"chega_da_fila\"].json[\"content\"][\"email\"] : \"---------\" }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "791df40d-95e0-4572-b623-f2573c38566c",
      "name": "pesquisa_user3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        740,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4dba91f-18e0-4d2a-89f6-45df5dc3929f",
      "name": "encontrou_user1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        260
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "form_id",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"form_id\"] }}"
            },
            {
              "column": "pagina",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"page\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "d6d26f8a-44ae-4dae-85b3-8df1cff586c4",
      "name": "insere_lead_na_tabela_cadastros9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        3040,
        520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data_de_entrada",
              "value": "={{ $now }}"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9b44ee43-9d4f-4e40-9c02-d755c0083ece",
      "name": "insere_lead_na_tabela_users2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1280,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "297",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "b45f78b5-f341-42ea-8809-062bca9139cc",
      "name": "tag_captacao1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        520,
        260
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "Duvmu036W0yUDGnv",
          "name": "ActiveCampaign - eng. matheus"
        }
      }
    },
    {
      "parameters": {
        "url": "https://pertengenharia65979.api-us1.com/api/3/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "b419d201280255cfb5949e0ba2a37254603f256450715cb36ea5a74ecae2b608669123f9"
            }
          ]
        },
        "options": {}
      },
      "id": "55a8b2c2-76ac-4b3a-ab5c-5cb1b000fd8d",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "2130aa22-e19a-4662-8a2e-b43d36facf6d",
              "leftValue": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5ba13d92-8faf-4b06-bdc7-68258a0ff572",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        20,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_user",
        "valueToMatchOn": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "form_id",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"form_id\"] }}"
            },
            {
              "column": "pagina",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"page\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e13b1690-a047-4d86-9129-f616716549e4",
      "name": "atualiza_lead_na_tabela_cadastros",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        3740,
        -60
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "aecf1fb5-f2d2-4bfb-9cc6-b1dab1a8c18f",
      "name": "pesquisa_cadastro1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3740,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"existe_cadastro\"].json[\"email\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ee372466-be73-4bd2-ac12-714be5957781",
      "name": "email do webhook é o mesmo email já captado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2820,
        -60
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "15105623-dba3-4672-87ea-9742a6b7668d",
      "name": "atualiza_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1720,
        180
      ],
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "ff7f2924-ac6e-4be0-9a1f-bfdb16fb9608",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "c0269878-e336-433f-b399-d39ed554d656",
      "name": "Stop and Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        440,
        -20
      ]
    },
    {
      "parameters": {
        "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "=454",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              }
            ]
          },
          "firstName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}",
          "lastName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}",
          "phone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
        }
      },
      "id": "0fc03b4b-ef60-44e4-a75c-c13091aa4ab2",
      "name": "cria_contato_no_ac1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        180,
        380
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "Duvmu036W0yUDGnv",
          "name": "ActiveCampaign - eng. matheus"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
        "updateFields": {
          "fieldValues": {
            "property": [
              {
                "field": "=454",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              }
            ]
          },
          "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
          "firstName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}",
          "lastName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}",
          "phone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
        }
      },
      "id": "b0cd02c6-78b3-4e08-905e-d310eb9423bc",
      "name": "atualiza_contato_no_ac1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        200,
        80
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "Duvmu036W0yUDGnv",
          "name": "ActiveCampaign - eng. matheus"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "41afa599-006a-4c6c-9cb9-b6c1587b9860",
      "name": "existe_cadastro",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2100,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $json[\"id\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5f59fc00-39aa-45f7-87fe-ddf65260b346",
      "name": "existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2340,
        80
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "75a03ada-3240-4cfd-8f99-c6626dee1c37",
      "name": "pesquisa_cadastro2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2620,
        -60
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_cadastro2\"].json[\"email\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a869ef2a-6453-4390-8c8b-008f2fb9b1e8",
              "leftValue": "={{ $json[\"evento\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "651b36fb-7b46-4ced-b9dd-8f7a37f5631e",
      "name": "encontrou cadastro no lançamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3240,
        -260
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"pesquisa_user\"].json[\"id\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "pagina",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"page\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "786129dc-01a0-4fc5-84a2-8063cd06f1be",
      "name": "insere_lead_na_tabela_cadastros7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1720,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user3\"].json[\"email\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "efe0da66-adeb-4ba9-88d4-2018aef47122",
      "name": "email_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1480,
        80
      ]
    },
    {
      "parameters": {
        "queue": "[CADASTRO] [PEC0325]",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}"
        }
      },
      "id": "21ae4dee-a1f3-4122-85b1-0d9ec89e9804",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        240
      ],
      "credentials": {
        "rabbitmq": {
          "id": "DG2PMHOSIQ0AOSwK",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"existe_cadastro\"].json[\"evento\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5ada64d-3560-4dee-9a2f-c18f1e11a754",
      "name": "evento_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3240,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] === $node[\"chega_da_fila\"].json[\"content\"][\"email\"] ? $node[\"chega_da_fila\"].json[\"content\"][\"email\"] : \"---------\" }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "114fd534-2c7b-4984-81f0-1456d3ea5d07",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1500,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3600,
        -280
      ],
      "id": "ee6f7978-7afc-490f-b2ce-aef6d0dec3d1",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "# RECEBE DADOS DO WEBHOOK",
        "height": 400,
        "width": 1100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -580,
        -780
      ],
      "id": "a2b24611-50b3-4fa0-b997-561e6df04333",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# DISTRIBUI DADOS ENTRE BANCO DE DADOS E ACTIVE CAMPAIGN",
        "height": 1087,
        "width": 4613,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        -320
      ],
      "typeVersion": 1,
      "id": "9c82d6da-0f86-4255-b1ec-7db63480b155",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# VERIFICAÇÃO SE ENTROU NO GRUPO DEPOIS DE 10MIN",
        "height": 1087,
        "width": 4613,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        860
      ],
      "typeVersion": 1,
      "id": "9fe87c1a-2bfa-4856-866e-1663d93a48e4",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.datacrazy.io/v1/crm/api/crm/flows/webhooks/7bc41b91-73f6-4879-91a8-0868ddc82f84/a968d88c-2b30-41b0-9a97-e7b088d07b09",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        1060
      ],
      "id": "3623df2a-6e7e-4912-ba92-90968b39bd92",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e86ef122-3cae-47b1-b825-edf21c5afed8",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "d7d30ad6-435e-4a18-9b00-9c13fc397d5a",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}",
              "type": "string"
            },
            {
              "id": "6a7c84e5-b0d8-40a6-bd53-8e65deba8f5e",
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        1060
      ],
      "id": "37addc7f-69dd-426b-9a3e-324c9c44ed94",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-GXs8FaTCFzVOLe1fsSwMlg",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "[CADASTRO] [PEC0325]"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "email": "marcosvini.daroch@gmail.com",
            "utm_source": null,
            "utm_campaign": null,
            "utm_term": null,
            "utm_medium": null,
            "utm_content": null,
            "form_id": "254b7a4e",
            "page": "https://engenheiromatheus.com/cadastro-pec/",
            "Evento": "Captação | PEC0325 Teste",
            "nome": "Marcos",
            "sobrenome": "Santana",
            "telefone": "5527998210071"
          }
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.engenheiromatheus.com",
            "user-agent": "WordPress/6.7.2; https://engenheiromatheus.com",
            "content-length": "207",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "177.154.191.229",
            "x-forwarded-host": "webhook.engenheiromatheus.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7e5b8bef7460",
            "x-real-ip": "177.154.191.229"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Marcos Santana",
            "E-mail": "marcosvini.daroch@gmail.com",
            "Telefone": "+5527998210071",
            "utm_source": "share",
            "utm_campaign": "share_via",
            "utm_medium": "android_app",
            "utm_content": "profile",
            "utm_term": "",
            "form_id": "254b7a4e",
            "form_name": "cadastro-pec"
          },
          "webhookUrl": "https://webhook.engenheiromatheus.com/webhook/pec0325",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-05-05T17:56:35.694Z",
  "versionId": "118255db-0e13-4bb4-b090-cbfcea4ee07f"
}