workflows/🟠 [CADASTRO] [PREV0625].json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "chega_da_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user3": {
      "main": [
        [
          {
            "node": "encontrou_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user1": {
      "main": [
        [
          {
            "node": "email_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_users2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_cadastros9": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_users2": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead_na_tabela_cadastros": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro1": {
      "main": [
        [
          {
            "node": "encontrou cadastro no lançamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email do webhook é o mesmo email já captado?": {
      "main": [
        [
          {
            "node": "encontrou cadastro no lançamento?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "evento_igual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_user": {
      "main": [
        [
          {
            "node": "existe_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_cadastro": {
      "main": [
        [
          {
            "node": "existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe?": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_cadastros9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro2": {
      "main": [
        [
          {
            "node": "email do webhook é o mesmo email já captado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou cadastro no lançamento?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_cadastros9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_cadastros7": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual1": {
      "main": [
        [
          {
            "node": "existe_cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento_igual": {
      "main": [
        [
          {
            "node": "atualiza_lead_na_tabela_cadastros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_cadastro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "insere_lead_na_tabela_cadastros7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_telefone1": {
      "main": [
        [
          {
            "node": "cria_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_whatsapp1": {
      "main": [
        [],
        [
          {
            "node": "atualiza_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_manychat2": {
      "main": [
        [
          {
            "node": "define_campo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_telefone1": {
      "main": [
        [
          {
            "node": "envia_fluxo_boas_vindas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo_boas_vindas1": {
      "main": [
        [
          {
            "node": "fim1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_telefone1": {
      "main": [
        [
          {
            "node": "nao_encontrou_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_manychat2": {
      "main": [
        [
          {
            "node": "verifica_whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_no_ac1": {
      "main": [
        [
          {
            "node": "tag_captacao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_no_ac1": {
      "main": [
        [
          {
            "node": "tag_captacao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "atualiza_contato_no_ac1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_contato_no_ac1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag_captacao1": {
      "main": [
        [
          {
            "node": "pesquisa_user3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-16T19:46:19.163Z",
  "id": "VlFjrdCX93ivwIJG",
  "meta": null,
  "name": "🟠 [CADASTRO] [PREV0625]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prev0625",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        140
      ],
      "id": "ade9bfa1-cf54-4fd8-b2e1-a7a04772a890",
      "name": "Webhook",
      "webhookId": "0f3590ee-002d-41f2-9989-4e362739de3d"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body;\n\n// Função para formatar o nome\nfunction formatarNome(nome) {\n    const partes = nome.trim().split(\" \");\n    const primeiro_nome = partes.shift();\n    const sobrenome = partes.length > 0 ? partes.join(\" \") : \"\";\n    return { primeiro_nome, sobrenome };\n}\n\n// Função para formatar o telefone mantendo o DDD correto e adicionando +55 se necessário\nfunction formatarTelefone(telefone) {\n    let numero = telefone.replace(/\\D/g, \"\"); // Remove tudo que não for número\n    if (numero.length < 10) return null; // Retorna null se o número for inválido\n\n    // Verifica se o número já começa com \"55\"\n    if (!numero.startsWith(\"55\")) {\n        numero = \"55\" + numero;\n    }\n\n    return numero;\n}\n\n// Função para formatar data e hora\nfunction formatarDataHora(data, horario) {\n    return `${data} ${horario}:00`; // Adiciona segundos para padronização\n}\n\n// Processando os dados dinamicamente\nconst { primeiro_nome, sobrenome } = formatarNome(data[\"Nome\"] || \"\");\nconst telefoneFormatado = formatarTelefone(data[\"Telefone\"] || \"\");\nconst emailFormatado = (data[\"E-mail\"] || \"\").toLowerCase();\nconst dataHoraFormatada = formatarDataHora(data[\"Data\"] || \"\", data[\"Horário\"] || \"\");\n\n// Retornando o JSON formatado\nreturn {\n    primeiro_nome,\n    sobrenome,\n    telefone: telefoneFormatado,\n    email: emailFormatado,\n    data_hora: dataHoraFormatada,\n    url_pagina: data[\"URL da página\"] || \"\",\n};"
      },
      "id": "5ab61764-0cd4-4e46-9812-44640713fcf1",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        140
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "9f53bd57-e081-43db-83ca-5a663a6a2991",
      "name": "pesquisa_user3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1320,
        1040
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ol3X43bVLiNXkonq",
          "name": "prof_frederico"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "81e19289-1757-44bc-a805-70e12ce71649",
      "name": "encontrou_user1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        1040
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "form_id",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"form_id\"] }}"
            },
            {
              "column": "pagina",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"page\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "a2dee4e4-2ccb-402d-8dd0-9126cf7b4d70",
      "name": "insere_lead_na_tabela_cadastros9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        3620,
        1300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ol3X43bVLiNXkonq",
          "name": "prof_frederico"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data_de_entrada",
              "value": "={{ $now }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"sobrenome\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "3713b871-581e-4fd4-ad84-a28a15f57ccc",
      "name": "insere_lead_na_tabela_users2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1840,
        1160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ol3X43bVLiNXkonq",
          "name": "prof_frederico"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_user",
        "valueToMatchOn": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "form_id",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"form_id\"] }}"
            },
            {
              "column": "pagina",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"page\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "18299b6b-ba15-4444-88be-2cb72c7c89cb",
      "name": "atualiza_lead_na_tabela_cadastros",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        4200,
        700
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ol3X43bVLiNXkonq",
          "name": "prof_frederico"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "6c60e9be-6e31-47b5-88db-adeaeb0c5987",
      "name": "pesquisa_cadastro1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4200,
        940
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ol3X43bVLiNXkonq",
          "name": "prof_frederico"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"existe_cadastro\"].json[\"email\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e523c0cf-2c36-49e2-96b1-308672a14336",
      "name": "email do webhook é o mesmo email já captado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3440,
        720
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_source\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5ca12901-8de6-4329-95d8-d17ecf3925be",
      "name": "atualiza_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2300,
        960
      ],
      "credentials": {
        "mySql": {
          "id": "ol3X43bVLiNXkonq",
          "name": "prof_frederico"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "381bd732-8846-488a-ada2-c5aafd332df3",
      "name": "existe_cadastro",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2680,
        860
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ol3X43bVLiNXkonq",
          "name": "prof_frederico"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $json[\"id\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cde5675d-1e26-42fd-9d1e-52eb85829467",
      "name": "existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2920,
        860
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "86cb694f-e2f9-401e-8c9e-3a604e4e5f5a",
      "name": "pesquisa_cadastro2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3200,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ol3X43bVLiNXkonq",
          "name": "prof_frederico"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_cadastro2\"].json[\"email\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a869ef2a-6453-4390-8c8b-008f2fb9b1e8",
              "leftValue": "={{ $json[\"evento\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"Evento\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "27424938-d2dc-418f-97ef-6088b6dd6964",
      "name": "encontrou cadastro no lançamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3820,
        520
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"pesquisa_user\"].json[\"id\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "pagina",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"page\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"Evento\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b6f8dcd4-b8a3-4903-884d-3e60433375c0",
      "name": "insere_lead_na_tabela_cadastros7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2880,
        1260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ol3X43bVLiNXkonq",
          "name": "prof_frederico"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user3\"].json[\"email\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bca3bdb1-f73b-4536-86fb-dada83cec077",
      "name": "email_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2060,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"existe_cadastro\"].json[\"evento\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"Evento\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9c4ceeb0-b70e-41b3-a2d2-759b3997e923",
      "name": "evento_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3820,
        740
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "3a3dcfa4-d2f1-4708-91ed-069e5ee24d63",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2080,
        1260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ol3X43bVLiNXkonq",
          "name": "prof_frederico"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4180,
        520
      ],
      "id": "37e632cc-42fe-4e8f-9995-d802bc7c6581",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "# RECEBE DADOS DO WEBHOOK",
        "height": 400,
        "width": 1100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "54665f73-86de-4db9-a52b-7b339d2786f2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# DISTRIBUI DADOS ENTRE BANCO DE DADOS E ACTIVE CAMPAIGN",
        "height": 1087,
        "width": 4613,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        460
      ],
      "typeVersion": 1,
      "id": "b71cd9fd-0597-44b2-a020-143fe9b11a89",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# VERIFICAÇÃO SE ENTROU NO GRUPO DEPOIS DE 10MIN",
        "height": 627,
        "width": 4613,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1640
      ],
      "typeVersion": 1,
      "id": "8564f027-e700-422b-949c-90d767d115c5",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads_nos_grupos",
          "mode": "list",
          "cachedResultName": "leads_nos_grupos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        180,
        1860
      ],
      "id": "8c3f470a-a079-4df3-a7b5-f9c1c11e981e",
      "name": "MySQL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ol3X43bVLiNXkonq",
          "name": "prof_frederico"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "07ed71b4-7cfd-4ac6-af94-7d4f18eba855",
      "name": "nao_encontrou_telefone1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        980,
        1880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0b43ebf2-3b3b-4851-b3ff-a91252309dfd",
              "leftValue": "={{ $node[\"cria_contato_manychat2\"].json[\"error\"][\"message\"] }}",
              "rightValue": "The input value is not a valid WhatsApp ID",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "148edbba-9bc8-4d7f-a0a5-ab59beba9d5d",
      "name": "verifica_whatsapp1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        1760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Thiago. Posso ter seu contato?"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{ $json[\"data\"][\"0\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e9c6a677-d44e-45a0-a0b1-5efbe7579633",
      "name": "atualiza_contato_manychat2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        1980
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"field_id\"] }}"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4eaf1c7a-0258-48f7-a9b5-a0f7949606d0",
      "name": "define_campo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1620,
        2020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow_ns",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"fluxo\"] }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "58cb6212-f4a8-406c-888b-55108a09df98",
      "name": "envia_fluxo_boas_vindas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        1860
      ]
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByCustomField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "field_id",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"field_id\"] }}"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7f6f4260-56d4-4e52-b46d-5dadfaf9ef18",
      "name": "procura_id_manychat_pelo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        1860
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Engenheiro Matheus. Posso ter seu contato?"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c310a00-c822-412c-bd9d-24ae93685625",
      "name": "cria_contato_manychat2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        1760
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"telefone\"] }}",
              "type": "string"
            },
            {
              "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
              "name": "data",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "7a3d4fcd-81b7-4ef3-addc-f2ad5b9cdc9e",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "9c0ec6b5-898c-4384-a1cc-77ceb52978b3",
              "name": "field_id",
              "value": "12778003",
              "type": "string"
            },
            {
              "id": "c6b5b62a-ec31-4b6d-b93a-9873c73f7afc",
              "name": "fluxo",
              "value": "content20250513165423_877275",
              "type": "string"
            },
            {
              "id": "0fa3844c-2147-4d51-a5e7-b41b0ac56bda",
              "name": "key",
              "value": "104169159278240:61969b41c2e16ce21053b0a9b903395e",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7bbb4a9a-1fc3-4f5e-8499-3358c26ce514",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        1860
      ]
    },
    {
      "parameters": {},
      "id": "676e5500-37c0-46a2-beb1-60ccf74a088c",
      "name": "fim1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2220,
        1860
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
        "updateFields": {
          "fieldValues": {
            "property": [
              {
                "field": "39",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              },
              {
                "field": "51",
                "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_source\"] }}"
              },
              {
                "field": "52",
                "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_campaign\"] }}"
              },
              {
                "field": "53",
                "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_term\"] }}"
              },
              {
                "field": "54",
                "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_medium\"] }}"
              },
              {
                "field": "55",
                "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_content\"] }}"
              },
              {
                "field": "49",
                "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"page\"] }}"
              }
            ]
          },
          "email": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}",
          "firstName": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"nome\"] }}",
          "lastName": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"sobrenome\"] }}",
          "phone": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"telefone\"] }}"
        }
      },
      "id": "97233f16-a132-4545-84f4-939aaa7aad2d",
      "name": "atualiza_contato_no_ac1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        780,
        860
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "nr1tSYoPVKTGtZhQ",
          "name": "ActiveCampaign - ijuprev"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "email": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "39",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              },
              {
                "field": "51",
                "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_source\"] }}"
              },
              {
                "field": "52",
                "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_campaign\"] }}"
              },
              {
                "field": "53",
                "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_term\"] }}"
              },
              {
                "field": "54",
                "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_medium\"] }}"
              },
              {
                "field": "55",
                "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"utm_content\"] }}"
              },
              {
                "field": "49",
                "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"page\"] }}"
              }
            ]
          },
          "firstName": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"nome\"] }}",
          "lastName": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"sobrenome\"] }}",
          "phone": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"telefone\"] }}"
        }
      },
      "id": "83064027-c905-4868-900b-57a352095b66",
      "name": "cria_contato_no_ac1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        760,
        1160
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "nr1tSYoPVKTGtZhQ",
          "name": "ActiveCampaign - ijuprev"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "33cbc058-e1ac-4461-8079-ac05d745e7f6",
      "name": "Stop and Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1020,
        760
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "60a7b707-cbaa-4a80-be38-a1c8e3f0474d",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        980,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2130aa22-e19a-4662-8a2e-b43d36facf6d",
              "leftValue": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0b8deea9-e65b-45cf-8601-b5bfb4af535a",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        1020
      ]
    },
    {
      "parameters": {
        "url": "https://ijuprev.api-us1.com/api/3/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"email\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "240dbcc6a8c77cc0de832f11be87d4af4d41a5b7c12ef7c4ae9cffab9cb2761960387e99"
            }
          ]
        },
        "options": {}
      },
      "id": "6d07d332-7fae-434b-8faf-5a131dcfa3a4",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        1020
      ]
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "358",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "a7df8e9e-a31d-4d80-985d-44e947e7c751",
      "name": "tag_captacao1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1100,
        1040
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "nr1tSYoPVKTGtZhQ",
          "name": "ActiveCampaign - ijuprev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79edcf9f-8602-409f-8d04-ced41c06d16f",
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"email\"] }}",
              "type": "string"
            },
            {
              "id": "4750507c-f44a-45d5-b5ce-2a681d5a5581",
              "name": "utm_source",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_source\"] }}",
              "type": "string"
            },
            {
              "id": "a68b8a08-b2d1-4352-affb-0a6f4045cf4a",
              "name": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_campaign\"] }}",
              "type": "string"
            },
            {
              "id": "71c74ec7-51b3-422e-a2d5-ae7bbf3bd1b0",
              "name": "utm_term",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_term\"] }}",
              "type": "string"
            },
            {
              "id": "57aa10ae-6631-4352-8925-35138b1c9b7a",
              "name": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_medium\"] }}",
              "type": "string"
            },
            {
              "id": "4e84ee54-3122-48e4-92d9-1f9db59e0b94",
              "name": "utm_content",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_content\"] }}",
              "type": "string"
            },
            {
              "id": "66f8191a-dd73-4773-b3f7-a63076f8686b",
              "name": "form_id",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"form_id\"] }}",
              "type": "string"
            },
            {
              "id": "bb839055-124b-4671-99e9-d13293daa8c7",
              "name": "page",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"page_version\"] }}",
              "type": "string"
            },
            {
              "id": "b5b5da8a-46c5-44bd-acb3-3f246b420a53",
              "name": "Evento",
              "value": "[CADASTRO] [PREV0625]",
              "type": "string"
            },
            {
              "id": "271ee5fa-6031-4a09-b53d-b1da2acf56a9",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"primeiro_nome\"] }}",
              "type": "string"
            },
            {
              "id": "a973ea01-7ccc-4b7b-aa43-4237223690c7",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "7b8ac769-0ee5-410d-849d-34385009029b",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"telefone\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "027837ac-d310-4238-8938-3014addc5e0f",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        560,
        140
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.engenheiromatheus.com",
            "user-agent": "WordPress/6.8.1; https://lancamentos.eprevensino.com.br",
            "content-length": "360",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "177.154.191.212",
            "x-forwarded-host": "webhook.engenheiromatheus.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7e5b8bef7460",
            "x-real-ip": "177.154.191.212"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Marcia De Franca",
            "E-mail": "marciafrancainss@gmail.com",
            "Telefone": "+5521982985819",
            "utm_source": "ig",
            "utm_medium": "Instagram_Feed",
            "utm_term": "PREV0625_CAP001_VID_PARABÉNS_GANHOU_V1_Group_1",
            "utm_campaign": "VS-PREV0625-CAPTACAO-CADASTRO-AUTO-Q-Publicos-quentes",
            "utm_content": "01-AUTO-Q-Envolvimento-30D",
            "utm_pos": "",
            "page_version": "PREV0625-V1",
            "form_id": "504ef82f",
            "form_name": "PREV0625"
          },
          "webhookUrl": "https://webhook.engenheiromatheus.com/webhook/prev0625",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-16T20:17:49.585Z",
      "updatedAt": "2025-05-16T20:17:49.585Z",
      "id": "obgmbWafxQW8rGLq",
      "name": "PREV0625"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-17T05:23:13.448Z",
  "versionId": "f10a5ecd-5e1c-4cb2-9721-c20aaa9aa3db"
}