workflows/🟠 [CADASTRO] [PEC0325] [MANYCHAT].json
{
  "active": true,
  "connections": {
    "dados": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user3": {
      "main": [
        [
          {
            "node": "encontrou_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user1": {
      "main": [
        [
          {
            "node": "email_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_users2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_cadastros9": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_users2": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag_captacao1": {
      "main": [
        [
          {
            "node": "pesquisa_user3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "atualiza_contato_no_ac1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_contato_no_ac1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead_na_tabela_cadastros": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email do webhook é o mesmo email já captado?": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_user": {
      "main": [
        [
          {
            "node": "existe_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_no_ac1": {
      "main": [
        [
          {
            "node": "tag_captacao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_no_ac1": {
      "main": [
        [
          {
            "node": "tag_captacao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_cadastro": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro2": {
      "main": [
        [
          {
            "node": "email do webhook é o mesmo email já captado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_cadastros7": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual1": {
      "main": [
        [
          {
            "node": "existe_cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "insere_lead_na_tabela_cadastros7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_telefone1": {
      "main": [
        [
          {
            "node": "cria_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_whatsapp1": {
      "main": [
        [],
        [
          {
            "node": "atualiza_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_manychat2": {
      "main": [
        [
          {
            "node": "define_campo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_telefone1": {
      "main": [
        [
          {
            "node": "envia_fluxo_boas_vindas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo_boas_vindas1": {
      "main": [
        [
          {
            "node": "fim1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_telefone1": {
      "main": [
        [
          {
            "node": "nao_encontrou_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_manychat2": {
      "main": [
        [
          {
            "node": "verifica_whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_cadastros9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_cadastros9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "atualiza_lead_na_tabela_cadastros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_cadastro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-01T17:03:00.700Z",
  "id": "6t9CO61IuHub7v2k",
  "meta": null,
  "name": "🟠 [CADASTRO] [PEC0325] [MANYCHAT]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pec0325-manychat",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        -640
      ],
      "id": "6af74d06-eade-4784-967d-5cbc14be66b3",
      "name": "Webhook",
      "webhookId": "675a8fcf-3205-405d-bf59-305975a2cfe3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79edcf9f-8602-409f-8d04-ced41c06d16f",
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"email\"] }}",
              "type": "string"
            },
            {
              "id": "4750507c-f44a-45d5-b5ce-2a681d5a5581",
              "name": "utm_source",
              "value": "manychat",
              "type": "string"
            },
            {
              "id": "a68b8a08-b2d1-4352-affb-0a6f4045cf4a",
              "name": "utm_campaign",
              "value": "manychat",
              "type": "string"
            },
            {
              "id": "71c74ec7-51b3-422e-a2d5-ae7bbf3bd1b0",
              "name": "utm_term",
              "value": "manychat",
              "type": "string"
            },
            {
              "id": "57aa10ae-6631-4352-8925-35138b1c9b7a",
              "name": "utm_medium",
              "value": "manychat",
              "type": "string"
            },
            {
              "id": "4e84ee54-3122-48e4-92d9-1f9db59e0b94",
              "name": "utm_content",
              "value": "manychat",
              "type": "string"
            },
            {
              "id": "66f8191a-dd73-4773-b3f7-a63076f8686b",
              "name": "form_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "bb839055-124b-4671-99e9-d13293daa8c7",
              "name": "page",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"form_name\"] }}",
              "type": "string"
            },
            {
              "id": "b5b5da8a-46c5-44bd-acb3-3f246b420a53",
              "name": "Evento",
              "value": "Captação | PEC0325",
              "type": "string"
            },
            {
              "id": "271ee5fa-6031-4a09-b53d-b1da2acf56a9",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "a973ea01-7ccc-4b7b-aa43-4237223690c7",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "7b8ac769-0ee5-410d-849d-34385009029b",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"telefone\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1894ade0-7acf-4dd8-8408-8d5d1dc02cb0",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -20,
        -640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtém os dados de entrada\nconst inputData = $input.item.json;\n\n// Remove todos os caracteres que não sejam números do telefone\nlet telefone = inputData.body.telefone.replace(/\\D/g, \"\");\n\n// Adiciona DDI 55 se não estiver presente no início\nif (!telefone.startsWith(\"55\")) {\n  telefone = \"55\" + telefone;\n}\ninputData.body.telefone = telefone;\n\n// Separa nome e sobrenome\nconst nomeCompleto = inputData.body.nome.trim().split(\" \");\ninputData.body.nome = nomeCompleto[0]; // Primeiro nome\ninputData.body.sobrenome = nomeCompleto.slice(1).join(\" \"); // Restante como sobrenome\n\n// Transforma o e-mail para minúsculas\nif (inputData.body.email) {\n  inputData.body.email = inputData.body.email.toLowerCase();\n}\n\n// Retorna os dados modificados\nreturn [inputData];\n"
      },
      "id": "329415f2-3503-4424-89fd-4807b84a325f",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        -640
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "0627cb77-4891-4bb6-97a9-9892036444d3",
      "name": "pesquisa_user3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        740,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2bf5a07a-b775-4779-b3a0-e11bba67ee43",
      "name": "encontrou_user1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        260
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "form_id",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"form_id\"] }}"
            },
            {
              "column": "pagina",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"page\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f461bff3-7a1b-4b83-b81b-55bb734e4f3b",
      "name": "insere_lead_na_tabela_cadastros9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        3260,
        520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data_de_entrada",
              "value": "={{ $now }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "de351741-91ef-41ea-b957-0eda45dc4d1d",
      "name": "insere_lead_na_tabela_users2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1260,
        380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "297",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "f774d0a1-74b6-478e-a9a0-c3ea2600ff7a",
      "name": "tag_captacao1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        520,
        260
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "Duvmu036W0yUDGnv",
          "name": "ActiveCampaign - eng. matheus"
        }
      }
    },
    {
      "parameters": {
        "url": "https://pertengenharia65979.api-us1.com/api/3/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "b419d201280255cfb5949e0ba2a37254603f256450715cb36ea5a74ecae2b608669123f9"
            }
          ]
        },
        "options": {}
      },
      "id": "424d79a6-a7d7-44aa-b050-305493c50119",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "2130aa22-e19a-4662-8a2e-b43d36facf6d",
              "leftValue": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3be54b3d-5e67-4675-9882-f1a4cf5465bd",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        20,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_user",
        "valueToMatchOn": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "form_id",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"form_id\"] }}"
            },
            {
              "column": "pagina",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"page\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "959f8c79-ea93-4fa3-88ce-585cf576fab3",
      "name": "atualiza_lead_na_tabela_cadastros",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        3840,
        -80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f0d12a8a-131e-4f54-ab01-02d6513e7746",
      "name": "pesquisa_cadastro1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3840,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"existe_cadastro\"].json[\"email\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f131aca2-2bd2-48c2-8add-cdb483a010c4",
      "name": "email do webhook é o mesmo email já captado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3080,
        -60
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0246c870-b41e-453d-9375-34a7e5e979a5",
      "name": "atualiza_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1720,
        180
      ],
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "fe2656df-d328-4e63-b044-926c9d6feb28",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "285b14ab-d78a-4d38-9018-00b16a9a43c4",
      "name": "Stop and Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        440,
        -20
      ]
    },
    {
      "parameters": {
        "email": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "=454",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              }
            ]
          },
          "firstName": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}",
          "lastName": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}",
          "phone": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
        }
      },
      "id": "58898246-fd0c-454a-bf02-fae24846208a",
      "name": "cria_contato_no_ac1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        180,
        380
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "Duvmu036W0yUDGnv",
          "name": "ActiveCampaign - eng. matheus"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
        "updateFields": {
          "fieldValues": {
            "property": [
              {
                "field": "=454",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              }
            ]
          },
          "email": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}",
          "firstName": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}",
          "lastName": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}",
          "phone": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
        }
      },
      "id": "e762739d-73cc-4135-9c99-f9d217cd8351",
      "name": "atualiza_contato_no_ac1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        200,
        80
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "Duvmu036W0yUDGnv",
          "name": "ActiveCampaign - eng. matheus"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0f0e646c-ed6b-494b-9946-26b54678e39d",
      "name": "existe_cadastro",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2100,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "21f8f554-34d7-40a0-b239-debd0123fc5f",
      "name": "pesquisa_cadastro2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2840,
        -60
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"pesquisa_user\"].json[\"id\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "pagina",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"page\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "a2a507ad-b78c-41d6-b212-de2649c1d76f",
      "name": "insere_lead_na_tabela_cadastros7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2300,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user3\"].json[\"email\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9c4e1456-1385-477d-bfeb-d85e52631f99",
      "name": "email_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1480,
        80
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "86e84163-202f-4c6a-adae-b43a31b22f05",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1500,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3820,
        -260
      ],
      "id": "41dddb2d-1d33-40e1-aa84-b15805ab1d2c",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "# RECEBE DADOS DO WEBHOOK",
        "height": 400,
        "width": 1100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -580,
        -780
      ],
      "id": "7279c40a-ee0f-4a6a-9f76-e76732a851c1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# DISTRIBUI DADOS ENTRE BANCO DE DADOS E ACTIVE CAMPAIGN",
        "height": 1087,
        "width": 4613,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        -320
      ],
      "typeVersion": 1,
      "id": "086699b8-4367-4bb8-93db-1ef50b61d532",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# VERIFICAÇÃO SE ENTROU NO GRUPO DEPOIS DE 10MIN",
        "height": 1087,
        "width": 4613,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        860
      ],
      "typeVersion": 1,
      "id": "65d34bd3-8163-4935-9ffa-94f847076ff8",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads_nos_grupos",
          "mode": "list",
          "cachedResultName": "leads_nos_grupos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -400,
        1340
      ],
      "id": "27ca1cad-6278-49d0-9367-00e84b4ca08d",
      "name": "MySQL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "8ff95261-902d-4947-b6fe-c7c12bd60bd6",
      "name": "nao_encontrou_telefone1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        1360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0b43ebf2-3b3b-4851-b3ff-a91252309dfd",
              "leftValue": "={{ $node[\"cria_contato_manychat2\"].json[\"error\"][\"message\"] }}",
              "rightValue": "The input value is not a valid WhatsApp ID",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a00be9cd-c4ec-47a7-ade0-034900db7438",
      "name": "verifica_whatsapp1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        1240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Thiago. Posso ter seu contato?"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"Edit Fields3\"].json[\"email\"] }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{ $json[\"data\"][\"0\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ebdffde4-d8cf-405f-9aa0-c564003cc237",
      "name": "atualiza_contato_manychat2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        1460
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "11749335"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7f5d610a-0826-4461-9f75-4e3d555ef5e6",
      "name": "define_campo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        1500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow_ns",
              "value": "content20250320044314_021501"
            },
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6f1d6719-266e-4b57-9965-dce50d7fbe99",
      "name": "envia_fluxo_boas_vindas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        1340
      ]
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByCustomField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "field_id",
              "value": "11749335"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "options": {}
      },
      "id": "ccbd566b-091e-4dd1-b1b2-0d8516f2aca4",
      "name": "procura_id_manychat_pelo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        100,
        1340
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Engenheiro Matheus. Posso ter seu contato?"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"Edit Fields3\"].json[\"email\"] }}"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "36b48ef7-e2fb-4210-b0f0-898bfbe1cd48",
      "name": "cria_contato_manychat2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        1240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}",
              "type": "string"
            },
            {
              "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
              "name": "data",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "7a3d4fcd-81b7-4ef3-addc-f2ad5b9cdc9e",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a5d10262-1d80-4350-8bf3-2c9e17039dc2",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        1340
      ]
    },
    {
      "parameters": {},
      "id": "d521d274-a49e-43a7-b6aa-ee8e0bc5c4ab",
      "name": "fim1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1640,
        1340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c06e610-a243-40da-9de0-4ef47558707f",
              "leftValue": "={{ $item(\"0\").$node[\"existe_cadastro\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        80
      ],
      "id": "523ee8fd-9b6d-498b-a0a7-93079d77fda6",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6b629d8-1cee-4fe7-adbf-873d90d54f99",
              "leftValue": "={{ $node[\"pesquisa_cadastro2\"].json[\"email\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "d814c1c4-22c1-4cd3-b25d-0aa61aa2d6f5",
              "leftValue": "{{ $json[\"evento\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3460,
        -220
      ],
      "id": "2dd229cc-b0b7-4414-a39e-5550e421ee46",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6b629d8-1cee-4fe7-adbf-873d90d54f99",
              "leftValue": "={{ $node[\"existe_cadastro\"].json[\"evento\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3480,
        100
      ],
      "id": "c607f36f-5af8-4b42-b4b7-90e750e6a68f",
      "name": "If3"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.engenheiromatheus.com",
            "user-agent": "ManyChat",
            "content-length": "107",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "18.197.40.138",
            "x-forwarded-host": "webhook.engenheiromatheus.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7e5b8bef7460",
            "x-real-ip": "18.197.40.138",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Marcos",
            "telefone": "+27998210071",
            "instagram": "omarcostt",
            "email": "marcos@gmail.com"
          },
          "webhookUrl": "https://webhook.engenheiromatheus.com/webhook/pec0325-manychat",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-19T04:46:33.880Z",
      "updatedAt": "2025-03-19T04:46:33.880Z",
      "id": "PxviFA6iloeaurvs",
      "name": "[CADASTRO] [PEC0325]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-01T17:37:12.964Z",
  "versionId": "b97399d3-4e4d-4719-aa33-b55d4b5c95aa"
}