workflows/🟠 Fluxo do Typebot - [CADASTRO] [PEC0325].json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "grupo_lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "grupo_lista": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "encontrou_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_users": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro": {
      "main": [
        [
          {
            "node": "insert_pesquisa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_pesquisa": {
      "main": [
        []
      ]
    },
    "pesquisa_user1": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_telefone1": {
      "main": [
        [
          {
            "node": "cria_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_whatsapp1": {
      "main": [
        [],
        [
          {
            "node": "atualiza_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_manychat2": {
      "main": [
        [
          {
            "node": "define_campo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_telefone1": {
      "main": [
        [
          {
            "node": "envia_fluxo_boas_vindas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo_boas_vindas1": {
      "main": [
        [
          {
            "node": "fim1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_telefone1": {
      "main": [
        [
          {
            "node": "nao_encontrou_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_manychat2": {
      "main": [
        [
          {
            "node": "verifica_whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_telefone": {
      "main": [
        [
          {
            "node": "cria_contato_manychat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_whatsapp": {
      "main": [
        [],
        [
          {
            "node": "atualiza_contato_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_manychat": {
      "main": [
        [
          {
            "node": "define_campo_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_telefone": {
      "main": [
        [
          {
            "node": "define_campo_DOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo_boas_vindas": {
      "main": [
        [
          {
            "node": "fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_telefone": {
      "main": [
        [
          {
            "node": "nao_encontrou_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_manychat": {
      "main": [
        [
          {
            "node": "verifica_whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "pesquisa_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_id": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "insere_mensagem_na_tabela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MySQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_telefone2": {
      "main": [
        [
          {
            "node": "cria_contato_manychat3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_whatsapp2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_manychat3": {
      "main": [
        [
          {
            "node": "define_campo_telefone2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_telefone2": {
      "main": [
        [
          {
            "node": "nao_encontrou_telefone2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_manychat3": {
      "main": [
        [
          {
            "node": "verifica_whatsapp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_telefone2": {
      "main": [
        [
          {
            "node": "envia_fluxo_boas_vindas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_telefone2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo_boas_vindas2": {
      "main": [
        [
          {
            "node": "MySQL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL3": {
      "main": [
        [
          {
            "node": "MySQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "MySQL10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL10": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MySQL11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL4": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL11": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_DOR": {
      "main": [
        [
          {
            "node": "define_campo_VALOR INVESTIDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_VALOR INVESTIDO": {
      "main": [
        [
          {
            "node": "envia_fluxo_boas_vindas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-20T02:54:56.550Z",
  "id": "XvVnIRA3M9FWGSvJ",
  "meta": null,
  "name": "🟠 Fluxo do Typebot - [CADASTRO] [PEC0325]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "000f81cc-7cd5-401e-a7fe-31c75c19a760",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ],
      "id": "eee87344-d5f6-492c-ab0d-8c2ff6963e35",
      "name": "Webhook",
      "webhookId": "000f81cc-7cd5-401e-a7fe-31c75c19a760"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads_nos_grupos",
          "mode": "list",
          "cachedResultName": "leads_nos_grupos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        880,
        0
      ],
      "id": "8b37a3b7-2e75-4b8c-974b-dac598b9d5a0",
      "name": "MySQL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Obtém os dados de entrada\nconst inputData = $input.item.json;\n\n// Remove todos os caracteres que não sejam números do telefone\ninputData.body.PRESENTE = inputData.body.PRESENTE.replace(/\\D/g, \"\");\n\n// Retorna os dados modificados\nreturn [inputData];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        0
      ],
      "id": "20cd0b1f-bb80-478a-8ef7-1a43086be3dd",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce14e610-05e1-47e4-968f-0833b7bafa08",
              "leftValue": "={{ $json[\"nome_grupo\"] }}",
              "rightValue": "Imersão da Construção",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ],
      "id": "7193a177-8d81-4bb3-bffa-0c319464e1d3",
      "name": "grupo_lista",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $json[\"telefone\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "99bf5ef6-8513-43a0-9802-1cb209f80cf9",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -460,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cb52e248-6849-4ea2-9525-b4f047ec5855",
      "name": "encontrou_user",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -300,
        460
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data_de_entrada",
              "value": "={{ $now }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"Edit Fields1\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9650c905-9f62-433a-9e4e-278241d0106d",
      "name": "insere_lead_na_tabela_users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -60,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "[CADASTRO] [PEC0325] [TYPEBOT]"
            }
          ]
        },
        "options": {}
      },
      "id": "008db235-5730-4d69-8bc5-ab29ad7a840b",
      "name": "pesquisa_cadastro",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        460,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "pesquisas",
          "mode": "list",
          "cachedResultName": "pesquisas"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"pesquisa_user\"].json && $node[\"pesquisa_user\"].json.id ? $node[\"pesquisa_user\"].json[\"id\"] : ($node[\"pesquisa_user1\"].json && $node[\"pesquisa_user1\"].json.id ? $node[\"pesquisa_user1\"].json[\"id\"] : null) }}\n"
            },
            {
              "column": "id_cadastro",
              "value": "={{ $json[\"id\"] }}"
            },
            {
              "column": "pergunta1",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"body\"][\"CONSTRUIR OU REFORMAR\"] }}"
            },
            {
              "column": "pergunta2",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"body\"][\"TERRENO\"] }}"
            },
            {
              "column": "pergunta3",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"body\"][\"PRAZO PARA COMEÇAR A OBRA\"] }}"
            },
            {
              "column": "pergunta4",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"body\"][\"FASE DA CONSTRUÇÃO\"] }}"
            },
            {
              "column": "pergunta5",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"body\"][\"VALOR DA OBRA\"] }}"
            },
            {
              "column": "data_pesquisa",
              "value": "={{ $now }}"
            },
            {
              "column": "nome_pesquisa",
              "value": "[CADASTRO] [PEC0325] [TYPEBOT]"
            },
            {
              "column": "pergunta6",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"body\"][\"MEDO\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "07c689a0-2a03-408e-835d-508a5f006783",
      "name": "insert_pesquisa",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        760,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"telefone\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "e93f6d41-a143-4938-ae37-cd6ddda3ced1",
      "name": "pesquisa_user1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        280,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "content": "# FLUXO MSG 1 (ENTROU)",
        "height": 567,
        "width": 2313,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1180,
        -400
      ],
      "typeVersion": 1,
      "id": "182a48dd-1155-4d0e-940c-96d78a2e48bd",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# FLUXO MSG 2 (Ñ ENTROU)",
        "height": 567,
        "width": 2313,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1180,
        280
      ],
      "typeVersion": 1,
      "id": "46d564e8-6920-4162-a0ec-9cdcc1f821a7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# CADASTRA PESQUISA NO BANCO DE DADOS",
        "height": 570,
        "width": 1737
      },
      "id": "61f1b6a8-749a-4b2f-8dbd-f1d9ee391f5e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -600,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "2fbed0cb-e150-4a1a-8560-060b41b6a7c4",
      "name": "nao_encontrou_telefone1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2160,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0b43ebf2-3b3b-4851-b3ff-a91252309dfd",
              "leftValue": "={{ $node[\"cria_contato_manychat2\"].json[\"error\"][\"message\"] }}",
              "rightValue": "The input value is not a valid WhatsApp ID",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8515b54b-1402-4d76-a854-17f7e3d6c836",
      "name": "verifica_whatsapp1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2720,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Thiago. Posso ter seu contato?"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"Edit Fields3\"].json[\"email\"] }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{ $json[\"data\"][\"0\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ad971d2e-d49f-4e65-9c07-beabb936c90a",
      "name": "atualiza_contato_manychat2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2520,
        580
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "11749335"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "03c69a94-2871-4821-a067-b1a77d92df5d",
      "name": "define_campo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2800,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow_ns",
              "value": "content20250320044314_021501"
            },
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d31741eb-4b38-45c8-855f-63bd5451af15",
      "name": "envia_fluxo_boas_vindas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3180,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByCustomField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "field_id",
              "value": "11749335"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "options": {}
      },
      "id": "14306c01-68f7-4dbc-baca-d3accdfee704",
      "name": "procura_id_manychat_pelo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1860,
        460
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Engenheiro Matheus. Posso ter seu contato?"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"Edit Fields3\"].json[\"email\"] }}"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "918986eb-b140-4c4e-9451-333ae3d33ea2",
      "name": "cria_contato_manychat2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2520,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
              "name": "nome",
              "value": "={{ $node[\"Code\"].json[\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"body\"][\"PRESENTE\"] }}",
              "type": "string"
            },
            {
              "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
              "name": "data",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "7a3d4fcd-81b7-4ef3-addc-f2ad5b9cdc9e",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"sobrenome\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "743c6559-00da-41a8-9c8e-a5c740ee908c",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "c764ed95-61d4-4e9a-990d-104d28b2e82b",
      "name": "nao_encontrou_telefone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2180,
        -120
      ]
    },
    {
      "parameters": {},
      "id": "3d76cc27-ca11-42e7-a25e-eb84913f038f",
      "name": "fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3640,
        -220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0b43ebf2-3b3b-4851-b3ff-a91252309dfd",
              "leftValue": "={{ $node[\"cria_contato_manychat\"].json[\"error\"][\"message\"] }}",
              "rightValue": "The input value is not a valid WhatsApp ID",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "16c19176-3378-4ea9-a6e2-46418c87a13a",
      "name": "verifica_whatsapp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2660,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Thiago. Posso ter seu contato?"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields\"].json[\"telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"Edit Fields\"].json[\"email\"] }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{ $json[\"data\"][\"0\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "912fe2ea-8cf8-4f59-86d3-27adb1d9e986",
      "name": "atualiza_contato_manychat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2460,
        -100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "11749335"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b9389f53-be18-40b8-8d24-e4359621ac99",
      "name": "define_campo_telefone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2740,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow_ns",
              "value": "content20250320055203_438708"
            },
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e443e8e2-17f9-41eb-ba2f-000422bd677a",
      "name": "envia_fluxo_boas_vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3400,
        -60
      ]
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByCustomField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "field_id",
              "value": "11749335"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields\"].json[\"telefone\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "options": {}
      },
      "id": "0e136719-da9f-4660-bc85-6b1fd9240d24",
      "name": "procura_id_manychat_pelo_telefone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1800,
        -220
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Engenheiro Matheus. Posso ter seu contato?"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"Edit Fields\"].json[\"email\"] }}"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c17a830e-d664-42e1-8187-569ede12690b",
      "name": "cria_contato_manychat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2460,
        -320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
              "name": "nome",
              "value": "={{ $node[\"Code\"].json[\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"body\"][\"PRESENTE\"] }}",
              "type": "string"
            },
            {
              "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
              "name": "data",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "7a3d4fcd-81b7-4ef3-addc-f2ad5b9cdc9e",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"sobrenome\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a7efb69c-56e6-4752-a184-13e043115599",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        -220
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -540,
        1280
      ],
      "id": "fbb8211e-9d2e-4b2f-9e82-f6db73ba5ee5",
      "name": "Wait2",
      "webhookId": "33deca48-ce40-4937-9362-b3da61fd36c1"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $now.format('yyyy-MM-dd HH') }}",
        "timeUnit": "hours",
        "duration": 12,
        "outputFieldName": "new_date_one",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -320,
        1280
      ],
      "id": "46d1af95-2b4f-4b84-810a-9930953244ee",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json[\"new_date_one\"] }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm",
        "outputFieldName": "one_day_formated",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -120,
        1280
      ],
      "id": "c908e072-6b67-4439-b969-bfed13ae426a",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] || $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        80,
        1280
      ],
      "id": "6145b016-16c7-4a10-9ef3-a47e6956a002",
      "name": "pesquisa_id",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "mensagens_agendadas",
          "mode": "list",
          "cachedResultName": "mensagens_agendadas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_user",
        "valueToMatchOn": "={{ $item(\"0\").$node[\"pesquisa_id\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"Edit Fields4\"].json[\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"Edit Fields4\"].json[\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"Edit Fields4\"].json[\"telefone\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"Edit Fields4\"].json[\"email\"] }}"
            },
            {
              "column": "data_2",
              "value": "={{ $node[\"Edit Fields4\"].json[\"data_mensagem_1\"] }}"
            },
            {
              "column": "produto",
              "value": "={{ $node[\"Edit Fields4\"].json[\"produto\"] }}"
            },
            {
              "column": "mensagem",
              "value": "Mensagem [CADASTRO] [PEC0325] - 12h"
            },
            {
              "column": "evento",
              "value": "[CADASTRO] [PEC0325] [TYPEBOT]"
            },
            {
              "column": "enviada",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        760,
        1280
      ],
      "id": "d2686565-dcd0-41c3-b635-1d17c42b5095",
      "name": "insere_mensagem_na_tabela",
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"pesquisa_id\"].json[\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"pesquisa_id\"].json[\"telefone\"] }}",
              "type": "string"
            },
            {
              "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
              "name": "data_mensagem_1",
              "value": "={{ $item(\"0\").$node[\"Date & Time1\"].json[\"one_day_formated\"] }}",
              "type": "string"
            },
            {
              "id": "00fa81b1-b695-4099-973d-712c2f2a2a99",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"pesquisa_id\"].json[\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "97a09c95-a375-4b84-8ca6-f31c86474683",
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"pesquisa_id\"].json[\"email\"] }}",
              "type": "string"
            },
            {
              "id": "f3b81264-00fb-4cdc-8b65-e0b4e1aea968",
              "name": "produto",
              "value": "Projeto Eu Construtor",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1354090d-aeaf-48f0-a416-07a7ab93841d",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        1280
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "958106f9-b49e-4ca2-abe5-75944a243ec7",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -520,
        1680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "2772e017-4d6f-43ca-a430-675136d99f2d",
              "leftValue": "={{ (() => { \n    const data = $json[\"data_2\"]; \n    if (!data) return \"\"; // Retorna vazio se não houver valor\n    const dateObj = new Date(data);\n    return dateObj.toISOString().split(\"T\")[0] + \" \" + dateObj.getHours();\n})() }}",
              "rightValue": "={{ (() => { \n    const now = new Date();\n    return now.toISOString().split(\"T\")[0] + \" \" + now.getHours();\n})() }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "49113dbd-a090-4ab1-8164-86a0361e801e",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -80,
        1680
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1514d470-009d-4e9a-9297-c9d02f9b2c88",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        200,
        1700
      ]
    },
    {
      "parameters": {},
      "id": "5c64a7a3-2061-44b9-a798-72b230363346",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        1940
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "mensagens_agendadas",
          "mode": "list",
          "cachedResultName": "mensagens_agendadas"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "enviada",
              "value": "1"
            },
            {
              "column": "enviada_2",
              "value": "0"
            },
            {
              "column": "evento",
              "value": "[CADASTRO] [PEC0325] [TYPEBOT]"
            },
            {
              "column": "mensagem",
              "value": "Mensagem [CADASTRO] [PEC0325] - 12h"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -300,
        1680
      ],
      "id": "ee2c87df-11f4-4012-b8a0-04657edf2ec1",
      "name": "MySQL1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_telefone2\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "87998270-faab-43ca-a75e-95641a762885",
      "name": "nao_encontrou_telefone2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1920,
        1420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0b43ebf2-3b3b-4851-b3ff-a91252309dfd",
              "leftValue": "={{ $node[\"cria_contato_manychat3\"].json[\"error\"][\"message\"] }}",
              "rightValue": "The input value is not a valid WhatsApp ID",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f33f2b68-9005-40cb-adc4-1c7fd1151dd0",
      "name": "verifica_whatsapp2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2480,
        1440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields5\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields5\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Thiago. Posso ter seu contato?"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields5\"].json[\"telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields5\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"Edit Fields5\"].json[\"email\"] }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{ $json[\"data\"][\"0\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "56bd247b-85c4-4e57-80b8-a6c2c6275f6a",
      "name": "atualiza_contato_manychat3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2320,
        1820
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat3\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat3\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone2\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone2\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "11749335"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields5\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5aa0245-dff6-43d7-8a30-100ce767f3c2",
      "name": "define_campo_telefone2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2540,
        1820
      ]
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByCustomField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "field_id",
              "value": "11749335"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields5\"].json[\"telefone\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "options": {}
      },
      "id": "00a3eaaa-cbb7-44cf-9967-3da94fde5e73",
      "name": "procura_id_manychat_pelo_telefone2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1620,
        1420
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields5\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields5\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Engenheiro Matheus. Posso ter seu contato?"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields5\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"Edit Fields5\"].json[\"email\"] }}"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields5\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14201fca-cfb8-400f-8835-a39c6522736e",
      "name": "cria_contato_manychat3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2240,
        1320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
              "name": "nome",
              "value": "={{ $node[\"MySQL1\"].json[\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
              "name": "telefone",
              "value": "={{ $node[\"MySQL1\"].json[\"telefone\"] }}",
              "type": "string"
            },
            {
              "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
              "name": "data",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "7a3d4fcd-81b7-4ef3-addc-f2ad5b9cdc9e",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"MySQL1\"].json[\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "532561a8-fd34-41c8-9c71-a7d1b67fca61",
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"MySQL3\"].json[\"email\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "522d5780-8c4e-4802-b81c-bdd617ddc0cf",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow_ns",
              "value": "content20250321154315_898767"
            },
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "730a01e9-ef51-49db-9de3-331d58d6369d",
      "name": "envia_fluxo_boas_vindas2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2780,
        1820
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "pesquisas",
          "mode": "list",
          "cachedResultName": "pesquisas"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"MySQL3\"].json[\"id\"] }}"
            },
            {
              "column": "nome_pesquisa",
              "value": "[CADASTRO] [PEC0325] [TYPEBOT]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        760,
        1620
      ],
      "id": "61f18a60-f336-4e81-8bda-98f752cbf20d",
      "name": "MySQL2",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $item(\"0\").$node[\"If4\"].json[\"id_user\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        580,
        1620
      ],
      "id": "50555c3d-8075-4226-9d27-249dabd99688",
      "name": "MySQL3",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "content": "Estou organizando a parte de mandar mensagem pro lead depois de 12h, caso ele esteja na etapa de \"não entrou no grupo\", e depois, tenho que verificar se ele preencheu, ou não.\n\n\nTEnho que pegar os links do forms com o victor",
        "height": 570,
        "width": 377
      },
      "id": "d2b6ba69-0781-4abd-b1bd-2573b059a713",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        280
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2820,
        1320
      ],
      "id": "0c57813a-c2d0-4fc1-b5cc-5c547b24d5c0",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        100,
        640
      ],
      "id": "1a713f6b-63c4-4c3f-9d1b-38fba2c32e75",
      "name": "Wait",
      "webhookId": "71f01e2f-78a2-46d9-93bd-47b08b1ddb34"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3733a40-bed5-44d3-aec4-d39ce4540871",
              "leftValue": "={{ $json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        1620
      ],
      "id": "c4f2ec4c-053f-404e-a75c-a4378bdb902a",
      "name": "If"
    },
    {
      "parameters": {
        "content": "# MANDA MENSAGEM DEPOIS DE 12h PRA QUEM PREENCHEU O FORMS",
        "height": 990,
        "width": 3797
      },
      "id": "53a780b5-cfdc-4450-8162-2953034ae264",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -620,
        1160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56a816d6-de4d-4a29-b59d-09fb7db8a6b2",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"body\"][\"PRESENTE\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        0
      ],
      "id": "90bdfae8-cbdc-4ead-bc88-7e465153d9c6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "id": "f7d553a5-25d6-4e4b-a81b-1b1617181950",
      "name": "fim1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3400,
        460
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1620,
        2440
      ],
      "id": "8995e819-adb1-4228-9773-a0da46ac6ffa",
      "name": "Wait5",
      "webhookId": "6bde8141-2e70-4d96-b9f1-98710450e7ec"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "mensagens_agendadas",
          "mode": "list",
          "cachedResultName": "mensagens_agendadas"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $item(\"0\").$node[\"MySQL2\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1820,
        2440
      ],
      "id": "8a76ec8f-09bc-43c5-93ac-07c4797f69c9",
      "name": "MySQL10",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "478e7da7-0c2c-40c6-8983-7574be09abf6",
              "leftValue": "={{ $item(\"0\").$node[\"MySQL10\"].json[\"enviada_2\"] }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2040,
        2440
      ],
      "id": "0ab541a5-35af-459d-97a8-0c98dcf865a6",
      "name": "If5"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "mensagens_agendadas",
          "mode": "list",
          "cachedResultName": "mensagens_agendadas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $item(\"0\").$node[\"MySQL10\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "enviada_2",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2260,
        2460
      ],
      "id": "1f445f78-4169-40b5-a990-47d420298b11",
      "name": "MySQL11",
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "mensagens_agendadas",
          "mode": "list",
          "cachedResultName": "mensagens_agendadas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $item(\"0\").$node[\"MySQL2\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "enviada_2",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2220,
        2200
      ],
      "id": "be4fc7e6-e820-4869-87be-2541ab0fd8bf",
      "name": "MySQL4",
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "12706422"
            },
            {
              "name": "field_value",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"body\"][\"MEDO\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7297216f-fa6e-4172-b048-6fe0b3088a14",
      "name": "define_campo_DOR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2960,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "12706427"
            },
            {
              "name": "field_value",
              "value": "={{ $item(\"0\").$node[\"Code\"].json[\"body\"][\"VALOR DA OBRA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c37aabe-b39e-4f13-b3d6-ed53c21e0ccf",
      "name": "define_campo_VALOR INVESTIDO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3180,
        -40
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        620,
        0
      ],
      "id": "cb87d807-ef07-4e7f-88fc-7d09285e15ac",
      "name": "Wait1",
      "webhookId": "1d749e05-7210-47ed-a592-62a8cc7eee0e"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.engenheiromatheus.com",
            "user-agent": "node",
            "content-length": "348",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "baggage": "sentry-environment=production,sentry-release=74ccd9c2e6d75cddcf2842ac2e6fe279177364e1,sentry-public_key=e5dde145dc9f6d7a3a558ee8ee1ab3a5,sentry-trace_id=8d7c50c3683bca0ed5cac661c7ab30f4,sentry-transaction=POST%20%2Fapi%2F%5B...trpc%5D,sentry-sampled=true,sentry-sample_rand=0.3823347629537426,sentry-sample_rate=1",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "sentry-trace": "8d7c50c3683bca0ed5cac661c7ab30f4-fc20f60b12c18986-1",
            "x-forwarded-for": "35.177.134.1",
            "x-forwarded-host": "webhook.engenheiromatheus.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7e5b8bef7460",
            "x-real-ip": "35.177.134.1",
            "x-vercel-id": "gru1::2b6hl-1742569754927-191a7a3eb108"
          },
          "params": {},
          "query": {},
          "body": {
            "submittedAt": "2025-03-21T15:09:15.075Z",
            "CONSTRUIR OU REFORMAR": "Quero CONSTRUIR",
            "TERRENO": "Tenho o terreno para construir!",
            "PRAZO PARA COMEÇAR A OBRA": "Sim",
            "FASE DA CONSTRUÇÃO": "Começarei os projetos em breve",
            "VALOR DA OBRA": "mais de 2 milhões de reais",
            "MEDO": "Não conhecer os processos e ser enganado(a)",
            "PRESENTE": "+5527998210071"
          },
          "webhookUrl": "https://webhook.engenheiromatheus.com/webhook/000f81cc-7cd5-401e-a7fe-31c75c19a760",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-03-19T04:46:33.880Z",
      "updatedAt": "2025-03-19T04:46:33.880Z",
      "id": "PxviFA6iloeaurvs",
      "name": "[CADASTRO] [PEC0325]"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-03-24T20:28:17.208Z",
  "versionId": "9fd91a08-37b9-4516-83a1-19b52db09b1d"
}