workflows/🟠 [CADASTRO] [Revolução da Construção].json
{
  "active": true,
  "connections": {
    "dados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user3": {
      "main": [
        [
          {
            "node": "encontrou_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user1": {
      "main": [
        [
          {
            "node": "email_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_users2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_cadastros9": {
      "main": [
        []
      ]
    },
    "insere_lead_na_tabela_users2": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag_captacao1": {
      "main": [
        [
          {
            "node": "pesquisa_user3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "atualiza_contato_no_ac1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_contato_no_ac1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead_na_tabela_cadastros": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro1": {
      "main": [
        [
          {
            "node": "encontrou cadastro no lançamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email do webhook é o mesmo email já captado?": {
      "main": [
        [
          {
            "node": "encontrou cadastro no lançamento?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "evento_igual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_user": {
      "main": [
        [
          {
            "node": "existe_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_no_ac1": {
      "main": [
        [
          {
            "node": "tag_captacao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_no_ac1": {
      "main": [
        [
          {
            "node": "tag_captacao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_cadastro": {
      "main": [
        [
          {
            "node": "existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe?": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_cadastros9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro2": {
      "main": [
        [
          {
            "node": "email do webhook é o mesmo email já captado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou cadastro no lançamento?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_cadastros9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_cadastros7": {
      "main": [
        []
      ]
    },
    "email_igual1": {
      "main": [
        [
          {
            "node": "existe_cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "pesquisa_user3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento_igual": {
      "main": [
        [
          {
            "node": "atualiza_lead_na_tabela_cadastros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_cadastro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "insere_lead_na_tabela_cadastros7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_telefone1": {
      "main": [
        [
          {
            "node": "cria_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_whatsapp1": {
      "main": [
        [],
        [
          {
            "node": "atualiza_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_manychat2": {
      "main": [
        [
          {
            "node": "define_campo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_telefone1": {
      "main": [
        [
          {
            "node": "envia_fluxo_boas_vindas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo_boas_vindas1": {
      "main": [
        [
          {
            "node": "fim1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_telefone1": {
      "main": [
        [
          {
            "node": "nao_encontrou_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_manychat2": {
      "main": [
        [
          {
            "node": "verifica_whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-10T21:28:22.138Z",
  "id": "EzraBlNLpeEqXo8O",
  "meta": null,
  "name": "🟠 [CADASTRO] [Revolução da Construção]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "48003fc2-a896-428b-b7b7-96b523364ac3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        -640
      ],
      "id": "a53b0c12-e31b-4c2b-afe2-39842b43d25d",
      "name": "Webhook",
      "webhookId": "48003fc2-a896-428b-b7b7-96b523364ac3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79edcf9f-8602-409f-8d04-ced41c06d16f",
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"email\"] }}",
              "type": "string"
            },
            {
              "id": "4750507c-f44a-45d5-b5ce-2a681d5a5581",
              "name": "utm_source",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_source\"] }}",
              "type": "string"
            },
            {
              "id": "a68b8a08-b2d1-4352-affb-0a6f4045cf4a",
              "name": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_campaign\"] }}",
              "type": "string"
            },
            {
              "id": "71c74ec7-51b3-422e-a2d5-ae7bbf3bd1b0",
              "name": "utm_term",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_term\"] }}",
              "type": "string"
            },
            {
              "id": "57aa10ae-6631-4352-8925-35138b1c9b7a",
              "name": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_medium\"] }}",
              "type": "string"
            },
            {
              "id": "4e84ee54-3122-48e4-92d9-1f9db59e0b94",
              "name": "utm_content",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_content\"] }}",
              "type": "string"
            },
            {
              "id": "66f8191a-dd73-4773-b3f7-a63076f8686b",
              "name": "form_id",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"form_id\"] }}",
              "type": "string"
            },
            {
              "id": "bb839055-124b-4671-99e9-d13293daa8c7",
              "name": "page",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"page\"] }}",
              "type": "string"
            },
            {
              "id": "b5b5da8a-46c5-44bd-acb3-3f246b420a53",
              "name": "Evento",
              "value": "Captação | RDC0725",
              "type": "string"
            },
            {
              "id": "271ee5fa-6031-4a09-b53d-b1da2acf56a9",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"primeiro_nome\"] }}",
              "type": "string"
            },
            {
              "id": "a973ea01-7ccc-4b7b-aa43-4237223690c7",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "7b8ac769-0ee5-410d-849d-34385009029b",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"telefone\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1a606bf3-52ec-4064-af96-7b6094dbed6b",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -20,
        -640
      ]
    },
    {
      "parameters": {
        "queue": "[CADASTRO] [RDC0725]",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "e200af75-6d60-4663-8fa9-a68f5f6f4845",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        180,
        -640
      ],
      "credentials": {
        "rabbitmq": {
          "id": "DG2PMHOSIQ0AOSwK",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body;\n\n// Função para formatar o nome\nfunction formatarNome(nome) {\n    const partes = nome.trim().split(\" \");\n    const primeiro_nome = partes.shift();\n    const sobrenome = partes.length > 0 ? partes.join(\" \") : \"\";\n    return { primeiro_nome, sobrenome };\n}\n\n// Função para formatar o telefone mantendo o DDD correto e adicionando +55 se necessário\nfunction formatarTelefone(telefone) {\n    let numero = telefone.replace(/\\D/g, \"\"); // Remove tudo que não for número\n    if (numero.length < 10) return null; // Retorna null se o número for inválido\n\n    // Verifica se o número já começa com \"55\"\n    if (!numero.startsWith(\"55\")) {\n        numero = \"55\" + numero;\n    }\n\n    return numero;\n}\n\n// Função para formatar data e hora\nfunction formatarDataHora(data, horario) {\n    return `${data} ${horario}:00`; // Adiciona segundos para padronização\n}\n\n// Processando os dados dinamicamente\nconst { primeiro_nome, sobrenome } = formatarNome(data[\"Nome\"] || \"\");\nconst telefoneFormatado = formatarTelefone(data[\"Telefone\"] || \"\");\nconst emailFormatado = (data[\"E-mail\"] || \"\").toLowerCase();\nconst dataHoraFormatada = formatarDataHora(data[\"Data\"] || \"\", data[\"Horário\"] || \"\");\n\n// Retornando o JSON formatado\nreturn {\n    primeiro_nome,\n    sobrenome,\n    telefone: telefoneFormatado,\n    email: emailFormatado,\n    data_hora: dataHoraFormatada,\n    url_pagina: data[\"URL da página\"] || \"\",\n};"
      },
      "id": "7fe8f400-574f-41b4-a0b0-76fcb3ade11e",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -640
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] === $node[\"chega_da_fila\"].json[\"content\"][\"email\"] ? $node[\"chega_da_fila\"].json[\"content\"][\"email\"] : \"---------\" }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "92c7c90d-9348-4770-b943-e7b4f0e2fdae",
      "name": "pesquisa_user3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        740,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ade76cf6-8027-4450-b253-92b6d26a7c89",
      "name": "encontrou_user1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        260
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "form_id",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"form_id\"] }}"
            },
            {
              "column": "pagina",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"page\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "ae976291-feaf-47f8-8d91-a572837c41ce",
      "name": "insere_lead_na_tabela_cadastros9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        3040,
        520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data_de_entrada",
              "value": "={{ $now }}"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "a27be7a4-93ea-464f-ab3b-123e0b01bbac",
      "name": "insere_lead_na_tabela_users2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1260,
        380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "297",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "4681d0bc-339f-4f1a-b234-684d5b80a413",
      "name": "tag_captacao1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        520,
        260
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "Duvmu036W0yUDGnv",
          "name": "ActiveCampaign - eng. matheus"
        }
      }
    },
    {
      "parameters": {
        "url": "https://pertengenharia65979.api-us1.com/api/3/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "b419d201280255cfb5949e0ba2a37254603f256450715cb36ea5a74ecae2b608669123f9"
            }
          ]
        },
        "options": {}
      },
      "id": "df34f72b-eec1-410d-936c-3d804035b2c4",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2130aa22-e19a-4662-8a2e-b43d36facf6d",
              "leftValue": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5879964f-a049-46d0-8429-7147879656d3",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        20,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_user",
        "valueToMatchOn": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "form_id",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"form_id\"] }}"
            },
            {
              "column": "pagina",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"page\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "df3c9eee-49e8-4824-8311-39c4bcd5db47",
      "name": "atualiza_lead_na_tabela_cadastros",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        3620,
        -80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "1d872d3b-cece-4bae-bfd7-1d367e9b7991",
      "name": "pesquisa_cadastro1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3620,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"existe_cadastro\"].json[\"email\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b8fc2efe-774d-4ed6-951b-8499681f0b99",
      "name": "email do webhook é o mesmo email já captado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2860,
        -60
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f8b3809e-6859-41bc-be32-b40d67e00100",
      "name": "atualiza_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1720,
        180
      ],
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "061de608-e801-4914-9d2b-c223a2123049",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "3c9ba8b0-a06b-4963-8424-bb5f340aaa2b",
      "name": "Stop and Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        440,
        -20
      ]
    },
    {
      "parameters": {
        "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "=454",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              }
            ]
          },
          "firstName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}",
          "lastName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}",
          "phone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
        }
      },
      "id": "0d736da6-7ec9-42c3-8be5-d5c84f4c8ad4",
      "name": "cria_contato_no_ac1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        180,
        380
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "Duvmu036W0yUDGnv",
          "name": "ActiveCampaign - eng. matheus"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
        "updateFields": {
          "fieldValues": {
            "property": [
              {
                "field": "=454",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              }
            ]
          },
          "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
          "firstName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}",
          "lastName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}",
          "phone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
        }
      },
      "id": "55eb6bfd-41b7-45b4-a1b9-bda62f4af762",
      "name": "atualiza_contato_no_ac1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        200,
        80
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "Duvmu036W0yUDGnv",
          "name": "ActiveCampaign - eng. matheus"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8233b9ae-490d-4601-8b29-13d43690a1f6",
      "name": "existe_cadastro",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2100,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $json[\"id\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aed3f052-80b8-471f-8d2e-bfb72f8a7c9e",
      "name": "existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2340,
        80
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b4a12b79-39a6-4e73-828f-86a569b24b3b",
      "name": "pesquisa_cadastro2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2620,
        -60
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_cadastro2\"].json[\"email\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a869ef2a-6453-4390-8c8b-008f2fb9b1e8",
              "leftValue": "={{ $json[\"evento\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7b549891-3306-4c39-a282-72c26946ed12",
      "name": "encontrou cadastro no lançamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3240,
        -260
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"pesquisa_user\"].json[\"id\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "pagina",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"page\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "0561ef94-d7de-4a25-b90a-043dc50f4622",
      "name": "insere_lead_na_tabela_cadastros7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2300,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user3\"].json[\"email\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5fe9510a-f501-4289-af24-c7e789a8d7c4",
      "name": "email_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1480,
        80
      ]
    },
    {
      "parameters": {
        "queue": "[CADASTRO] [RDC0725]",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}"
        }
      },
      "id": "42de1498-fde1-4435-a21a-aa480494bb53",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        240
      ],
      "credentials": {
        "rabbitmq": {
          "id": "DG2PMHOSIQ0AOSwK",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"existe_cadastro\"].json[\"evento\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b9705554-63d1-47e7-8139-2827bb807957",
      "name": "evento_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3240,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] === $node[\"chega_da_fila\"].json[\"content\"][\"email\"] ? $node[\"chega_da_fila\"].json[\"content\"][\"email\"] : \"---------\" }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c30ffed6-77cc-4dd6-89ad-b98d85276847",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1500,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3600,
        -260
      ],
      "id": "21e8b842-fcdf-48f0-8229-0f5d7bc5c2e9",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "# RECEBE DADOS DO WEBHOOK",
        "height": 400,
        "width": 1100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -580,
        -780
      ],
      "id": "de8cf143-7176-4613-810a-7dc0696bf87a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# DISTRIBUI DADOS ENTRE BANCO DE DADOS E ACTIVE CAMPAIGN",
        "height": 1087,
        "width": 4613,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        -320
      ],
      "typeVersion": 1,
      "id": "eae2232c-d65d-4c50-8c0f-adca2a15f862",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# VERIFICAÇÃO SE ENTROU NO GRUPO DEPOIS DE 10MIN",
        "height": 627,
        "width": 4613,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        860
      ],
      "typeVersion": 1,
      "id": "1a564360-d0aa-420f-afb2-e56bbf2a9d40",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads_nos_grupos",
          "mode": "list",
          "cachedResultName": "leads_nos_grupos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -400,
        1080
      ],
      "id": "304a1e99-e720-4b5a-9101-3dd7a9611af7",
      "name": "MySQL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "4e639670-03eb-4414-83c4-72380c7b590d",
      "name": "nao_encontrou_telefone1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0b43ebf2-3b3b-4851-b3ff-a91252309dfd",
              "leftValue": "={{ $node[\"cria_contato_manychat2\"].json[\"error\"][\"message\"] }}",
              "rightValue": "The input value is not a valid WhatsApp ID",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c55de4be-c51c-4f63-bf26-692db5e20088",
      "name": "verifica_whatsapp1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        980
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Thiago. Posso ter seu contato?"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{ $json[\"data\"][\"0\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ef7b51ce-1da9-47ce-8551-9a8f01db83ac",
      "name": "atualiza_contato_manychat2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        1200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"field_id\"] }}"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0891a5ea-bf25-42c5-8aa9-196ed5c8c659",
      "name": "define_campo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        1240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow_ns",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"fluxo\"] }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "de6a96e9-3c39-46c3-8cf7-da79067de352",
      "name": "envia_fluxo_boas_vindas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        1080
      ]
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByCustomField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "field_id",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"field_id\"] }}"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "18ba4c35-5462-48fa-b185-e0817f534ce1",
      "name": "procura_id_manychat_pelo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        100,
        1080
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Engenheiro Matheus. Posso ter seu contato?"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "834eb6c0-3d83-4264-b57f-7cb7c93f3d86",
      "name": "cria_contato_manychat2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        980
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}",
              "type": "string"
            },
            {
              "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
              "name": "data",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "7a3d4fcd-81b7-4ef3-addc-f2ad5b9cdc9e",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "9c0ec6b5-898c-4384-a1cc-77ceb52978b3",
              "name": "field_id",
              "value": "11740319",
              "type": "string"
            },
            {
              "id": "c6b5b62a-ec31-4b6d-b93a-9873c73f7afc",
              "name": "fluxo",
              "value": "content20250406162007_619630",
              "type": "string"
            },
            {
              "id": "0fa3844c-2147-4d51-a5e7-b41b0ac56bda",
              "name": "key",
              "value": "515576:cfcb6f46619ae66a47cbb8260807c982",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9a62e1ec-e7b8-45a8-91d4-400535b443b2",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        1080
      ]
    },
    {
      "parameters": {},
      "id": "25977d99-c3b7-4fc8-ab49-cc3d04ca424a",
      "name": "fim1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1640,
        1080
      ]
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-GXs8FaTCFzVOLe1fsSwMlg",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "[CADASTRO] [PEC0325]"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "email": "jonas@gmail.com",
            "utm_source": null,
            "utm_campaign": null,
            "utm_term": null,
            "utm_medium": null,
            "utm_content": null,
            "form_id": "254b7a4e",
            "page": "https://engenheiromatheus.com/cadastro-pec/",
            "Evento": "Captação | PEC0325",
            "nome": "Jonas",
            "sobrenome": "Lucas",
            "telefone": "5527992310071"
          }
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.engenheiromatheus.com",
            "user-agent": "WordPress/6.8.1; https://engenheiromatheus.com",
            "content-length": "542",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "177.154.191.229",
            "x-forwarded-host": "webhook.engenheiromatheus.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7e5b8bef7460",
            "x-real-ip": "177.154.191.229"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Marcos Vinicius Da Rocha Santana",
            "Telefone": "27998210071",
            "E-mail": "marcosvlogs12@gmail.com",
            "Data": "10/07/2025",
            "Horário": "18:31",
            "URL da página": "https://engenheiromatheus.com/revolucao-da-construcao/?preview_id=17711&preview_nonce=c79870b927&preview=true",
            "Agente de usuário": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36",
            "IP remoto": "177.36.170.57",
            "Desenvolvido por": "Elementor",
            "form_id": "b71a22f",
            "form_name": "Novo formulário"
          },
          "webhookUrl": "https://webhook.engenheiromatheus.com/webhook/48003fc2-a896-428b-b7b7-96b523364ac3",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-19T04:46:33.880Z",
      "updatedAt": "2025-03-19T04:46:33.880Z",
      "id": "PxviFA6iloeaurvs",
      "name": "[CADASTRO] [PEC0325]"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-07-10T21:40:26.614Z",
  "versionId": "24d290d2-7421-4b64-a466-dc2768684235"
}