workflows/🟠 Grupos de Lista de Espera - [PEC ABRIL 2025].json
{
  "active": true,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "pesquisa_grupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "encontrou_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user": {
      "main": [
        [
          {
            "node": "pesquisa_lead_nos_grupos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_users": {
      "main": [
        [
          {
            "node": "pesquisa_lead_nos_grupos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_leads_nos_grupos": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_nos_grupos": {
      "main": [
        [
          {
            "node": "encontrou_lead_no_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_lead_no_grupo": {
      "main": [
        [
          {
            "node": "entrou_no_grupo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "entrou_no_grupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entrou_no_grupo": {
      "main": [
        [
          {
            "node": "update_entrou_no_grupo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_saiu_do_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_saiu_do_grupo": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_entrou_no_grupo": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entrou_no_grupo1": {
      "main": [
        [
          {
            "node": "insere_lead_na_tabela_leads_nos_grupos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_leads_nos_grupos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_leads_nos_grupos1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_grupo1": {
      "main": [
        [
          {
            "node": "encontrou_grupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_grupo1": {
      "main": [
        [
          {
            "node": "pesquisa_grupo-corret",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "pesquisa_grupo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_grupo2": {
      "main": [
        [
          {
            "node": "pesquisa_grupo-corret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_grupo-corret": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-24T17:36:27.743Z",
  "id": "HtZ3vjGqo5K6vZ6Y",
  "meta": null,
  "name": "🟠 Grupos de Lista de Espera - [PEC ABRIL 2025]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c33b38ca-e836-4f6a-8b8b-8d5b29320493",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        1220
      ],
      "id": "a89b5dba-250f-44c0-92ab-7312a0f3808e",
      "name": "Webhook",
      "webhookId": "c33b38ca-e836-4f6a-8b8b-8d5b29320493"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "581911f4-1edc-4223-9d0b-63a4a0c51264",
              "name": "id_campanha",
              "value": "={{ $json[\"body\"][\"data\"][\"campaignId\"] }}",
              "type": "string"
            },
            {
              "id": "8b54b9dd-4c63-4385-ae7b-0abb12662c7c",
              "name": "nome_campanha",
              "value": "={{ $json[\"body\"][\"data\"][\"campaignName\"] }}",
              "type": "string"
            },
            {
              "id": "f345ee1e-809f-49fa-b63c-50987289cc29",
              "name": "nome_grupo",
              "value": "={{ $json[\"body\"][\"data\"][\"groupName\"] }}",
              "type": "string"
            },
            {
              "id": "644349ad-b239-4d9f-823a-645498fcef5a",
              "name": "número_participante",
              "value": "={{ $json[\"body\"][\"data\"][\"number\"] }}",
              "type": "string"
            },
            {
              "id": "4b6b96d1-c81b-4758-ab8e-150a033261db",
              "name": "data_que_entrou",
              "value": "={{ $json[\"body\"][\"data\"][\"createdAt\"] }}",
              "type": "string"
            },
            {
              "id": "41c907e1-b28a-41ce-aa48-3ad3e5e6763a",
              "name": "evento",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"event\"] }}",
              "type": "string"
            },
            {
              "id": "2b0020cf-fbd5-40a4-bd2a-c4966e981b9e",
              "name": "id",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bf1bcf09-2389-4b42-a85d-d4ad8cbd4ddc",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        1220
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"Edit Fields\"].json[\"número_participante\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "9ecdf3c3-b939-41c0-924d-6cd7c158b8ed",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        760,
        1200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "56cb6c12-61fa-4a2c-b706-9938ee902622",
      "name": "encontrou_user",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        1200
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data_de_entrada",
              "value": "={{ $now }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"Edit Fields\"].json[\"número_participante\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c5a135fe-2352-4d60-af2e-b6a6912f6de3",
      "name": "insere_lead_na_tabela_users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1340,
        1300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_nos_grupos",
          "mode": "list",
          "cachedResultName": "leads_nos_grupos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $node[\"Edit Fields\"].json[\"número_participante\"] }}"
            },
            {
              "column": "id_grupo",
              "value": "={{ $node[\"pesquisa_grupo-corret\"].json[\"id\"] }}"
            },
            {
              "column": "data_entrada",
              "value": "={{ $now }}"
            },
            {
              "column": "status",
              "value": "No Grupo"
            },
            {
              "column": "nome_grupo",
              "value": "={{ $node[\"Edit Fields\"].json[\"nome_grupo\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "73307f65-36ba-4f63-b02c-e152c717622c",
      "name": "insere_lead_na_tabela_leads_nos_grupos",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2220,
        1220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads_nos_grupos",
          "mode": "list",
          "cachedResultName": "leads_nos_grupos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $node[\"Edit Fields\"].json[\"número_participante\"] }}"
            },
            {
              "column": "id_grupo",
              "value": "={{ $node[\"pesquisa_grupo-corret\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "25924201-49bb-4483-9975-b8d553d57d3a",
      "name": "pesquisa_lead_nos_grupos",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1620,
        1180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_lead_nos_grupos\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aae30b05-2d4c-4b97-a4c7-e00a034ffac4",
      "name": "encontrou_lead_no_grupo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1840,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "65b5bcdb-1d2b-4071-82e8-87166a50612b",
              "leftValue": "={{ $node[\"Edit Fields\"].json[\"evento\"] }}",
              "rightValue": "=group.updated.members.added",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "56529d18-d7b2-48bf-8536-37cf40b6f7ca",
      "name": "entrou_no_grupo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        960
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads_nos_grupos",
          "mode": "list",
          "cachedResultName": "leads_nos_grupos"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead_nos_grupos\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "data_saida",
              "value": "={{ $now }}"
            },
            {
              "column": "status",
              "value": "Saiu do Grupo"
            },
            {
              "column": "nome_grupo",
              "value": "={{ $node[\"Edit Fields\"].json[\"nome_grupo\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e64cb8a3-6bf6-43fc-9670-34f842f4f87d",
      "name": "update_saiu_do_grupo",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2220,
        1020
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads_nos_grupos",
          "mode": "list",
          "cachedResultName": "leads_nos_grupos"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead_nos_grupos\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "data_entrada",
              "value": "={{ $now }}"
            },
            {
              "column": "status",
              "value": "No Grupo"
            },
            {
              "column": "nome_grupo",
              "value": "={{ $node[\"Edit Fields\"].json[\"nome_grupo\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b9dac241-1f65-4365-97ce-44f0c930eb70",
      "name": "update_entrou_no_grupo",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2220,
        840
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "65b5bcdb-1d2b-4071-82e8-87166a50612b",
              "leftValue": "={{ $node[\"Edit Fields\"].json[\"evento\"] }}",
              "rightValue": "=group.updated.members.added",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ccd35289-1d72-4c5f-be7a-9fde66e1ad20",
      "name": "entrou_no_grupo1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        1340
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_nos_grupos",
          "mode": "list",
          "cachedResultName": "leads_nos_grupos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $node[\"Edit Fields\"].json[\"número_participante\"] }}"
            },
            {
              "column": "id_grupo",
              "value": "={{ $node[\"pesquisa_grupo-corret\"].json[\"id\"] }}"
            },
            {
              "column": "data_saida",
              "value": "={{ $now }}"
            },
            {
              "column": "status",
              "value": "Saiu do Grupo"
            },
            {
              "column": "nome_grupo",
              "value": "={{ $node[\"Edit Fields\"].json[\"nome_grupo\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f51b9c88-1e33-46ae-bda8-8d93032245a8",
      "name": "insere_lead_na_tabela_leads_nos_grupos1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2220,
        1420
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "grupos",
          "mode": "list",
          "cachedResultName": "grupos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $json[\"nome_grupo\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8c81154a-ff92-463a-b9fc-5eb1b34f3317",
      "name": "pesquisa_grupo1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -160,
        1220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_grupo1\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d54f46a4-b9dd-421c-bbd4-37fa372c11f9",
      "name": "encontrou_grupo1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        1220
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "fac38802-8ca7-4a43-859e-b0633a671665",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        1440
      ],
      "webhookId": "b37db32e-076e-461e-8119-45d8459f240a"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "grupos",
          "mode": "list",
          "cachedResultName": "grupos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a2962f73-7360-4e22-8695-c9c7f9091a17",
      "name": "pesquisa_grupo2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        460,
        1440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "grupos",
          "mode": "list",
          "cachedResultName": "grupos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $json[\"nome\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "58c20de4-b8b1-4d67-91dd-71fffe2e8c58",
      "name": "pesquisa_grupo-corret",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        600,
        1200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "581911f4-1edc-4223-9d0b-63a4a0c51264",
              "name": "nome_grupo",
              "value": "={{ $node[\"Edit Fields\"].json[\"nome_grupo\"] }}",
              "type": "string"
            },
            {
              "id": "8b54b9dd-4c63-4385-ae7b-0abb12662c7c",
              "name": "telefone_participante",
              "value": "={{ $node[\"Edit Fields\"].json[\"número_participante\"] }}",
              "type": "string"
            },
            {
              "id": "4b6b96d1-c81b-4758-ab8e-150a033261db",
              "name": "data_que_entrou",
              "value": "={{ $node[\"Edit Fields\"].json[\"data_que_entrou\"] }}",
              "type": "string"
            },
            {
              "id": "41c907e1-b28a-41ce-aa48-3ad3e5e6763a",
              "name": "id",
              "value": "={{ $node[\"Edit Fields\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1961e3b6-e4c6-4ef9-985b-88934dee215a",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2740,
        1140
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "grupos",
          "mode": "list",
          "cachedResultName": "grupos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"Edit Fields\"].json[\"nome_grupo\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "718b2965-77b9-475d-9202-025f7460b0f3",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        20,
        1440
      ],
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "content": "# CADASTRA CONTATO QUE ENTROU OU SAIU DOS GRUPOS NO BANCO DE DADOS",
        "height": 1107,
        "width": 3653,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -680,
        720
      ],
      "typeVersion": 1,
      "id": "e5ba70e7-284c-4a03-9893-92dd1c049374",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.engenheiromatheus.com",
            "user-agent": "axios/0.27.2",
            "content-length": "289",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "sendtok": "D743708F4CD9B7B1E0A598521055CDD4450E697A30",
            "x-forwarded-for": "34.34.231.106",
            "x-forwarded-host": "webhook.engenheiromatheus.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7e5b8bef7460",
            "x-real-ip": "34.34.231.106",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "ThiTKBs03YzdFVPELjzd",
            "event": "group.updated.members.added",
            "data": {
              "campaignId": "0soHGkyqERTGXIz97h2W",
              "campaignName": "LISTA ESPERA - PEC ABRIL/25",
              "groupName": "#1 [PEC] LISTA DE ESPERA - ABRIL/25",
              "number": "5527998210071",
              "createdAt": "2025-02-24T17:47:40.933Z"
            },
            "version": "1.0.0"
          },
          "webhookUrl": "https://webhook.engenheiromatheus.com/webhook/c33b38ca-e836-4f6a-8b8b-8d5b29320493",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-25T05:25:07.739Z",
      "updatedAt": "2025-02-25T05:25:07.739Z",
      "id": "FXMPnK1YxoMBjtRs",
      "name": "[Lista de Espera Abril]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-25T05:25:27.721Z",
  "versionId": "e0022278-63fb-4ddd-8be9-1599f21c1765"
}