workflows/🟠 [CADASTRO] [PEC0325].json
{
  "active": true,
  "connections": {
    "dados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user3": {
      "main": [
        [
          {
            "node": "encontrou_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user1": {
      "main": [
        [
          {
            "node": "email_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_users2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_cadastros9": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_users2": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag_captacao1": {
      "main": [
        [
          {
            "node": "pesquisa_user3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "atualiza_contato_no_ac1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_contato_no_ac1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead_na_tabela_cadastros": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro1": {
      "main": [
        [
          {
            "node": "encontrou cadastro no lançamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email do webhook é o mesmo email já captado?": {
      "main": [
        [
          {
            "node": "encontrou cadastro no lançamento?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "evento_igual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_user": {
      "main": [
        [
          {
            "node": "existe_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_no_ac1": {
      "main": [
        [
          {
            "node": "tag_captacao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_no_ac1": {
      "main": [
        [
          {
            "node": "tag_captacao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_cadastro": {
      "main": [
        [
          {
            "node": "existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe?": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_cadastros9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro2": {
      "main": [
        [
          {
            "node": "email do webhook é o mesmo email já captado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou cadastro no lançamento?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_cadastros9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_cadastros7": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual1": {
      "main": [
        [
          {
            "node": "existe_cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento_igual": {
      "main": [
        [
          {
            "node": "atualiza_lead_na_tabela_cadastros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_cadastro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "insere_lead_na_tabela_cadastros7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_telefone1": {
      "main": [
        [
          {
            "node": "cria_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_whatsapp1": {
      "main": [
        [],
        [
          {
            "node": "atualiza_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_manychat2": {
      "main": [
        [
          {
            "node": "define_campo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_telefone1": {
      "main": [
        [
          {
            "node": "envia_fluxo_boas_vindas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo_boas_vindas1": {
      "main": [
        [
          {
            "node": "fim1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_telefone1": {
      "main": [
        [
          {
            "node": "nao_encontrou_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_manychat2": {
      "main": [
        [
          {
            "node": "verifica_whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-14T17:31:05.687Z",
  "id": "Vi9WPQ7mvlA6eJ1j",
  "meta": null,
  "name": "🟠 [CADASTRO] [PEC0325]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pec0325",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        -640
      ],
      "id": "58f3688a-f3cb-4a78-9995-cdc3347545af",
      "name": "Webhook",
      "webhookId": "0f3590ee-002d-41f2-9989-4e362739de3d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79edcf9f-8602-409f-8d04-ced41c06d16f",
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"email\"] }}",
              "type": "string"
            },
            {
              "id": "4750507c-f44a-45d5-b5ce-2a681d5a5581",
              "name": "utm_source",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_source\"] }}",
              "type": "string"
            },
            {
              "id": "a68b8a08-b2d1-4352-affb-0a6f4045cf4a",
              "name": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_campaign\"] }}",
              "type": "string"
            },
            {
              "id": "71c74ec7-51b3-422e-a2d5-ae7bbf3bd1b0",
              "name": "utm_term",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_term\"] }}",
              "type": "string"
            },
            {
              "id": "57aa10ae-6631-4352-8925-35138b1c9b7a",
              "name": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_medium\"] }}",
              "type": "string"
            },
            {
              "id": "4e84ee54-3122-48e4-92d9-1f9db59e0b94",
              "name": "utm_content",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"utm_content\"] }}",
              "type": "string"
            },
            {
              "id": "66f8191a-dd73-4773-b3f7-a63076f8686b",
              "name": "form_id",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"form_id\"] }}",
              "type": "string"
            },
            {
              "id": "bb839055-124b-4671-99e9-d13293daa8c7",
              "name": "page",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"form_name\"] }}",
              "type": "string"
            },
            {
              "id": "b5b5da8a-46c5-44bd-acb3-3f246b420a53",
              "name": "Evento",
              "value": "Captação | PEC0325",
              "type": "string"
            },
            {
              "id": "271ee5fa-6031-4a09-b53d-b1da2acf56a9",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"primeiro_nome\"] }}",
              "type": "string"
            },
            {
              "id": "a973ea01-7ccc-4b7b-aa43-4237223690c7",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "7b8ac769-0ee5-410d-849d-34385009029b",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"telefone\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "df9ce461-f6bb-4141-8c16-6cbc487c91ed",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -20,
        -640
      ]
    },
    {
      "parameters": {
        "queue": "[CADASTRO] [PEC0325]",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "ea4dc342-f740-4d5e-a086-9ca1b36a113c",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        180,
        -640
      ],
      "credentials": {
        "rabbitmq": {
          "id": "DG2PMHOSIQ0AOSwK",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body;\n\n// Função para formatar o nome\nfunction formatarNome(nome) {\n    const partes = nome.trim().split(\" \");\n    const primeiro_nome = partes.shift();\n    const sobrenome = partes.length > 0 ? partes.join(\" \") : \"\";\n    return { primeiro_nome, sobrenome };\n}\n\n// Função para formatar o telefone mantendo o DDD correto e adicionando +55 se necessário\nfunction formatarTelefone(telefone) {\n    let numero = telefone.replace(/\\D/g, \"\"); // Remove tudo que não for número\n    if (numero.length < 10) return null; // Retorna null se o número for inválido\n\n    // Verifica se o número já começa com \"55\"\n    if (!numero.startsWith(\"55\")) {\n        numero = \"55\" + numero;\n    }\n\n    return numero;\n}\n\n// Função para formatar data e hora\nfunction formatarDataHora(data, horario) {\n    return `${data} ${horario}:00`; // Adiciona segundos para padronização\n}\n\n// Processando os dados dinamicamente\nconst { primeiro_nome, sobrenome } = formatarNome(data[\"Nome\"] || \"\");\nconst telefoneFormatado = formatarTelefone(data[\"Telefone\"] || \"\");\nconst emailFormatado = (data[\"E-mail\"] || \"\").toLowerCase();\nconst dataHoraFormatada = formatarDataHora(data[\"Data\"] || \"\", data[\"Horário\"] || \"\");\n\n// Retornando o JSON formatado\nreturn {\n    primeiro_nome,\n    sobrenome,\n    telefone: telefoneFormatado,\n    email: emailFormatado,\n    data_hora: dataHoraFormatada,\n    url_pagina: data[\"URL da página\"] || \"\",\n};"
      },
      "id": "01b7e9bc-054b-46aa-ae1b-4ecf83f3b3fb",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        -640
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] === $node[\"chega_da_fila\"].json[\"content\"][\"email\"] ? $node[\"chega_da_fila\"].json[\"content\"][\"email\"] : \"---------\" }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "ca8c8e3d-20b8-4b50-88f5-f955d9b52adf",
      "name": "pesquisa_user3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        740,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "db158cb6-46e1-4723-a197-89fba5d53c50",
      "name": "encontrou_user1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        260
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "form_id",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"form_id\"] }}"
            },
            {
              "column": "pagina",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"page\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "5f9dae40-085e-469b-a988-4cd12a623a6d",
      "name": "insere_lead_na_tabela_cadastros9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        3040,
        520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data_de_entrada",
              "value": "={{ $now }}"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "38185574-f42d-403c-bff9-4b050b533c18",
      "name": "insere_lead_na_tabela_users2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1260,
        380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "297",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "8dfe5739-5c56-46e2-aadc-72510ad06079",
      "name": "tag_captacao1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        520,
        260
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "Duvmu036W0yUDGnv",
          "name": "ActiveCampaign - eng. matheus"
        }
      }
    },
    {
      "parameters": {
        "url": "https://pertengenharia65979.api-us1.com/api/3/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "b419d201280255cfb5949e0ba2a37254603f256450715cb36ea5a74ecae2b608669123f9"
            }
          ]
        },
        "options": {}
      },
      "id": "c7517172-f362-4858-8b4f-b9c4658d5b72",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2130aa22-e19a-4662-8a2e-b43d36facf6d",
              "leftValue": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e93a70bd-55b6-4f17-a36a-da798c50621b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        20,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_user",
        "valueToMatchOn": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "form_id",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"form_id\"] }}"
            },
            {
              "column": "pagina",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"page\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "ff91358e-bbd6-4ef7-9819-2b2b7743fccd",
      "name": "atualiza_lead_na_tabela_cadastros",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        3620,
        -80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "76dd22af-d265-4169-ad2b-9a4c853d91bb",
      "name": "pesquisa_cadastro1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3620,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"existe_cadastro\"].json[\"email\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3529cc05-b17e-4399-903e-ce868d35fd4b",
      "name": "email do webhook é o mesmo email já captado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2860,
        -60
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $node[\"pesquisa_user3\"].json[\"id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4b3b2186-e9c5-449b-89f9-a86b52c8115a",
      "name": "atualiza_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1720,
        180
      ],
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "5aca976c-cbb1-43b9-8ab4-d40600c1454c",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "54fbab57-a13a-4c6a-a35a-7f0df67e194a",
      "name": "Stop and Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        440,
        -20
      ]
    },
    {
      "parameters": {
        "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "=454",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              }
            ]
          },
          "firstName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}",
          "lastName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}",
          "phone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
        }
      },
      "id": "f39385f8-87c4-4064-8afd-da72f7ae6c20",
      "name": "cria_contato_no_ac1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        180,
        380
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "Duvmu036W0yUDGnv",
          "name": "ActiveCampaign - eng. matheus"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
        "updateFields": {
          "fieldValues": {
            "property": [
              {
                "field": "=454",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              }
            ]
          },
          "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
          "firstName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}",
          "lastName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}",
          "phone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
        }
      },
      "id": "6242dd41-6a52-4801-9f1a-8baba908370c",
      "name": "atualiza_contato_no_ac1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        200,
        80
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "Duvmu036W0yUDGnv",
          "name": "ActiveCampaign - eng. matheus"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c04af206-786c-476a-b2bb-d0430fd14e77",
      "name": "existe_cadastro",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2100,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $json[\"id\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e93d8934-51d2-4f6a-ab5d-a0f68b8bf2b7",
      "name": "existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2340,
        80
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d236bd0c-0db3-4607-aa58-27475bdfe00e",
      "name": "pesquisa_cadastro2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2620,
        -60
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_cadastro2\"].json[\"email\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a869ef2a-6453-4390-8c8b-008f2fb9b1e8",
              "leftValue": "={{ $json[\"evento\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2555d261-5158-45fc-b6d7-c383d983af66",
      "name": "encontrou cadastro no lançamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3240,
        -260
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"pesquisa_user\"].json[\"id\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "data_cadastro",
              "value": "={{ $now }}"
            },
            {
              "column": "pagina",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"page\"] }}"
            },
            {
              "column": "evento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}"
            },
            {
              "column": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b3fdcd13-d199-4f56-af8c-fb0d7aae00e1",
      "name": "insere_lead_na_tabela_cadastros7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        2300,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user3\"].json[\"email\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6962a98-8cae-4622-9041-2f665ed8a550",
      "name": "email_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1480,
        80
      ]
    },
    {
      "parameters": {
        "queue": "[CADASTRO] [PEC0325]",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}"
        }
      },
      "id": "ceaf8aaf-9ee8-4239-8fb9-f4949099b50c",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        240
      ],
      "credentials": {
        "rabbitmq": {
          "id": "DG2PMHOSIQ0AOSwK",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"existe_cadastro\"].json[\"evento\"] }}",
              "rightValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Evento\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87989bc9-0141-42a6-b3e3-35954492ae6a",
      "name": "evento_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3240,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] === $node[\"chega_da_fila\"].json[\"content\"][\"email\"] ? $node[\"chega_da_fila\"].json[\"content\"][\"email\"] : \"---------\" }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c8166343-c3aa-4265-8215-4b2b9b2d008d",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1500,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3600,
        -260
      ],
      "id": "0e89ed7e-6b00-4a51-8ac6-e14f34255645",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "# RECEBE DADOS DO WEBHOOK",
        "height": 400,
        "width": 1100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -580,
        -780
      ],
      "id": "f4b61afb-1ca1-47eb-98ab-71b1008eb9bf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# DISTRIBUI DADOS ENTRE BANCO DE DADOS E ACTIVE CAMPAIGN",
        "height": 1087,
        "width": 4613,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        -320
      ],
      "typeVersion": 1,
      "id": "3070798b-78e6-434a-bbfe-d9d5dcee3648",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# VERIFICAÇÃO SE ENTROU NO GRUPO DEPOIS DE 10MIN",
        "height": 1087,
        "width": 4613,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        860
      ],
      "typeVersion": 1,
      "id": "6df37441-a0e0-4013-8e4d-73400078e994",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads_nos_grupos",
          "mode": "list",
          "cachedResultName": "leads_nos_grupos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -400,
        1340
      ],
      "id": "29f3ed94-ce5e-439c-a9d9-da66881e30f4",
      "name": "MySQL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "afb17ffa-aa39-4abd-bd2e-a3e504916de5",
      "name": "nao_encontrou_telefone1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        1360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0b43ebf2-3b3b-4851-b3ff-a91252309dfd",
              "leftValue": "={{ $node[\"cria_contato_manychat2\"].json[\"error\"][\"message\"] }}",
              "rightValue": "The input value is not a valid WhatsApp ID",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "51d5bf4a-ff06-4b3a-9a22-51afcba3a85d",
      "name": "verifica_whatsapp1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        1240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Thiago. Posso ter seu contato?"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{ $json[\"data\"][\"0\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0f066b4d-6fc1-4acb-922e-bc25cbeb8ea0",
      "name": "atualiza_contato_manychat2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        1460
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"field_id\"] }}"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec177b7b-2f6f-474d-9be8-4c1c4db7b555",
      "name": "define_campo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        1500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow_ns",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"fluxo\"] }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "9b860191-d391-4e1c-b59d-5fd5bacad580",
      "name": "envia_fluxo_boas_vindas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        1340
      ]
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByCustomField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "field_id",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"field_id\"] }}"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c2c7b6c1-78f4-4525-9495-3e3929407b7c",
      "name": "procura_id_manychat_pelo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        100,
        1340
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Edit Fields3\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields3\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Engenheiro Matheus. Posso ter seu contato?"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields3\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "13f84072-663b-4fe0-b6b9-71cf1206daab",
      "name": "cria_contato_manychat2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        1240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"telefone\"] }}",
              "type": "string"
            },
            {
              "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
              "name": "data",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "7a3d4fcd-81b7-4ef3-addc-f2ad5b9cdc9e",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "9c0ec6b5-898c-4384-a1cc-77ceb52978b3",
              "name": "field_id",
              "value": "11740319",
              "type": "string"
            },
            {
              "id": "c6b5b62a-ec31-4b6d-b93a-9873c73f7afc",
              "name": "fluxo",
              "value": "content20250406162007_619630",
              "type": "string"
            },
            {
              "id": "0fa3844c-2147-4d51-a5e7-b41b0ac56bda",
              "name": "key",
              "value": "515576:cfcb6f46619ae66a47cbb8260807c982",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0d309976-7ff7-42e6-9b18-099cfe801b6f",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        1340
      ]
    },
    {
      "parameters": {},
      "id": "cce12e46-37c5-4f70-a72b-1040e73e1b36",
      "name": "fim1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1640,
        1340
      ]
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-GXs8FaTCFzVOLe1fsSwMlg",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "[CADASTRO] [PEC0325]"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "email": "jonas@gmail.com",
            "utm_source": null,
            "utm_campaign": null,
            "utm_term": null,
            "utm_medium": null,
            "utm_content": null,
            "form_id": "254b7a4e",
            "page": "https://engenheiromatheus.com/cadastro-pec/",
            "Evento": "Captação | PEC0325",
            "nome": "Jonas",
            "sobrenome": "Lucas",
            "telefone": "5527992310071"
          }
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.engenheiromatheus.com",
            "user-agent": "WordPress/6.7.2; https://engenheiromatheus.com",
            "content-length": "207",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "177.154.191.229",
            "x-forwarded-host": "webhook.engenheiromatheus.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7e5b8bef7460",
            "x-real-ip": "177.154.191.229"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "abilio santana",
            "E-mail": "abiliosanta@gmail.com",
            "Telefone": "+55279919321",
            "utm_source": "share",
            "utm_campaign": "share_via",
            "utm_medium": "android_app",
            "utm_content": "profile",
            "utm_term": "",
            "form_id": "254b7a4e",
            "form_name": "cadastro-pec"
          },
          "webhookUrl": "https://webhook.engenheiromatheus.com/webhook/pec0325",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-19T04:46:33.880Z",
      "updatedAt": "2025-03-19T04:46:33.880Z",
      "id": "PxviFA6iloeaurvs",
      "name": "[CADASTRO] [PEC0325]"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-04-06T17:28:54.411Z",
  "versionId": "df25d2bd-612d-46a6-a65c-c0874264abc2"
}