workflows/🟠 Fluxo do Typebot - [Lista de Espera Abril] [DESATIVADO].json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "grupo_lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_telefone1": {
      "main": [
        [
          {
            "node": "cria_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_manychat2": {
      "main": [
        [
          {
            "node": "verifica_whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_whatsapp1": {
      "main": [
        [],
        [
          {
            "node": "atualiza_contato_manychat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_manychat2": {
      "main": [
        [
          {
            "node": "define_campo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_telefone1": {
      "main": [
        [
          {
            "node": "nao_encontrou_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_telefone1": {
      "main": [
        [
          {
            "node": "define_campo_MEDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo_boas_vindas1": {
      "main": [
        [
          {
            "node": "fim1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "grupo_lista": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "encontrou_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_users": {
      "main": [
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro": {
      "main": [
        [
          {
            "node": "insert_pesquisa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_pesquisa": {
      "main": [
        []
      ]
    },
    "pesquisa_user1": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_MEDO": {
      "main": [
        [
          {
            "node": "define_campo_VALOR DA OBRA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_VALOR DA OBRA": {
      "main": [
        [
          {
            "node": "envia_fluxo_boas_vindas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_telefone": {
      "main": [
        [
          {
            "node": "cria_contato_manychat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_manychat": {
      "main": [
        [
          {
            "node": "verifica_whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_whatsapp": {
      "main": [
        [],
        [
          {
            "node": "atualiza_contato_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_manychat": {
      "main": [
        [
          {
            "node": "define_campo_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_telefone": {
      "main": [
        [
          {
            "node": "nao_encontrou_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_telefone": {
      "main": [
        [
          {
            "node": "define_campo_MEDO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo_boas_vindas": {
      "main": [
        [
          {
            "node": "fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_MEDO1": {
      "main": [
        [
          {
            "node": "define_campo_VALOR DA OBRA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_VALOR DA OBRA1": {
      "main": [
        [
          {
            "node": "envia_fluxo_boas_vindas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar na audiência": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "atualiza_campo-30-dias1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar contato": {
      "main": [
        [
          {
            "node": "atualiza_campo-30-dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campo-nome-do-filho": {
      "main": [
        [
          {
            "node": "atualiza_campo-nome-responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campo-30-dias": {
      "main": [
        [
          {
            "node": "atualiza_campo-nome-do-filho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campo-nome-responsavel": {
      "main": [
        [
          {
            "node": "atualiza_campo-motivo-alegado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campo-motivo-alegado": {
      "main": [
        [
          {
            "node": "envia_tag_qualificado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campo-nome-do-filho1": {
      "main": [
        [
          {
            "node": "atualiza_campo-nome-responsavel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campo-30-dias1": {
      "main": [
        [
          {
            "node": "atualiza_campo-nome-do-filho1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campo-nome-responsavel1": {
      "main": [
        [
          {
            "node": "atualiza_campo-motivo-alegado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campo-motivo-alegado1": {
      "main": [
        [
          {
            "node": "envia_tag_qualificado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-26T19:11:44.353Z",
  "id": "paLLEXklA5Qh47pz",
  "meta": null,
  "name": "🟠 Fluxo do Typebot - [Lista de Espera Abril] [DESATIVADO]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "04a9fc36-6acd-4b42-8f7f-00e53a101123",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "59dda921-1328-42fe-a9cf-2a6394190511",
      "name": "Webhook",
      "webhookId": "04a9fc36-6acd-4b42-8f7f-00e53a101123"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads_nos_grupos",
          "mode": "list",
          "cachedResultName": "leads_nos_grupos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        660,
        0
      ],
      "id": "22e8bce7-8796-4dc2-8a94-0a97ac24c3fb",
      "name": "MySQL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst resultados = [];\n\nfor (const item of items) {\n  const body = item.json.body;\n  let telefone = body[\"Nome e Telefone (1)\"];\n  const nomeCompleto = body[\"Nome e Telefone\"];\n\n  if (telefone) {\n    if (!telefone.startsWith(\"55\")) {\n      telefone = \"55\" + telefone;\n    }\n  }\n\n  if (nomeCompleto) {\n    const partesNome = nomeCompleto.trim().split(\" \");\n    const nome = partesNome[0];\n    const sobrenome = partesNome.slice(1).join(\" \");\n\n    resultados.push({\n      nome: nome,\n      sobrenome: sobrenome,\n      telefone: telefone,\n    });\n  } else {\n    resultados.push({ telefone: telefone });\n  }\n}\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "94051151-dba7-4fa2-9429-e953d14166b2",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce14e610-05e1-47e4-968f-0833b7bafa08",
              "leftValue": "={{ $json[\"nome_grupo\"] }}",
              "rightValue": "[PEC] LISTA DE ESPERA - ABRIL/25",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        0
      ],
      "id": "307178a0-b057-4ed6-890d-ba0955bb344a",
      "name": "grupo_lista",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "bdbaba86-a779-4bd2-ac10-8a69c8c93547",
      "name": "nao_encontrou_telefone1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1760,
        -200
      ]
    },
    {
      "parameters": {},
      "id": "3b872ee0-c4f7-46ac-ac5d-7b789e33deb9",
      "name": "fim1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3340,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields2\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields2\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Matheus. Posso ter seu contato?"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "."
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e78cc13c-a7f6-405a-89ca-561a2d1c90be",
      "name": "cria_contato_manychat2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2060,
        -320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0b43ebf2-3b3b-4851-b3ff-a91252309dfd",
              "leftValue": "={{ $node[\"cria_contato_manychat2\"].json[\"error\"][\"message\"] }}",
              "rightValue": "The input value is not a valid WhatsApp ID",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e7ec49e-40f2-47af-bbf2-7de77aa99cd7",
      "name": "verifica_whatsapp1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2260,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields2\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields2\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Matheus. Posso ter seu contato?"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "."
            },
            {
              "name": "subscriber_id",
              "value": "={{ $json[\"data\"][\"0\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8a670e1a-31b2-40b8-b943-a831b4bbbdce",
      "name": "atualiza_contato_manychat2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2040,
        -60
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByCustomField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "field_id",
              "value": "11749335"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "options": {}
      },
      "id": "3fe2738d-8537-4312-9c87-72bf0b9f4be0",
      "name": "procura_id_manychat_pelo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1540,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "11749335"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cc244986-790c-4752-8cc5-1bd7ec0c0a80",
      "name": "define_campo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2300,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow_ns",
              "value": "content20250225043028_541344"
            },
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "842fc5a6-71a6-4c42-886e-c624ec2070d4",
      "name": "envia_fluxo_boas_vindas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3060,
        -60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
              "name": "nome",
              "value": "={{ $node[\"Code\"].json[\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
              "name": "telefone",
              "value": "={{ $node[\"Code\"].json[\"telefone\"] }}",
              "type": "string"
            },
            {
              "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
              "name": "data",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "00fa81b1-b695-4099-973d-712c2f2a2a99",
              "name": "sobrenome",
              "value": "={{ $node[\"Code\"].json[\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "5c805b4d-3a0b-4b75-8046-90cf3473a9ae",
              "name": "RESPOSTA DA PESQUISA SOBRE O MEDO",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Group #3\"] }}",
              "type": "string"
            },
            {
              "id": "81748ada-13d0-4cf6-b07a-a91e125243ea",
              "name": "RESPOSTA SOBRE O VALOR DA OBRA",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Group #2\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "743272c3-e877-433f-8b1d-739b89d4ac78",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $json[\"telefone\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "5b2bb927-f569-458f-b16e-bd2961943b39",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -460,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "26f63d9e-cbd9-4fb9-afe3-dbf103ff4ce8",
      "name": "encontrou_user",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -300,
        460
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data_de_entrada",
              "value": "={{ $now }}"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"Code\"].json[\"nome\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"Code\"].json[\"sobrenome\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"Code\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "4bea384b-69ba-467c-8e84-d0d807b4d4c2",
      "name": "insere_lead_na_tabela_users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -60,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cadastros",
          "mode": "list",
          "cachedResultName": "cadastros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $json[\"id\"] }}"
            },
            {
              "column": "evento",
              "value": "Lista de Espera | PEC - Abril25\n"
            }
          ]
        },
        "options": {}
      },
      "id": "edb7b885-9cbd-4e57-a415-137a387215e4",
      "name": "pesquisa_cadastro",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        620,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "pesquisas",
          "mode": "list",
          "cachedResultName": "pesquisas"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_user",
              "value": "={{ $node[\"pesquisa_user\"].json && $node[\"pesquisa_user\"].json.id ? $node[\"pesquisa_user\"].json[\"id\"] : ($node[\"pesquisa_user1\"].json && $node[\"pesquisa_user1\"].json.id ? $node[\"pesquisa_user1\"].json[\"id\"] : null) }}\n"
            },
            {
              "column": "id_cadastro",
              "value": "={{ $json[\"id\"] }}"
            },
            {
              "column": "pergunta1",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Group #1\"] }}"
            },
            {
              "column": "pergunta2",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Group #2\"] }}"
            },
            {
              "column": "pergunta3",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Group #3\"] }}"
            },
            {
              "column": "pergunta4",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Group #4\"] }}"
            },
            {
              "column": "pergunta5",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Group #5\"] }}"
            },
            {
              "column": "data_pesquisa",
              "value": "={{ $now }}"
            },
            {
              "column": "nome_pesquisa",
              "value": "Lista de Espera | PEC - Abril25"
            },
            {
              "column": "pergunta6",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Group #5 (1)\"] }}"
            },
            {
              "column": "pergunta7",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Group #5 (2)\"] }}"
            },
            {
              "column": "pergunta8",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Group #5 (3)\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0048efd6-b2ee-4714-b448-5c48778115f0",
      "name": "insert_pesquisa",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        880,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $json[\"telefone\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "5cad75c3-4f46-43c8-930b-d976a081668e",
      "name": "pesquisa_user1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        180,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "0E9JxipHlJ4dAQMU",
          "name": "MySQL - eng_matheus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "12575285"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields2\"].json[\"RESPOSTA DA PESQUISA SOBRE O MEDO\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e7ee87c-ebd6-4a27-a92b-ffba087b97ca",
      "name": "define_campo_MEDO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2540,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat2\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat2\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "12575286"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields2\"].json[\"RESPOSTA SOBRE O VALOR DA OBRA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a2db9ad2-249f-4b8c-8047-cd62461e7725",
      "name": "define_campo_VALOR DA OBRA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2800,
        -60
      ]
    },
    {
      "parameters": {
        "content": "# FLUXO MSG 1 (ENTROU)",
        "height": 567,
        "width": 2313,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        -400
      ],
      "typeVersion": 1,
      "id": "69a54c50-f08b-40f1-8888-0e0137a44026",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "7c67a5fa-c15f-478b-a01d-2df98df67561",
      "name": "nao_encontrou_telefone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1760,
        480
      ]
    },
    {
      "parameters": {},
      "id": "0b51cf33-4a3f-4af4-9595-8ebbb2b91b9c",
      "name": "fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3340,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Matheus. Posso ter seu contato?"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "."
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "32a27bfd-5d70-4db2-9374-0f5f44d4e596",
      "name": "cria_contato_manychat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2060,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0b43ebf2-3b3b-4851-b3ff-a91252309dfd",
              "leftValue": "={{ $node[\"cria_contato_manychat\"].json[\"error\"][\"message\"] }}",
              "rightValue": "The input value is not a valid WhatsApp ID",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a9392809-3f0e-447b-85ed-dce3560f7953",
      "name": "verifica_whatsapp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2260,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é o Matheus. Posso ter seu contato?"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields\"].json[\"telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "."
            },
            {
              "name": "subscriber_id",
              "value": "={{ $json[\"data\"][\"0\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ab3c7b6b-ddc8-4c94-9676-cfc854406934",
      "name": "atualiza_contato_manychat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2040,
        620
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByCustomField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "field_id",
              "value": "11749335"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields\"].json[\"telefone\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "options": {}
      },
      "id": "ba48bb6f-efb6-46bf-9fa6-da6cc0333d3b",
      "name": "procura_id_manychat_pelo_telefone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1540,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "11749335"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "95c17228-d9bf-4469-95d6-1e34cab1e7ed",
      "name": "define_campo_telefone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2300,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow_ns",
              "value": "content20250225043504_824572"
            },
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e62eb827-49cb-4e28-b6f3-378e19ce8cd0",
      "name": "envia_fluxo_boas_vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3060,
        620
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
              "name": "nome",
              "value": "={{ $node[\"Code\"].json[\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
              "name": "telefone",
              "value": "={{ $node[\"Code\"].json[\"telefone\"] }}",
              "type": "string"
            },
            {
              "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
              "name": "data",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "00fa81b1-b695-4099-973d-712c2f2a2a99",
              "name": "sobrenome",
              "value": "={{ $node[\"Code\"].json[\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "5c805b4d-3a0b-4b75-8046-90cf3473a9ae",
              "name": "RESPOSTA DA PESQUISA SOBRE O MEDO",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Group #3\"] }}",
              "type": "string"
            },
            {
              "id": "81748ada-13d0-4cf6-b07a-a91e125243ea",
              "name": "RESPOSTA SOBRE O VALOR DA OBRA",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Group #2\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "749e31a0-edd3-4efd-9b49-a1097530f93d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "12575285"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields\"].json[\"RESPOSTA DA PESQUISA SOBRE O MEDO\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bf7302a3-af5f-4052-9e05-90739352e852",
      "name": "define_campo_MEDO1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2540,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 522428:bf33faa042c21594be282375af4cef12"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "12575286"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields\"].json[\"RESPOSTA SOBRE O VALOR DA OBRA\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "105a64c0-7e88-4469-809b-c2488d2f3d37",
      "name": "define_campo_VALOR DA OBRA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2800,
        620
      ]
    },
    {
      "parameters": {
        "content": "# FLUXO MSG 2 (Ñ ENTROU)",
        "height": 567,
        "width": 2313,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        280
      ],
      "typeVersion": 1,
      "id": "e61deefa-5e6b-483a-ac9f-c70eb91cfc3b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# CADASTRA PESQUISA NO BANCO DE DADOS",
        "height": 570,
        "width": 1457
      },
      "id": "c6f59ac8-cbae-408b-bc3a-68ddbb36a0ca",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -600,
        280
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes",
        "path": "198ff6c2-f631-4c07-ace1-1a0977ab53a9"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "a59900ef-8f23-44f7-a68e-d17e63c9a6c3",
      "name": "Wait",
      "webhookId": "198ff6c2-f631-4c07-ace1-1a0977ab53a9"
    },
    {
      "parameters": {
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/+554999252295/",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "47a11be4-ca54-4008-924f-768a73317cc0"
            }
          ]
        }
      },
      "name": "Verificar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1420,
        1240
      ],
      "id": "35bce755-3bd1-477e-a395-81c939505d12",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1600,
        1240
      ],
      "id": "de7293b7-fcc2-404a-9525-5e60145245e4"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields\"].json[\"Telefone do Responsável\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields\"].json[\"Nome Responsável\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields\"].json[\"Sobrenome Responsável\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "=4ee5b6af-5010-4817-870d-71414877231e"
            }
          ]
        }
      },
      "name": "Cadastrar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        1320
      ],
      "id": "d3c205bc-f850-47a7-9f45-922113108039",
      "executeOnce": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrar contato\"].json[\"id\"] }}/tags/2430496/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "=4ee5b6af-5010-4817-870d-71414877231e"
            }
          ]
        },
        "options": {}
      },
      "id": "cb333ba9-d26c-4b78-a44e-9da32305dc6a",
      "name": "envia_tag_qualificado2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2740,
        1320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrar contato\"].json[\"id\"] }}/custom_fields/2381733/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $node[\"Edit Fields\"].json[\"Nome do Aluno\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "=4ee5b6af-5010-4817-870d-71414877231e"
            }
          ]
        }
      },
      "name": "atualiza_campo-nome-do-filho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2180,
        1320
      ],
      "id": "5bd32837-f19b-4fd5-a443-885c3506a39a",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/2321387/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $node[\"30 Dias - Após - Formatado\"].json[\"30 Dias - Após - Formatado\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "=4ee5b6af-5010-4817-870d-71414877231e"
            }
          ]
        }
      },
      "name": "atualiza_campo-30-dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1980,
        1320
      ],
      "id": "1fade1d2-f2b3-42b2-8d36-92d56989fa09",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrar contato\"].json[\"id\"] }}/custom_fields/2381904/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $node[\"Edit Fields\"].json[\"Nome Completo do Responsável \"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "=4ee5b6af-5010-4817-870d-71414877231e"
            }
          ]
        }
      },
      "name": "atualiza_campo-nome-responsavel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2380,
        1320
      ],
      "id": "8b03dda4-a014-4d4e-a7d6-2b04f238fac8",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrar contato\"].json[\"id\"] }}/custom_fields/2381915/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $node[\"Edit Fields\"].json[\"Motivo do Cancelamento\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "=4ee5b6af-5010-4817-870d-71414877231e"
            }
          ]
        }
      },
      "name": "atualiza_campo-motivo-alegado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2560,
        1320
      ],
      "id": "7d412e04-6f46-4f16-933a-720d1f151583",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Verificar na audiência\"].json[\"id\"] }}/tags/2430496/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "=4ee5b6af-5010-4817-870d-71414877231e"
            }
          ]
        },
        "options": {}
      },
      "id": "a4b5f6cf-0dbf-4834-96a0-6793a0715564",
      "name": "envia_tag_qualificado3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2600,
        1120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Verificar na audiência\"].json[\"id\"] }}/custom_fields/2381733/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $node[\"Edit Fields\"].json[\"Nome do Aluno\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "=4ee5b6af-5010-4817-870d-71414877231e"
            }
          ]
        }
      },
      "name": "atualiza_campo-nome-do-filho1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2000,
        1120
      ],
      "id": "e3c9b91b-1286-48c5-8693-7ac6cd455f67",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Verificar na audiência\"].json[\"id\"] }}/custom_fields/2321387/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $node[\"Edit Fields\"].json[\"Data 30 Dias - formatada\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "=4ee5b6af-5010-4817-870d-71414877231e"
            }
          ]
        }
      },
      "name": "atualiza_campo-30-dias1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        1120
      ],
      "id": "566aaf7d-7268-4ea5-a6b3-a5674b5c1558",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Verificar na audiência\"].json[\"id\"] }}/custom_fields/2381904/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $node[\"Edit Fields\"].json[\"Nome Completo do Responsável \"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "=4ee5b6af-5010-4817-870d-71414877231e"
            }
          ]
        }
      },
      "name": "atualiza_campo-nome-responsavel1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2200,
        1120
      ],
      "id": "abf2d4b5-6327-4e4f-b9a6-491d74d7fc4b",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Verificar na audiência\"].json[\"id\"] }}/custom_fields/2381915/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $node[\"Edit Fields\"].json[\"Motivo do Cancelamento\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "=4ee5b6af-5010-4817-870d-71414877231e"
            }
          ]
        }
      },
      "name": "atualiza_campo-motivo-alegado1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2400,
        1120
      ],
      "id": "442b1f7d-80d1-4b71-bfe8-d89047f7da8a",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/custom_fields/",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "5a0e47da-df8c-4f73-87e2-2a72993b790c"
            }
          ]
        }
      },
      "name": "ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1840,
        1620
      ],
      "id": "8f1a7696-5aaf-438d-b7d8-f8bc5b76cf02",
      "continueOnFail": true
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.engenheiromatheus.com",
            "user-agent": "node",
            "content-length": "340",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "baggage": "sentry-environment=production,sentry-release=8ad53debef16c49067528ac668468b4df80ea56e,sentry-public_key=e5dde145dc9f6d7a3a558ee8ee1ab3a5,sentry-trace_id=55bd0ed292c31a2c5fdf8f31ef8cb845,sentry-transaction=POST%20%2Fapi%2F%5B...trpc%5D,sentry-sampled=true,sentry-sample_rand=0.5440227068438408,sentry-sample_rate=1",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "sentry-trace": "55bd0ed292c31a2c5fdf8f31ef8cb845-6e2a1145359f8a1e-1",
            "x-forwarded-for": "18.169.127.123",
            "x-forwarded-host": "webhook.engenheiromatheus.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7e5b8bef7460",
            "x-real-ip": "18.169.127.123",
            "x-vercel-id": "gru1::9tqhh-1740420578729-cc6b8923835b"
          },
          "params": {},
          "query": {},
          "body": {
            "submittedAt": "2025-02-24T18:09:38.849Z",
            "Nome e Telefone": "Marcos ",
            "Nome e Telefone (1)": "27998210071",
            "Group #1": "Ainda vou comprar um terreno",
            "Group #2": "entre 300 e 500 mil reais",
            "Group #3": "Contratar mão de obra errada",
            "Group #4": "Sim",
            "Group #5": "12131",
            "Group #5 (1)": "123131",
            "Group #5 (2)": "1321312",
            "Group #5 (3)": "1321231"
          },
          "webhookUrl": "https://webhook.engenheiromatheus.com/webhook/eddedc59-b769-4ea1-9077-d8fc406208b6",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-25T05:25:07.739Z",
      "updatedAt": "2025-02-25T05:25:07.739Z",
      "id": "FXMPnK1YxoMBjtRs",
      "name": "[Lista de Espera Abril]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-26T19:11:44.353Z",
  "versionId": "1ac3d22f-7d09-422e-8dbf-48a077903e66"
}